<template>
    <div class="row">
        <div class="col-md-9">
            <h3 class="mb-5">Activities</h3>
            <div class="dashboard-row">
                <div class="activity" v-if="activities.length" v-for="activity in activities">
                    <h4>{{activity.created_at | dateFormatter}}</h4>
                    <div class="img">
                        <!-- <img src="https://picsum.photos/70/63" alt="" > -->
                    </div>
                    <div class="activity-info" v-if="activity.activity_type === 'search'">
                        <p>Searched for an Item</p>
                        <span>Item Name | <strong>{{activity.activity_info.search_term}}</strong></span>
                    </div>
                    <div class="activity-info" v-if="activity.activity_type === 'booking'">
                        <p>Booked an Item</p>
                        <span>Item Name | <strong>{{activity.activity_info.itemName}}</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    data(){
        return {
            activities: [],
        }
    },
    mounted(){
        this.getActivities();
    },
    methods: {
        getActivities: function ()
        {
            axios.get(`${this.pathOrigin}/user/get_activities`)
            .then(res => {
                res.data.map( data => {
                    data.activity_info = JSON.parse(data.activity_info)
                })
                this.activities = res.data
            })
            .catch(err => {
                cosole.log(err)
            })
        }
    },
    filters: {
        dateFormatter: function (value) {
            const date = new Date(value)
            const dateTimeFormat = new Intl.DateTimeFormat('en', { year: 'numeric', month: 'short', day: '2-digit' }) 
            const [{ value: month },,{ value: day },,{ value: year }] = dateTimeFormat.formatToParts(date)
            return `${day}-${month}-${year}`;
        }
    },
    
}
</script>