<template>
    <div>
        <div class="preloader">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div class="container search">
            <!-- cart items -->
            <!-- <div class="row"></div> -->
            <h2 class="mt-3">Cart <span style="font-size: 18px" class="text-muted">({{cartItems.length}} Items)</span></h2>
            <div class="row mt-3" v-if="cartItems.length">
                <div class="col-md-7 mb-3">
                    <div class="card border-light" v-for="(cartItem, index) in cartItems" :key="index">
                        <div class="card-body row">
                            <div class="col-4">
                                <img class="img-fluid rounded" :src="getImage(cartItem.images)" />
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-7">
                                        <p>{{cartItem.name}}</p>
                                        <p>{{cartItem.amount | formatCurrency}}</p>
                                        <button @click.prevent="changeQuantity('decrease', cartItem.shop_item_id)" class="btn btn-sm btn-default">
                                            <i class="material-icons">remove</i>
                                        </button>
                                        <span class="text-dark mx-sm-1 mx-lg-3">{{cartItem.quantity}}</span>
                                        <button @click.prevent="changeQuantity('increase', cartItem.shop_item_id)" class="btn btn-sm btn-default">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                    <div class="col text-right" style="padding-right: 0px">
                                        <p><a href="#" @click.prevent="removeItem(cartItem.shop_item_id)" class="text-dark"><i class="material-icons">delete</i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" v-if="cartItems.length">
                    <div class="card">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div>Cart Summary</div>
                                <a href="#" @click="clearCart" class="text-danger mr-0">Clear cart</a>
                            </div>
                        </div>
                        <div class="card-body row justify-content-center">
                            <div class="col-12 h6">
                                <p> <span class="text-muted">Total Items:</span> {{totalCartItems}}</p>
                                <p> <span class="text-muted">Total Cost:</span> {{totalCartItemsCost | formatCurrency}}</p>
                                <p><span class="text-muted">Checkout Method:</span> Cash on pickup </p>
                            </div>
                            <div>
                                <a v-if="!loginStatus" @click="openCheckoutAuthModal()" href="#" class="btn btn-primary">Checkout</a>
                                <a v-else :href="pathOrigin+'/user/orders'" class="btn btn-primary">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3" v-else>
                <div class="col-md-7 mb-3">
                    <div class="mt-5">
                        <div class="alert alert-warning">
                            <p>You do not have any item in your cart. <a :href="pathOrigin">Lets go shopping!.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <lonux-footer color="dark"></lonux-footer>
        <checkout></checkout>
    </div>
</template>
<script>
    import lonuxFooter from '../shared/footer.vue'
    import Checkout from '../shared/modals/Checkout.vue'
    import { mapGetters } from 'vuex'
    export default{
        props: {},
        data(){
           return{}
        }, 
        mounted(){
            this.$store.dispatch('fetchCart')
            this.$store.dispatch('checkAuth')
        }, 
        created(){
           $(window).on('load',function(){
               $('.preloader').hide();
           })
        },
        methods: {
            openCheckoutAuthModal(){
                const modal = $('div#checkoutModal')
                modal.modal('show')
            },
            changeQuantity(text, id){
                const data = {text, id}
                this.$store.dispatch('changeQuantity', data)
            },
            removeItem(id) {
                this.$store.dispatch("removeItem", id)
            },
            clearCart() {
                this.$store.dispatch('clearCart')
            }
        },
        filters: {},
        computed: {
            ...mapGetters(['cartItems', 'loginStatus']),
            totalCartItems(){
                let total = 0
                this.cartItems.map(item => {
                    total+= item.quantity
                })

                return total
            },
            totalCartItemsCost(){
                let total = 0
                this.cartItems.map(item => {
                    total+= item.amount * item.quantity
                })

                return total
            }
        },
       components: {
            lonuxFooter,
            Checkout
       }
    }
</script>


<style scoped>
    .preloader{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 10000;
    }
</style>