<template>
	<div class="container-fluid dashboard bg-light">
		<sidenav-component></sidenav-component>

		<div class="dashboard-content">
			<div class="row justify-content-end">
				<div class="col-md-9 position-relative">
					<topnav-component></topnav-component>
					<transition 
						name="fade"
						mode="out-in">
						<overview></overview>
					</transition>
				</div>
			</div>
		</div>

		<!-- <nav-component></nav-component> -->
	</div>
</template>

<script>
 
import SidenavComponent from './shared/sidenavComponent'
import TopnavComponent from "./shared/TopnavComponent.vue"
import overview from "./overview.vue"
export default {

	name: 'dashboard',

	data () {
	    return {}
	},
	components:{
		  SidenavComponent: SidenavComponent,
		  TopnavComponent: TopnavComponent,
		  overview
	},
	mounted(){
		// this.setRoute();
	},
	methods: {
		setRoute: function (){
			this.$router.push('/user/home/dashboard');
		}
	}
};
</script>

<style lang="css" scoped>
</style>