<template>
    <div>
        <div class="preloader">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div class="search">
            <div class="search-form search-form-body px-3">
                <div class="container">
                    <search-input></search-input>           
                </div>
            </div>
            <!-- location -->
            <div class="py-3 mb-2">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <span class="subtitle" v-show="loc == 'change'">
                                Your current location: <br/><strong class="font-weight-bold"> {{locationData.addr}} </strong>
                            </span> 
                            <div class="form-group " style="display:none" id="changeAddress" v-show="loc == 'save'">
                                <input type="text"  ref="changelocation" class="form-control" :value="locationData.addr" placeholder="type new location">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a href="#" id="changeLoc" @click="changeLoc()" v-show="loc == 'change'" class="btn btn-secondary btn-auth">change location</a>
                            <a href="#" id="saveLoc"  @click="saveLoc()" v-show="loc == 'save'" class="btn btn-secondary btn-auth">save location</a>
                        </div>
                    </div>
                </div>
                <div class="container mt-2" v-if="errorMsg">
                    <div class="alert alert-danger">
                        {{errorMsg}} <a v-if="errorMsg == 'Third party API error.'" @click.prevent="refreshPage" href="#">Reresh page</a>
                    </div>
                </div>
            </div>

            <!-- result -->
            <div class="search-result">
                <div class="container">
                    <!-- result count -->
                    <h2>Trip Summary</h2>

                    <div class="row">
                        <div class="col-12">
                            <h4>Your Location</h4>
                            <p>{{ locationData.addr }}</p>
                        </div>
                        <div class="col-6 text-center">
                            <p><i class="material-icons">south</i></p>
                        </div>
                    </div>
                    <div class="row" v-for="(order, index) in orders" :key="index">
                        <div class="col-12">
                            <h4>{{ order.shop.shop_name}} <a @click.prevent="openDetailsModal(order.orders, false)" class="small" href="#">View details</a> <span class="text-info" v-if="tripHasStarted && currentTargetLocation.lat == order.shop.lat">current destination</span></h4>
                            <p style="margin-bottom: 0px;">Mobile: <span class="font-weight-bolder"><a :href="'tel:'+ order.shop.user.phone">{{order.shop.user.phone}}</a></span></p>
                            <a v-if="tripHasStarted && currentTargetLocation.lat == order.shop.lat" @click.prevent="iHaveArrived(order)" class="text-sm" href="#">i have arrived</a> 
                            <p>{{ order.shop.shop_address }}</p>
                        </div>
                        <div v-if="index != orders.length -1" class="col-6 text-center">
                            <p class="col">
                                <i class="material-icons">south</i>
                            </p>
                        </div>
                    </div>

                    <div class="row mb-4 mt-4">
                        <div class="mb-4 font-weight-bolder col-md-4 text-lowercase">Total Distance {{(totalDistance / 1000).toFixed(2)}}KM, Total durations {{ (totalDurations/60).toFixed() }}mins</div>
                        <div class="col-md-6 text-center" v-if="!tripHasStarted">
                            <button @click="startTrip()" v-if="!errorMsg" class="btn btn-info btn-block">Start trip</button>
                            <button v-else disabled class="btn btn-info btn-block">Start trip</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12" style="height: 600px" id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>

        <handle-permissions v-if="Object.keys(locationData).length == 0"></handle-permissions>
        <lonux-footer color="dark"></lonux-footer>
        <rating :isFinalDestination="targetLocation.index == tripArray.length -1" :button_text="ratingModal.button_text" ref="ratingModal" v-if="tripArray.length" :tripObj="currentTargetLocation"></rating>
        <OrderCompletedModal ref="orderCompleted" />
        <order-details ref="detailsModal" :orders="selectedOrder"></order-details>
    </div>
</template>
<script>
    import OrderCompletedModal from './shared/modals/OrderCompletedModal.vue'
    import handlePermissions from '../shared/handlePermissions'
    import SearchField from '../shared/SearchField.vue'
    import lonuxFooter from '../shared/footer.vue'
    import Rating from './shared/modals/Rating.vue'
    import orderDetails from "./shared/modals/OrderDetails.vue"
    import { lonuxbus } from '../../app'
    import { mapGetters } from 'vuex'


    export default{
        props: {
            code: {
                type: String,
                required: true,
            },
        },
        data(){
           return{
                loc: 'change',
                errorMsg: "",
                travelMode: 'DRIVING',
                directionService: null,
                directionsRenderer: null,
                mapsErrorMessage: "",
                map: null,
                userLatLng: {},
                totalDistance: 0,
                totalDurations: 0,
                orders: [],
                end: null,
                waypoints: [],
                targetLocation: {},
                tripArray : [],
                ratingModal: {
                    button_text: "Publish review"
                },
                currentTargetLocation: {},
                tripHasStarted: false,
                selectedOrder: []
           }
       }, 
    
        mounted(){
            this.$store.dispatch('fetchLocation')

            let vue = this
            $("#changeAddress input").on('focus', function(){
                vue.googleAuto()
            })

            this.initComponent()

            lonuxbus.$on('rating_closed', () => {
               if (this.targetLocation.index + 1 <= this.tripArray.length -1) {
                    const endLoc = this.tripArray[this.targetLocation.index+1]
                    this.end = new google.maps.LatLng(endLoc.shop.lat, endLoc.shop.lng)
                    this.targetLocation.lat = endLoc.shop.lat
                    this.targetLocation.lng = endLoc.shop.lng
                    this.targetLocation.index = this.targetLocation.index + 1
                    this.currentTargetLocation = this.tripArray[this.targetLocation.index]
                    this.calcRoute()
                } else {
                    this.completeOrder()
                }
            })
        }, 
        computed: {
            ...mapGetters(['locationData'])
        },
        methods: {
            openDetailsModal(arr, bool){
                this.$refs.detailsModal.bootModal(arr, bool)
                const modal = $('div#orderDetails')
                this.selectedOrder = arr
                modal.modal('show')
            },
            completeOrder(){
                const fd = {
                    code: this.code
                }
                axios.put(`${this.pathOrigin}/user/orders/${this.code}`, fd)
                .then(res => {
                    this.$refs.orderCompleted.$refs.orderCompleted.open()
                })
                .catch(err => console.log(err))
            },
            iHaveArrived(order){
                this.currentTargetLocation = this.tripArray[this.targetLocation.index]
                this.showRating()
            },
            showRating(){
                const component = this.$refs.ratingModal.$refs.ratingModal
                if (this.targetLocation.index < this.tripArray.length -1) {
                    this.ratingModal.button_text = 'Publish and continue trip'
                }

                if (this.targetLocation.index == this.tripArray.length - 1) {
                    this.ratingModal.button_text = 'Publish and complete trip'
                }
                component.open()
            },
            initComponent(){
                if (Object.keys(this.locationData).length === 0) {
                    this.fetchLocation( () => {
                        this.getOrder();
                    })
                } else {
                    this.getOrder()
                }
            },
            initMap(){
                this.userLatLng = { lat: this.locationData.lat, lng: this.locationData.lng }
                const mapOptions = {
                    center: this.userLatLng,
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    draggable: true,
                }

                const el = document.getElementById('googleMap')

                this.map = new google.maps.Map(el, mapOptions)

                this.directionService = new google.maps.DirectionsService();
                this.directionsRenderer = new google.maps.DirectionsRenderer();
                this.directionsRenderer.setMap(this.map)

                this.calcRoute()
            },
            calcRoute(){
                let vue = this;
                var start = new google.maps.LatLng(this.locationData.lat, this.locationData.lng);
                var request = {
                    origin: start,
                    destination: vue.end,
                    travelMode: google.maps.TravelMode[this.travelMode],
                    unitSystem: google.maps.UnitSystem.METRIC,
                    optimizeWaypoints: true,
                    waypoints: vue.waypoints,
                };
                
                this.directionService.route(request, function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        response.routes[0].legs.map(leg => {
                            vue.totalDurations += leg.duration.value
                            vue.totalDistance += leg.distance.value
                        })
                        vue.directionsRenderer.setDirections(response);
                        vue.errorMsg = ""
                    } else {
                        vue.directionsRenderer.setDirections({routes: []})
                        vue.map.setCenter(vue.userLatLng)
                        vue.errorMsg = "There is no "+ vue.travelMode+ " route for these locations"
                    }
                });

                this.watchPostion()
            },
            getOrder(){
                const url = this.pathOrigin + "/user/orders/"+this.code
                axios.get(url)
                .then(res => {
                    this.orders = res.data.data
                    if (this.orders[0].orders[0].status == 'Completed') {
                        this.$refs.orderCompleted.$refs.orderCompleted.open()
                        return
                    }
                    this.getCoordinates()
                })
                .catch(err => {
                    console.log(err)
                    this.errorMsg = "Unable to retrieve order try again"
                })
                .finally( () => {
                    $('.preloader').hide();
                })
            },
            startTrip(){
                this.waypoints = []
                this.initMap()
                this.tripHasStarted = true
                window.scrollTo(0, document.body.scrollHeight - 30);
            },
            getCoordinates(){
                var array = []
                this.orders.map(async order => {
                    const short = order.orders[0]
                    short.item_data = JSON.parse(short.item_data)
                    const d = {
                        ...order,
                        ...short,
                        lat: order.shop.lat,
                        lng: order.shop.lng,
                        distance: this.distance(this.locationData.lat, this.locationData.lng, order.shop.lat, order.shop.lat, "k")
                    }
                    array.push(d)
                })

                console.log(array)

                if (array.length > 1) {
                    
                    array.sort( (a, b) => {
                        return a.distance - b.distance 
                    })

                    this.targetLocation.index = 0
                    const endObj = array[this.targetLocation.index]
                    this.end = new google.maps.LatLng(endObj.lat, endObj.lng);
                    this.targetLocation.lat = endObj.lat
                    this.targetLocation.lng = endObj.lng

                    this.tripArray = array
                    this.currentTargetLocation = array[this.targetLocation.index]
                    array.map(arr => {
                        var a = {
                            location: new google.maps.LatLng(arr.lat, arr.lng),
                            stopover: true,
                        }
                        this.waypoints.push(a)
                    })
                } else {
                    const lat = array[0].lat
                    const lng = array[0].lng
                    this.targetLocation.lat = lat
                    this.targetLocation.lng = lng
                    this.targetLocation.index = 0
                    this.tripArray = array

                    this.currentTargetLocation = array[this.targetLocation.index]

                    this.end = new google.maps.LatLng(lat, lng);
                }

                this.initMap();
            },
            watchPostion(){
                navigator.geolocation.watchPosition( async (pos) => {
                    const lat = position.coords.latitude
                    const lng = position.coords.longitude
                    const googleApi = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&key=' + apikey
                    try {
                        const data = await $.get(googleApi) 
                        const locationData = {
                            addr: data.results[0].formatted_address,
                            lng: data.results[0].geometry.location.lng,
                            lat: data.results[0].geometry.location.lat
                        }
                        this.errorMsg = ""
                        closure()
                        this.$store.dispatch('saveUserLocationAction', locationData)
                    } catch (error) {
                        console.log(error)
                        this.errorMsg = "Third party API error."
                    }

                    if (pos.coords.latitude === this.targetLocation.lat && pos.coords.longitude === this.targetLocation.lng) {
                        // user has arrived at the shop
                        this.showRating()
                        if (this.targetLocation.index + 1 <= this.tripArray.length -1) {
                            const endLoc = this.tripArray[this.targetLocation.index+1]
                            this.end = new google.maps.LatLng(endLoc.shop.lat, endLoc.shop.lng)
                            this.targetLocation.lat = endLoc.shop.lat
                            this.targetLocation.lng = endLoc.shop.lng
                            this.targetLocation.index = this.targetLocation.index + 1
                        }
                    }
                })
            },
            // async geocodeAddress(obj){
            //     const geocoder = new google.maps.Geocoder();
            //     await geocoder.geocode( { 'address': obj.address}, function(results, status) {
            //     if (status == 'OK') {
            //         obj.lat = results[0].geometry.location.lat()
            //         obj.lng = results[0].geometry.location.lng()
            //         console.log(results[0].geometry.location, obj);
            //     } else {
            //         alert('Geocode was not successful for the following reason: ' + status);
            //     }
            //     });
            // },
            refreshPage(){
                location.reload()
            },
            fetchLocation(closure){
                const apikey = 'AIzaSyCxtgFvO4kRmVcvb31g_PHm0HYIf2894ms'
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition( async (position) => {
                            const lat = position.coords.latitude
                            const lng = position.coords.longitude
                            const googleApi = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&key=' + apikey
                            try {
                                const data = await $.get(googleApi) 
                                const locationData = {
                                    addr: data.results[0].formatted_address,
                                    lng: data.results[0].geometry.location.lng,
                                    lat: data.results[0].geometry.location.lat
                                }
                                this.errorMsg = ""
                                closure()
                                this.$store.dispatch('saveUserLocationAction', locationData)
                            } catch (error) {
                                console.log(error)
                                $('.preloader').hide();
                                this.errorMsg = "Third party API error."
                            }
                            
                        }, (error) => {
                            if (error.code == 1) {
                                this.errorMsg = "Please allow location access"
                                $('.preloader').hide();
                            }
                        })
                    } else {
                        this.errorMsg = 'Geolocation is not supported by this browser.'
                        $('.preloader').hide();
                    }
            },
            changeLoc(){
               this.loc = "save";
            },
            saveLoc(){
               this.loc = "change";
            },
            googleAuto() {
                let vue = this;
                let searchInput = this.$refs['changelocation']
                let autocomplete = new google.maps.places.SearchBox((searchInput), {
                    types: ['geocode'],
                    componentRestrictions: {country: 'ng'}
                });
                google.maps.event.addListener(autocomplete, 'places_changed', function (data) {
                    var loc = {};
                    var near_place = autocomplete.getPlaces();
                    loc.addr = near_place[0].formatted_address
                    loc.lng = near_place[0].geometry.location.lng()
                    loc.lat = near_place[0].geometry.location.lat()
                    const locationData = loc
                    vue.$store.dispatch('saveUserLocationAction', locationData)
                    vue.initMap()
                });
		    },
        },
       components: {
            Rating,
            lonuxFooter,
            handlePermissions,
            SearchInput: SearchField,
            OrderCompletedModal,
            orderDetails
       }
    }
</script>


<style scoped>

    .preloader{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 10000;
    }
</style>