<template>
    <div class="container-fluid dashboard bg-light">
		<sidenav-component></sidenav-component>
        <order-details ref="detailsModal" :orders="selectedOrder"></order-details>

		<div class="dashboard-content">
			<div class="row justify-content-end">
				<div class="col-md-9 position-relative">
					<topnav-component></topnav-component>
                    <div class="dashboard-main-content mt-0">
                        <div class="overview">
                            <h3 class="subtitle">Your orders</h3>
                        </div>

                        <div class="mt-0">
                            <div class="jumbotron jumbotron-fluid py-3" v-if="cartItems.length">
                                <div class="container">
                                    <h2 class="display-6">Your current order</h2>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{getCurrentOrderName }}</h5>
                                            <small class="lead">{{ totalCartItemsCost | formatCurrency}}</small>
                                            </div>
                                            <p class="mb-1"><a @click.prevent="openDetailsModal(cartItems, true)" href="#">View Details</a></p>
                                            <!-- <p class="mb-1">{{ item.shop_name }} <small>({{ distance(locationData.lat, locationData.lng, item.lat, item.lng) +' away' }})</small></p> -->
                                        </a>
                                    </div>
                                        <hr class="my-4">
                                    <p>Click on <span class="font-weight-bold">"Get directions"</span> to notify sellers and get point to point directions to shop(s)</p>
                                    <a @click.prevent="saveAndGiveDirections()" id="saveAndGiveOrderBtn" class="btn btn-primary btn-lg" href="#" role="button">Get directions</a>
                                    <button type="button" @click.prevent="saveOrder()" id="saveOrderBtn" class="btn ml-3" href="#" role="button">Save order</button>
                                    <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                                </div>
                            </div>

                            <div class="list-group" v-if="orders.length">
                                <a v-for="(order, index) in orders" :key="index" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 :class="'mb-1' + getClass(order.orders[0])">{{order.code +" - "+ returnOrderStatus(order.orders[0]) }}</h5>
                                        <!-- <small class="lead">{{ totalCartItemsCost | formatCurrency}}</small> -->
                                    </div>
                                    <p class="mb-1">
                                        <a v-if="order.orders[0].status == 'Pending'" class="mr-3" @click.prevent="getDirections(order.code)" href="#">Get Directions</a>
                                        <a @click.prevent="openDetailsModal(order.orders, false)" href="#">View Details</a>
                                        <a v-if="order.orders[0].status != 'Cancelled' && order.orders[0].status != 'Completed'" class="mx-3" @click.prevent="cancelOrder(order.code)" href="#">Cancel Order</a>
                                    </p>
                                    <!-- <p class="mb-1">{{ item.shop_name }} <small>({{ distance(locationData.lat, locationData.lng, item.lat, item.lng) +' away' }})</small></p> -->
                                </a>
                            </div>

                            <div v-if="!orders.length && !cartItems.length" class="text-center font-italic text-muted">No have not made any orders <a href="/">Shop now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SidenavComponent from './shared/sidenavComponent'
import TopnavComponent from "./shared/TopnavComponent.vue"
import orderDetails from "./shared/modals/OrderDetails.vue"
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
import { mapGetters } from 'vuex'
export default {
    components: {SidenavComponent, TopnavComponent, orderDetails, ClipLoader},
    props: ['id'],
    data(){
        return{
            orders: [],
            selectedOrder: [],
        }
    },
    mounted(){
        this.getOrders()
        this.$store.dispatch('fetchCart')
        this.$store.dispatch('fetchLocation')
    },
    methods: {
        getClass(order){
            if (order.status == 'Completed') {
                return ' text-success'
            }
            if (order.status == 'Expired') {
                return ' text-danger'
            }
            if (order.status == 'Pending') {
                return ' text-info'
            }
            if (order.status == 'Cancelled') {
                return ' text-danger'
            }
            
        },
        returnOrderStatus(order){
            return order.status
        }, 
        getDirections(code){
            window.location.href = this.pathOrigin+"/user/directions/"+code
        },
        cancelOrder(code){
            if (confirm("Are you sure you want to cancel this order ?"))
            {
                this.showToast("Cancelling order, please wait...", "info")
                axios.post(this.pathOrigin + "/user/cancel_orders/"+code)
                .then(res => {
                    this.showToast("Order cancelled successfully", "success")
                    this.getOrders()
                })
                .catch(err => {
                    this.showToast("Server error", "danger")
                    console.log(err)
                })
            }
            
        },
        openDetailsModal(arr, bool){
            this.$refs.detailsModal.bootModal(arr, bool)
            const modal = $('div#orderDetails')
            this.selectedOrder = arr
            modal.modal('show')
        },
        getOrders() {
            axios.get(`${this.pathOrigin}/user/orders`)
            .then(res => {
                this.orders = res.data.data
            })
            .catch(err => {
                console.log(err)
            })
        },
        saveAndGiveDirections(){
            this.disable('button#saveOrderBtn')
            this.disable('button#saveAndGiveOrderBtn')
            const url = this.pathOrigin + "/user/orders"
            axios.post(url, this.cartItems)
            .then(res => {
                this.$store.dispatch('clearCart')
                this.getDirections(res.data.data)
            })
            .catch(err => {
                this.enable('button#saveOrderBtn')
                this.enable('button#saveAndGiveOrderBtn')
                this.showToast("Server error, try again", "error")
            })
        },
        saveOrder(){
            this.disable('button#saveOrderBtn')
            this.disable('button#saveAndGiveOrderBtn')
            const url = this.pathOrigin + "/user/store_order"
            axios.post(url, this.cartItems)
            .then(res => {
                this.showToast("Order saved successfully", "success")
                this.$store.dispatch('clearCart')
                this.getOrders()
            })
            .catch(err => {
                this.enable('button#saveOrderBtn')
                this.enable('button#saveAndGiveOrderBtn')
                this.showToast("Server error, try again", "error")
                console.log(err)
            })
        }
    },
    computed: {
        ...mapGetters(['cartItems', 'locationData']),
        formatter: function(){
            return new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'NGN',
                minimumFractionDigits: 2
            })
        },
        totalCartItemsCost(){
            let total = 0
            this.cartItems.map(item => {
                total+= item.amount * item.quantity
            })

            return total
        },
        getCurrentOrderName(){
            const orders = this.cartItems
            var names = []
            orders.map(order => {
                names.push(order.name)
            })
            if (names.length > 1) {
                return names[0] + " and "+ (names.length - 1) + " other items"
            }else {
                return names[0]
            }
        }
    }
}
</script>