<template>
    <div>
        <div class="overview">
            <h3 class="mb-4">Overview</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-6">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Your Orders</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{stats.orders}}</span>
                        </div>
                        <div class="card-footer">
                            <!-- <router-link class="nav-link" to='/user/home/activities'> -->
                                <a :href="pathOrigin+'/user/orders'" class="btn nav-link btn-link d-inline-flex justify-content-between align-items-center">
                                    <span class="d-inline-block mr-2">view orders</span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                    </svg>
                                </a>
                            <!-- </router-link> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-lg-6">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Discounts</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{stats.bookings}}</span>
                        </div>
                        <div class="card-footer">
                            <!-- <router-link class="nav-link" to='/user/home/bookings'> -->
                                <a class="btn btn-link d-inline-flex text-muted justify-content-between align-items-center">
                                    <span class="d-inline-block mr-2">view discounts (unavailable)</span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                    </svg>
                                </a>
                            <!-- </router-link> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "overview",
        data(){
            return {
                stats: {},
            }
        },
        mounted(){
            this.getUserStats();
        },
        methods: {
            getUserStats: function (){
                axios.get(`${this.pathOrigin}/user/get_stats`)
                .then(res => {
                    this.stats = res.data.data;
                    // console.log(res.data)
                })
                .catch(err => {
                    console.log(err)
                })
            }
        }
    }
</script>