<template>
    <div class="sidebar" :class="{'opened': toggle == true}">
        <a href="/" class="navbar-brand sidebar-head">
            <img :src="pathOrigin + '/img/lonux-logo-01.svg'" alt="Lonux" height="33">
        </a>
        <span class="close" :class="{'d-inline-block': toggle == true}" @click="toggle = false">
            &times; 
        </span>
        <ul class="nav flex-column">
            <li class="nav-item">
                <!-- <router-link class="nav-link" to='/user/home/dashboard'>
                    <i class="material-icons">home</i>
                    Home
                </router-link> -->
                <a class="nav-link" :href="pathOrigin + '/home/user'">
                    <i class="material-icons">home</i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <!-- <router-link class="nav-link" to='/user/home/bookings'>
                    <i class="material-icons">bookmark</i>
                    Orders
                </router-link> -->
                <a class="nav-link" :href="pathOrigin + '/user/orders'">
                    <i class="material-icons">bookmark</i>
                    Orders
                </a>
            </li>
            <!-- <li class="nav-item">
                <router-link class="nav-link" to='/user/home/activities'>
                    <i class="material-icons">card_travel</i>
                   Activities  
                </router-link>
            </li> -->
        </ul>

        <ul class="nav flex-column sidebar-extra">
            <!-- <li class="nav-item">
                <router-link  class="nav-link" to='/user/home/settings'>Settings</router-link>
            </li> -->
            	<!-- logout form -->
                <form id="logout-form" :action="pathOrigin+'/logout'" method="POST" style="display: none;">
                    <input type="text" id="csrf" name="_token">
                </form>
            <li class="nav-item">
                <a href="#" @click.prevent="logout()" class="nav-link text-danger">Logout</a>
            </li>
        </ul>
        
    </div>
</template>

<script>
import {lonuxbus} from '../../../app.js'

    export default {

        name: 'SidenavComponent',

        data () {
            return {
                csrf: window.lonux.csrf_token,
                toggle: false
               
            }
        },
        methods:{
            logout: function(){
                $('form#logout-form').find('input#csrf').val(this.csrf)
                $('form#logout-form').submit()
            },
        },
        computed: {
            pageTitle: function(){
                return this.$store.state.page.title
            },

            activeUrl(){
                let url = window.location.href;
                let urlArr = url.split('/');
                let urlFinal = urlArr[urlArr.length -1];

                return urlFinal;
            }
        },
        created(){
            lonuxbus.$on('toggleSidebar', (data)=>{
                this.toggle = true;
                console.log('toggled');
            });
        }
    };
</script>