<template>
    <div class="topnav row">

        <!-- display on mobile -->
         <a href="/" class="navbar-brand  topnav-logo" >
            <img :src="pathOrigin + '/img/lonux-icon.svg'" alt="Lonux" height="33"> | Dashboard
        </a>

        <button class="navbar-lonux-toggler ml-auto topnav-toggler" id="nav-toggle" type="button" @click.prevent="toggleSidebar">
            <span class="navbar-toggler-icon">
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 13H17M1 1H17H1ZM1 7H17H1Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </button>

        <div class="col-8">
            <search-input></search-input>  
        </div> 

        <div class="topnav-info col-3">
            <a href="#" class="notification-badge">
                <i class="material-icons">notifications</i>
            </a>
      
            <div class="dropdown">
                <a href="#" class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="font-weight-bold">Hello, {{firstName}}</span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.41 8.59009L12 13.1701L16.59 8.59009L18 10.0001L12 16.0001L6 10.0001L7.41 8.59009Z" fill="black"/>
                    </svg>

                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item text-danger" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SearchField from '../../shared/SearchField.vue'
import {lonuxbus} from '../../../app.js'

export default {
    name : 'TopnavComponent',
    components: {
        SearchInput: SearchField,
    },
    methods: {
        toggleSidebar(){
             console.log('clciked');
            lonuxbus.$emit('toggleSidebar', {
                toggle: ''
            });
        }
    }   
}
</script>