<template>
  <div class="dashboard-main-content">
    <!-- user has shop -->
		<div>
			<!-- shop lists -->
			<h4 class="dashboard-title dashboard-title-2">Add Service Package</h4>

            <div class="row justify-content-center">
                <div class="col-12 text-center form-group mb-3">    
                    <ul v-for="(error, index) in errors" :key="index" class="text-danger">
                        <li>{{error}}</li>
                    </ul>
                </div>
                <form class="mb-5 col-12" @submit.prevent="createPakage()">
                    <div class="form-group col-md-8">
                        <label for="adminName">Package Name</label>
                        <input type="text" id="packageName" class="form-control" required v-model="formdata.service_name" placeholder="Package Name">
                        <div class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="adminPhone">Package Duration</label>
                        <input type="text" id="serviceDuration" class="form-control" required v-model="formdata.service_duration" placeholder="Package Duration">
                        <div class="invalid-feedback">  
                            This field is required
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="adminPassword">Package Charge (NGN)</label>
                        <input type="number" id="serviceCharge" class="form-control" required v-model="formdata.service_charge" placeholder="Package Charge">
                        <div class="invalid-feedback" id="pass">
                            This field is required
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <div class="col-6">
                            <label for="serviceAvailability"><strong>Is This Package Available Now ?</strong></label>
                            <div v-for="(option,index) in serviceAvailabilityOptions" :key='index'>
                                <input type="radio" :value="option.value" name="serviceAvailability" id="serviceAvailability" v-model="formdata.service_availability">
                                <label :for="option.text">{{option.text}}</label>
                            </div>
                            <div class="invalid-feedback" id="serviceAvailability">
                                Please choose an option.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <div class="col-6">
                            <label for="deliverable"><strong>Is This Package Deliverable (e.g Home Service) ?</strong></label>
                            <div v-for="(option,index) in serviceAvailabilityOptions" :key='index'>
                                <input type="radio" :value="option.value" name="deliverable" id="deliverable" v-model="formdata.deliverable">
                                <label :for="option.text">{{option.text}}</label>
                            </div>
                            <div class="invalid-feedback" id="deliverable">
                                Please choose an option.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="serviceText">Any other info ? (Optional)</label>
                        <textarea class="form-control" v-model="formdata.service_text"></textarea>
                        <div class="invalid-feedback" id="serviceText">
                            This field is required
                        </div>
                    </div>
                     <!-- images  -->
                     <p class="subtitle mt-4">Upload images (optional)</p>

                    <div class="upload-inventory mb-5">
                        <div class="upload-inventory-item" id="inventory-image1">
                            <img src="" alt="inventory-image" style="display: none; width: 145px; height: 129px">
                            <input type="file" name="upload1" id="upload1" accept="image/*">
                            <label for="upload1">
                                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                </svg>

                            </label>
                        </div>
                        <div class="upload-inventory-item" id="inventory-image2">
                            <img src="" alt="inventory-image" style="display: none; width: 145px; height: 129px">
                            <input type="file" name="upload1" id="upload2" accept="image/*">
                            <label for="upload1">
                                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                </svg>

                            </label>
                        </div>
                        <div class="upload-inventory-item" id="inventory-image3">
                            <img src="" alt="inventory-image" style="display: none; width: 145px; height: 129px">
                            <input type="file" name="upload1" id="upload3" accept="image/*">
                            <label for="upload1">
                                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                </svg>

                            </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <button ref="create_package_button" type="submit" class="btn btn-primary">Create Package</button>
                        </div>
                        <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                    </div>
                </form>
            </div>
		</div>
    </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {
    name: "AddServices",
    data () {
        return {
            errors: [],
            formdata: {},
            fd: new FormData(),
            serviceAvailabilityOptions: [ { text: "Yes", value: true }, { text: "No", value: false } ],
            loader: {
                color: "#fd961a",
                loading: false,
            },
        }
    },
    mounted(){
        this.formdata.shopKey = this.$route.params.shopKey
        let vue = this
        $('label').click(function (e) {
            e.preventDefault()
            let tis = $(this)
            let fileInput = tis.prev()
            let divId = tis.parent().attr('id');
            fileInput.click();
            fileInput.change( function(e) {
                vue.processImage(e, divId)
            } )
            // console.log($(this), divId, fileInput)
        })
        $('img').click(function (e) {
            e.preventDefault()
            let tis = $(this)
            let fileInput = tis.next()
            let divId = tis.parent().attr('id');
            fileInput.click();
            fileInput.change( function(e) {
                vue.processImage(e, divId)
            } )
            // console.log($(this), divId, fileInput)
        })
    },
    methods: {
        createPakage: function(){
            if (!this.formdata.service_name) {
  			$("input#packageName").addClass("is-invalid")
            }else if (!this.formdata.service_duration) {
                $("input#serviceDuration").addClass("is-invalid")
            }else if (!this.formdata.service_charge) {
                $("input#serviceCharge").addClass("is-invalid")
            }else if (!this.formdata.service_availability === undefined) {
                $("div#serviceAvailability").show();
            }else if (this.formdata.deliverable === undefined) {
                $("div#deliverable").show()
            }else{
                this.savePackage();
            }
        },
        processImage: function (e, el) {
            let reader,file = e.target.files[0]
            var type = file.type.split('/')[0]
            let imageName = 'image'+el[el.length-1]
            this.fd.set(imageName, file)

            // preview image
            reader = new FileReader()
                reader.onload = (e) => { 
                    var src = e.target.result
                    if (type == 'image') {
                        console.log(el)
                        let element = '#'+el
                        $(element).find('img').attr('src', src).show()
                        $(element).find('label').hide()
                    }else{
                        $('p#imageErr').text('File is not a valid image file');
                    }
            }
            reader.readAsDataURL(file)
        },
        savePackage: function () {
                this.loader.loading = true
                this.errors = []
                $(this.$refs['create_package_button']).attr('disabled', true)
                // set values
                this.fd.set('deliverable', this.formdata.deliverable)
                this.fd.set('service_availability', this.formdata.service_availability)
                this.fd.set('service_charge', this.formdata.service_charge)
                this.fd.set('service_duration', this.formdata.service_duration)
                this.fd.set('service_name', this.formdata.service_name)
                this.fd.set('service_text', this.formdata.service_text)
                this.fd.set('shopKey', this.formdata.shopKey)

                // make request
                axios.post(this.pathOrigin+'/shop/add_service', this.fd)
                .then(res => {
                    this.loader.loading = false
                    this.formdata = {},
                    this.fd = new FormData();
                    this.resetImgs();
                    $(this.$refs['create_package_button']).attr('disabled', false)
                    this.toaster("item saved successfully", 'success');
                })
                .catch(error => {
                    this.loader.loading = false
                    if(error.response.data.errors){
                        if (typeof error.response.data.errors.deliverable != 'undefined') {
                            this.errors.push(error.response.data.errors.deliverable[0])
                        }else if (typeof error.response.data.errors.service_availability != 'undefined') {
                            this.errors.push(error.response.data.errors.service_availability[0])
                        }else if (typeof error.response.data.errors.service_charge != 'undefined') {
                            this.errors.push(error.response.data.errors.service_charge[0])
                        }else if (typeof error.response.data.errors.service_duration != 'undefined') {
                            this.errors.push(error.response.data.errors.service_duration[0])
                        }else if (typeof error.response.data.errors.service_name != 'undefined') {
                            this.errors.push(error.response.data.errors.service_name[0])
                        }else{
                            this.errors.push('Server error occured. Please try again')
                        }
                    }else{
                        this.errors.push('Server error occured. Please try again')
                    }
                    $(this.$refs['create_package_button']).attr('disabled', false)
                    window.scrollTo(0, 0);
                    console.log(error)
                })
            },
            resetImgs: function () {
                let imagSrc = $('img')
                $.each( imagSrc, function(index, element) {
                    $(element).attr('src', '').hide()
                    $(element).next().next().show()
                });
                
            },
            toaster: function (message, type) {
                Vue.$toast[type](message, {
                    position: 'bottom-right'
                })
            }
    },
    components: {
        ClipLoader,
    }

}
</script>

<style>

</style>