<template>

    <div class="actions">
        <button disabled="disabled" class="btn btn-primary" data-toggle="modal" data-target="#deliveryModal">
            <span class="icon">
                <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.5 4.5C16.6 4.5 17.5 3.6 17.5 2.5C17.5 1.4 16.6 0.5 15.5 0.5C14.4 0.5 13.5 1.4 13.5 2.5C13.5 3.6 14.4 4.5 15.5 4.5ZM5 11C2.2 11 0 13.2 0 16C0 18.8 2.2 21 5 21C7.8 21 10 18.8 10 16C10 13.2 7.8 11 5 11ZM5 19.5C3.1 19.5 1.5 17.9 1.5 16C1.5 14.1 3.1 12.5 5 12.5C6.9 12.5 8.5 14.1 8.5 16C8.5 17.9 6.9 19.5 5 19.5ZM10.8 9.5L13.2 7.1L14 7.9C15.3 9.2 17 10 19.1 10V8C17.6 8 16.4 7.4 15.5 6.5L13.6 4.6C13.1 4.2 12.6 4 12 4C11.4 4 10.9 4.2 10.6 4.6L7.8 7.4C7.4 7.8 7.2 8.3 7.2 8.8C7.2 9.4 7.4 9.9 7.8 10.2L11 13V18H13V11.8L10.8 9.5ZM19 11C16.2 11 14 13.2 14 16C14 18.8 16.2 21 19 21C21.8 21 24 18.8 24 16C24 13.2 21.8 11 19 11ZM19 19.5C17.1 19.5 15.5 17.9 15.5 16C15.5 14.1 17.1 12.5 19 12.5C20.9 12.5 22.5 14.1 22.5 16C22.5 17.9 20.9 19.5 19 19.5Z" fill="black"/>
                </svg>
            </span>

            <span>Delivery</span>
        </button>
        <button class="btn btn-light" data-toggle="modal" data-target="#directionModal">
            <span class="icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.71 11.2901L12.71 2.29006C12.32 1.90006 11.69 1.90006 11.3 2.29006L2.30001 11.2901C1.91001 11.6801 1.91001 12.3101 2.30001 12.7001L11.3 21.7001C11.69 22.0901 12.32 22.0901 12.71 21.7001L21.71 12.7001C22.1 12.3201 22.1 11.6901 21.71 11.2901ZM14 14.5001V12.0001H10V15.0001H8.00001V11.0001C8.00001 10.4501 8.45001 10.0001 9.00001 10.0001H14V7.50006L17.5 11.0001L14 14.5001Z" fill="#4F4F4F"/>
                </svg>
            </span>

            <span>Direction</span>
        </button>


        <!-- popup -->

        <!-- popup for delivery -->
        <div class="modal fade" id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="deliveryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="actions-delivery">
                            
                            <div class="address-information">
                                <div class="store-address">
                                    <p class="subtitle m-0">{{shop.shop_name}}</p>
                                    <p>{{shop.shop_address}}</p>
                                </div>
                                <span class="separator"></span>
                                <div class="user-address">
                                    <p class="subtitle m-0">Your location</p>
                                    <p>{{loc.addr}}</p>
                                </div>
                            </div>
                            <div class="mt-5 mb-3">
                                <span class="font-weight-bold">Item name:</span> Apple
                            </div>
                            <div class="cart">
                                <div class="image cart-image">
                                    <img src="https://picsum.photos/130/116?random" alt="random">     
                                </div>
                                 <div class="store-result-cart">
                                    <!-- detail -->
                                    <div class="store-result-cart-detail">
                                        <div class="store-result-cart-detail-col">
                                            <p class="subtitle">Quantity</p>
                                            
                                            <div class="d-inline-flex align-items-center">
                                                <span class="d-inline-block mr-3">2</span>

                                                <!-- quantity counter -->
                                                <div class="item-count-toggle">
                                                    <span class="toggle-up">
                                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M1.41 7.41L6 2.83L10.59 7.41L12 6L6 0L0 6L1.41 7.41Z" fill="#828282"/>
                                                        </svg>
                                                    </span>
                                                    <span class="toggle-down">
                                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.59 0.59L6 5.17L1.41 0.589999L5.24537e-07 2L6 8L12 2L10.59 0.59Z" fill="#828282"/>
                                                        </svg>

                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="store-result-cart-detail-col">
                                            <p class="subtitle">Price</p>
                                            <p>N1000</p>
                                        </div>
                                        <div class="store-result-cart-detail-col">
                                            <p class="subtitle">Total</p>
                                            <p>N1000</p>
                                        </div>
                                        
                                    </div>

                          
                                 </div>
                            </div>
                            
                            <!-- checkout btn -->

                            <a href="#" class="btn btn-primary">checkout</a>
                            <br>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            
                        </div>
                    </div>
               
                </div>
            </div>
        </div>

        <!-- popup for direction -->
        <div class="modal fade" id="directionModal" tabindex="-1" role="dialog" aria-labelledby="directionModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-body container">
                        <div class="actions-delivery">
                            
                            <div class="address-information">
                                <div class="user-address">
                                    <p class="subtitle m-0">Your location</p>
                                    <p>{{loc.addr}}</p>
                                </div>
                                <span class="separator"></span>
                                <div class="store-address">
                                    <p class="subtitle m-0">{{shop.shop_name}}</p>
                                    <p>{{shop.shop_address}}</p>
                                </div>


                                <div id="mapDiv" class="map my-4">
                                    <direction :shop="shop" :loc="loc"></direction>
                                </div>
                                
                                <hr>
                            </div>
                            <div style="display: none;" id="itemNameDiv" class="mt-5 mb-3">
                                <span class="font-weight-bold">Item name:</span> {{item.name}}. 
                                <span class="font-weight-bold">Item sold in:</span> <span class="text-capitalize">{{item.sold_in}}</span>
                            </div>

                            <div class="cart" style="display:none;" id="bookSection">
                                <div class="image cart-image">
                                    <img src="https://picsum.photos/130/116?random" alt="random">     
                                </div>
                                 <div class="store-result-cart">
                                    <!-- detail -->
                                    <div class="store-result-cart-detail">
                                        <div class="store-result-cart-detail-col">
                                            <p class="subtitle">Quantity</p>
                                            
                                            <div class="d-inline-flex align-items-center">
                                                <span class="d-inline-block mr-3">{{quantity}}</span>

                                                <!-- quantity counter -->
                                                <div class="item-count-toggle">
                                                    <span @click="changeQuantity('add')" class="toggle-up">
                                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M1.41 7.41L6 2.83L10.59 7.41L12 6L6 0L0 6L1.41 7.41Z" fill="#828282"/>
                                                        </svg>
                                                    </span>
                                                    <span @click="changeQuantity('remove')" class="toggle-down">
                                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.59 0.59L6 5.17L1.41 0.589999L5.24537e-07 2L6 8L12 2L10.59 0.59Z" fill="#828282"/>
                                                        </svg>

                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="store-result-cart-detail-col">
                                            <p class="subtitle">Price</p>
                                            <p>NGN {{formatter.format(item.amount)}}</p>
                                        </div>
                                        <div class="store-result-cart-detail-col">
                                            <p class="subtitle">Total</p>
                                            <p><strong>NGN {{formatter.format(totalAmount)}}</strong></p>
                                        </div>
                                        
                                    </div>

                          
                                 </div>
                            </div>
                            
                            <!-- checkout btn -->

                            <a style="display: none;" id="bookButton" @click.prevent="bookItem()" href="#" class="btn btn-primary">book item</a>
                            <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                            <!-- <p class="pt-4">Order will expire after 48hrs</p> -->
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            
                        </div>
                    </div>
               
                </div>
            </div>
        </div>

        <sweet-modal :blocking="true" :enable-mobile-fullscreen="false" ref="modal" icon="success">
            Booking successful
            <div class="text-lead">
                <div>
                    <h4>Your booking code is <em>{{bookCode}}</em></h4>
                    <p class="text-sm font-italic text-muted">(use this code to claim your order)</p>
                </div>
            </div>
            <button @click="startShowingDirection" class="btn btn-primary" slot="button">Start Moving</button>
        </sweet-modal>

    </div>    
</template>
 
<script>
import {lonuxbus} from '../../app.js' 
import Direction from '../shared/Direction'
import { SweetModal } from 'sweet-modal-vue'
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'

export default {
    props: {
        shop: {
            type: Object,
            required: true,
        },
        loc: {
            type: Object,
            required: true,
        },
        item: {
            type: Object,
            required: true,
        },
    },

    data(){
        return {
            quantity: 1,
            totalAmount: this.item.amount,
            bookCode: null,
        }
    },

    mounted(){
        //
    },
    methods: {
        changeQuantity: function (type) {
            if (type == 'add') {
                this.quantity++
            }else{
                this.quantity--
                if(this.quantity < 2){
                    this.quantity = 1
                }
            }
        },
        bookItem: function () {
            if (confirm("Are you sure you want book this item?")) {
                let formdata = {
                    shopId: this.shop.id,
                    itemId: this.item.id,
                    json_data: {
                        totalAmount: this.totalAmount,
                        distFromShop: this.shop.dist,
                        buyingIn: this.item.sold_in,
                        quantity: this.quantity,
                        itemName: this.item.name,
                    },
                    user_activity_data: {
                        user_agent: navigator.userAgent,
                        location: this.loc.addr
                    } 
                }
                this.loader.loading = true;
                axios.post(this.pathOrigin+'/booking', formdata)
                .then( res => {
                    this.loader.loading = false;
                    this.$refs.modal.open();
                    this.bookCode = res.data;
                } )
                .catch( err => {
                    this.loader.loading = false;
                } )
            }
        },
        startShowingDirection: function () {
            this.$refs.modal.close();
            let sectionView = document.getElementById('mapDiv');
            let section = $('#mapDiv')
            section.fadeIn('slow');
            $('div#bookSection').fadeOut('slow');
            $('#bookButton').fadeOut('slow');
            $('#itemNameDiv').fadeOut('slow');
            sectionView.scrollIntoView()
            lonuxbus.$emit('showTextDirections')
            console.log('........!!!!.......!!!!........!!!')
        }
    },
    watch: {
        quantity: function(value){
            let price = this.item.amount * value;

            this.totalAmount = price;
        }
    },
    computed: {
        formatter: function(){
            return new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'NGN',
                minimumFractionDigits: 2
            })
        }
    },
    components: {
        Direction,
        ClipLoader,
        SweetModal,
    }
}
</script>