<template>
    <div>
        <div class="preloader">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div class="search">
            <div class="search-form search-form-body px-3">
                <div class="container">
                    <search-input></search-input>           
                </div>
            </div>


            <!-- location -->
            <div class="py-5 mb-4">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                           
                            <span class="subtitle" v-show="loc == 'change'">
                                Your location: <span class="font-weight-normal"> {{locationData.addr}} </span>
                            </span> 
                            <div class="form-group " style="display:none" id="changeAddress" v-show="loc == 'save'">
                                <input type="text"  ref="changelocation" class="form-control" :value="locationData.addr" placeholder="type new location">
                            </div>

                        </div>

        
                        <div class="col-md-6 ">
                            <a href="#" id="changeLoc" @click="changeLoc()" v-show="loc == 'change'" class="btn btn-secondary btn-auth">change location</a>
                            <a href="#" id="saveLoc"  @click="saveLoc()" v-show="loc == 'save'" class="btn btn-secondary btn-auth">save location</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- result -->
            <div class="search-result">
                <div class="container" v-if="!errorMsg">
                    <!-- result count -->
                    <h4 v-if="type=='shop_item'" class="mb-4 text-lowercase">{{totalShops}} shops are selling {{item}}</h4>
                    <h4 v-else class="mb-4 text-lowercase">{{totalShops}} shops are offering <strong>{{item}}</strong> services</h4>
                    <div class="product-item">
                        <div class="row">
                            <div class="col-sm-3 col-4 col-md-3 mb-4" v-for="(shop, index) in shops" :key="index">
                                <div class="card border-0 bg-transparent" @click="openProductModal(shop)" role="button">
                                    <img style="max-height: 250px" :src="getImage(shop) || shop.image" alt="" class="img-fluid rounded">
                                    <div class="card-body px-1">
                                        <div class="prouct-details align-items-center justify-content-between">
                                            <p class="mb-0 text-md--2 text-truncate"> {{shop.shop_name}} </p>
                                        </div>
                                        <div class="product-price small">
                                            {{shop.item.amount | formatCurrency}}
                                        </div>
                                        <div class="product-price small">
                                            <p class="text-muted font-weight-normal text-truncate"> {{shop.distance | convertToKM}} </p>
                                        </div>
                                        <div class="">
                                            <p class="mb-0">  
                                                <span>
                                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.90625 13.3612L14.4103 16.625L12.9497 10.4738L17.8125 6.335L11.4089 5.80125L8.90625 0L6.40359 5.80125L0 6.335L4.86281 10.4738L3.40219 16.625L8.90625 13.3612Z" fill="#F2C94C"/>
                                                    </svg>   {{shop.shop_rating.rating.toFixed(1)}} ({{shop.shop_rating.count}})                                         
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="pagination justify-content-center">
                        <li :class="{'page-item': true, disabled: shopsObj.prev_page_url == null}">
                            <a class="page-link" href="#" @click.prevent="getItemShops(shopsObj.prev_page_url)" tabindex="-1">Previous</a>
                        </li>
                        <li :class="{'page-item': true, disabled: shopsObj.next_page_url == null}">
                            <a class="page-link" @click.prevent="getItemShops(shopsObj.next_page_url)" href="#">Next</a>
                        </li>
                    </ul>
                </div>
                <div class="container" v-else>
                    <div class="alert alert-danger">
                        {{errorMsg}} <a v-if="errorMsg == 'Third party API error.'" @click.prevent="refreshPage" href="#">Reresh page</a>
                    </div>
                </div>
            </div>
        </div>

        <handle-permissions v-if="Object.keys(locationData).length == 0" ></handle-permissions>
        <lonux-footer color="dark"></lonux-footer>
        <product :type="type" ref="productModalComponent" :shop="clickedShop"></product>
        
    </div>
</template>
<script>
    import handlePermissions from '../shared/handlePermissions'
    import SearchField from '../shared/SearchField.vue'
    import Product from '../shared/modals/Product.vue'
    import lonuxFooter from '../shared/footer.vue'
    import carousel from 'vue-owl-carousel'
    import itemAction from './itemAction'
    import { mapGetters } from 'vuex'

    export default{
        props: {
            item: {
                type: String,
                required: true,
            },
            type: {
                type: String,
                required: true,
            },
        },
        data(){
           return{
               shops: [],
               shopsObj: {},
               calculatedShops: [],
               sortedShops: [],
               firstTenShops: [],
               notFound: false,
               relatedItems: [],
               itemData: null,
               totalShops: 0,
               clickedShop: {},
               loc: 'change',
               errorMsg: "",
           }
       }, 
    
        mounted(){
            this.$store.dispatch('fetchLocation')

            let vue = this
            $("#changeAddress input").on('focus', function(){
                vue.googleAuto()
            })

            $("a#changeLoc").click(function(){
                $("#changeAddress").fadeIn();
            })

            if (Object.keys(this.locationData).length === 0) {
                this.fetchLocation( () => {
                    this.getItemShops();
                })
            } else {
                this.getItemShops()
            }
        }, 
        computed: {
            ...mapGetters(['locationData'])
        },
        methods: {
            refreshPage(){
                location.reload()
            },
            fetchLocation(closure){
                const apikey = 'AIzaSyCxtgFvO4kRmVcvb31g_PHm0HYIf2894ms'
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition( async (position) => {
                            const lat = position.coords.latitude
                            const lng = position.coords.longitude
                            const googleApi = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&key=' + apikey
                            try {
                                const data = await $.get(googleApi) 
                                // const data = await $.ajax(options)
                                console.log
                                const locationData = {
                                    addr: data.results[0].formatted_address,
                                    lng: data.results[0].geometry.location.lng,
                                    lat: data.results[0].geometry.location.lat
                                }
                                this.$store.dispatch('saveUserLocationAction', this.locationData)
                                this.errorMsg = ""
                                closure()
                            } catch (error) {
                                $('.preloader').hide();
                                this.errorMsg = "Third party API error."
                            }
                            
                        }, (error) => {
                            if (error.code == 1) {
                                this.errorMsg = "Please allow location access or click the button above to manually input your address"
                                $('.preloader').hide();
                            }
                        })
                    } else {
                        this.errorMsg = 'Geolocation is not supported by this browser.'
                        $('.preloader').hide();
                    }
            },
            getImage: function(shop){
                if (shop.item.images)
                {
                    return shop.item.images.split(',')[0]
                }

                return null
            },
            openProductModal: function(shop){
                this.clickedShop = shop
                this.$refs.productModalComponent.getRelatedItems(shop.id, shop.item.id)
                this.$refs.productModalComponent.formatImages(shop.item.images)
                this.$refs.productModalComponent.setImage(shop.item.images)
                const modal = $('div#ProductPopUp')
                modal.modal('show')
            },
            changeLoc(){
               this.loc = "save";
            },
            saveLoc(){
               this.loc = "change";
            },
            viewResult(key){
                window.location.href = this.pathOrigin + '/result/'+key;
            },
            googleAuto: function(){
                let vue = this;
                let searchInput = this.$refs['changelocation']
                let autocomplete = new google.maps.places.SearchBox((searchInput), {
                    types: ['geocode'],
                    componentRestrictions: {country: 'ng'}
                });
                google.maps.event.addListener(autocomplete, 'places_changed', function (data) {
                    var loc = {};
                    var near_place = autocomplete.getPlaces();
                    console.log(near_place)
                    loc.addr = near_place[0].formatted_address
                    loc.lng = near_place[0].geometry.location.lng()
                    loc.lat = near_place[0].geometry.location.lat()
                    const locationData = loc
                    vue.$store.dispatch('saveUserLocationAction', locationData)
                    vue.getItemShops()
                });
		    },
            getItemShops: function(url){
                this.errorMsg = ""
                $('.preloader').show();
                const fetchUrl = url || this.pathOrigin+'/get_item_shops'
                this.shops = [];
                let formdata = {
                   item: this.item,
                   type: this.type,
                   lat: this.locationData.lat,
                   lng: this.locationData.lng
                }
                axios.post(fetchUrl, formdata)
                .then(res=>{
                    if (res.data.data.count == 0) {
                        this.errorMsg = "It seems there is no shop that has "+this.item+" right now"
                    }
                   this.shops = res.data.data.shops.data
                   this.totalShops = res.data.data.count
                   this.shopsObj = res.data.data.shops
                   if(res.data.data.shops.data){
                        // this.saveUserActivity(1);
                   }else{
                       this.notFound = true
                    //    this.saveUserActivity(0);
                   }

                   if (this.type == 'shop_services') {
                        this.shops.map(shop => {
                            shop.item.amount = shop.item.service_charge
                            shop.item.name = shop.item.service_name
                            shop.item.images = shop.item.service_images
                        })
                   }
                   
               })
               .catch(err=>{
                   console.log(err)
                   this.errorMsg = "Server error. Pleas try again"
               })
               .finally( () => {
                   $('.preloader').hide();
               })
            },
            saveUserActivity: function (wf){
               var formdata = {
                   activity_type: "search",
                   user_agent: navigator.userAgent,
                   client_location: this.locationData.addr,
                   activity_data: {
                    search_term: this.item,
                    search_term_was_found: wf,
                   }
               }
               axios.post(this.pathOrigin+'/save_user_activity', formdata)
            },
            recordShopSearch: function(shops){
               console.log("recording shop search", shops)
               var shopData = [];
               for(var i = 0; i < shops; i++){
                   var sData = {shopId:shops[i].id, position: i+1}
                   shopData.push(sData);
               }
               var formdata = {
                   user_agent: navigator.userAgent,
                   search_term: this.item,
                   shopStats: shopData
               }

               axios.post(this.pathOrigin+'/save_shop_search', formdata)
               .then(res=>{
                //    console.log(res)
               })
               .catch(err=>{
                //    console.log(err)
               })
            },
            getItemData: function(){
               axios.get(this.pathOrigin+'/get_item_data/'+this.bestMatch.id+'/'+this.item)
               .then(res=>{
                   this.itemData = res.data.data
               })
               .catch(err=>{
                   console.log(err)
               })
           }
        },
       components: {
            Product,
            carousel,
            itemAction,
            lonuxFooter,
            handlePermissions,
            SearchInput: SearchField,
       }
    }
</script>


<style scoped>

    .preloader{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 10000;
    }
</style>