<template>
    <div>
        <div class="search">
            <div class="container">
                <search-input></search-input>
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        Current location:
                        <p class="font-weight-bold" >
                            {{locationData.addr}}
                        </p> 

                    </div>

                    <div class="col-md-6 text-right">
                        <a href="#" id="changeLoc" class="btn btn-secondary btn-auth">change location</a>
                        <br><br>
                        <input type="text" style="display:none" id="changeAddress" ref="chnagelocation" class="form-control" placeholder="type new location">
                    </div>
                </div>

                <div class="search-result">
                    <h4 class="mb-5">Shop Results for <strong>{{item}}</strong></h4>

                    <div class="row" v-if="!notFound">
                        <div  v-for="(shop, i) in sortedShops" :key="i" class="col-md-6 mb-4">
                            <div class="search-result-item">
                                <div v-if="i == 0" class="best-seller">
                                    best match
                                </div>
                                <div class="search-rating">
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i> 
                                    <span>{{shop.rating}}</span>
                                </div>
                                <div class="search-result-image">
                                    <div class="img-container-round result main" >
                                        <img :src="'https://picsum.photos/115?random'+ (i+1)" alt="random">
                                    </div>
                                    <div class="img-container-round result after-image">
                                        <img :src="'https://picsum.photos/115?random'+ (i+1)" alt="random" class="after-image">
                                    </div>
                                </div>
                                <div class="search-result-detail">
                                    <h5 class="store-title">{{shop.shop_name}}</h5>
                                    <p class="store-address">
                                        {{shop.shop_address}}
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="store-distance">
                                            <span>Distance: {{shop.dist}}KM</span>
                                            <span>{{shop.walkTime == 0 ? "unknown duration" : shop.walkTime+ (shop.dist > 1 ? " drive" : " walk")}}</span>
                                        </div>

                                        <a @click.prevent="viewResult" href="#" class="btn btn-link">visit store</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="row" v-else>
                      <p>
                          We are so sorry, no shop sell this item in the moment.
                      </p>
                  </div>
                </div>
            </div>
        </div>

        <lonux-footer color="dark"></lonux-footer>
        
    </div>
</template>
<script>

    import lonuxFooter from '../shared/footer.vue'
    import SearchField from '../shared/SearchField.vue'

    export default{
        props: {
            item: {
                type: String,
                required: true,
            },
        },
        data(){
           return{
               shops: [],
               calculatedShops: [],
               sortedShops: [],
               firstTenShops: [],
               notFound: false,
           }
       }, 
    
        mounted(){
            console.log(this.address)
            let vue = this
            $("input#changeAddress").on('focus', function(){
                vue.googleAuto()
            })

            $("a#changeLoc").click(function(){
                $("input#changeAddress").fadeIn()
            })
        }, 
       methods: {
            viewResult(){
                window.location.href = this.pathOrigin + '/result';
            },
           googleAuto: function(){
                let vue = this;
                let searchInput = this.$refs['chnagelocation']
                let autocomplete = new google.maps.places.Autocomplete((searchInput), {
                    types: ['geocode'],
                    // componentRestrictions: {country: 'ng'}
                });
                google.maps.event.addListener(autocomplete, 'place_changed', function (data) {
                    // console.log("auto:", autocomplete.getPlace().formatted_address)
                    var loc = {};
                    var near_place = autocomplete.getPlace();
                    loc.addr = near_place.formatted_address
                    loc.lng = near_place.geometry.location.lng()
                    loc.lat = near_place.geometry.location.lat()
                    vue.locationData = loc
                });
		    },
           sortShopsByDistance: function(shops){
            shops.sort(function (a,b){
                return a.dist - b.dist
            }) 
            var limit = shops.length > 10 ? 10 : shops.length
            for(var i = 0; i<limit; i++){
                this.firstTenShops.push(shops[i])
            }
            this.googleDistanceMatrix(this.firstTenShops)
            
           },
           googleDistanceMatrix: function (shops){
                var latLngArray = [];
                var origin = [this.locationData.lat +","+this.locationData.lng]
                var vue = this 
                shops.map(shop=>{
                    let latLngArray = [new google.maps.LatLng(shop.lat , shop.lng)]
                    var service = new google.maps.DistanceMatrixService();
                    var travel_mode = shop.dist > 1 ? "DRIVING" : "WALKING"
                    service.getDistanceMatrix(
                    {
                        origins: origin,
                        destinations: latLngArray,
                        travelMode: travel_mode,
                        unitSystem: google.maps.UnitSystem.METRIC,
                        avoidHighways: true,
                        avoidTolls: true,
                    }, callback);

                    function callback(response, status) {
                        if(status == google.maps.DistanceMatrixStatus.OK){
                            if(response.rows[0].elements[0].status !== "ZERO_RESULTS"){
                                var result = response.rows[0].elements[0];
                                shop.walkTime = result.duration.text
                            }else{
                                shop.walkTime = 0
                            }
                        }
                        vue.sortedShops.push(shop)
                        if(vue.sortedShops.length == 10){
                            vue.recordShopSearch();
                        }

                        console.log(vue.sortedShops.length)
                    }
                    
                })


           },
           getItemShops: function(){
               this.shops = [];
               this.calculatedShops = [];
               this.sortedShops = [];
               this.firstTenShops = [];
               let formdata = {
                   item: this.item,
               }
               axios.post(this.pathOrigin+'/get_item_shops', formdata)
               .then(res=>{
                   if(res.data.length){
                        this.filterAddreses(res.data);
                        this.saveUserActivity(1);
                   }else{
                       this.notFound = true
                       this.saveUserActivity(0);
                   }
                  
               })
               .catch(err=>{
                   console.log(err)
               })
           },
           filterAddreses: function(shops){
               shops.map(shop => {
                   let unit = 'K'
                   let lat1 = this.locationData.lat , lat2 = shop.lat
                   let lon1 = this.locationData.lng, lon2 = shop.lng
                   if ((lat1 == lat2) && (lon1 == lon2)) {
                        shop.dist = 0
                    }
                    else {
                        var radlat1 = Math.PI * lat1/180;
                        var radlat2 = Math.PI * lat2/180;
                        var theta = lon1-lon2;
                        var radtheta = Math.PI * theta/180;
                        var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                        if (dist > 1) {
                            dist = 1;
                        }
                        dist = Math.acos(dist);
                        dist = dist * 180/Math.PI;
                        dist = dist * 60 * 1.1515;
                        if (unit=="K") { dist = dist * 1.609344 }
                        if (unit=="N") { dist = dist * 0.8684 }
                        shop.dist =  dist;
                    }
                    this.calculatedShops.push(shop)
               })
               this.sortShopsByDistance(this.calculatedShops)
            //    console.log(this.calculatedShops)
           },
           saveUserActivity: function (wf){
               var formdata = {
                   activity_type: "search",
                   user_agent: navigator.userAgent,
                   search_term: this.item,
                   search_term_was_found: wf,
                   client_location: this.locationData.addr
               }

               axios.post(this.pathOrigin+'/save_user_activity', formdata)
               .then(res=>{
                //    console.log(res)
               })
               .catch(err=>{
                //    console.log(err)
               })
           },
           recordShopSearch: function(){
               var shopData = [];
               for(var i = 0; i < this.sortedShops.length; i++){
                   var sData = {shopId:this.sortedShops[i].id, position: i+1}
                   shopData.push(sData);
               }
               var formdata = {
                   user_agent: navigator.userAgent,
                   search_term: this.item,
                   shopStats: shopData
               }

               axios.post(this.pathOrigin+'/save_shop_search', formdata)
               .then(res=>{
                //    console.log(res)
               })
               .catch(err=>{
                //    console.log(err)
               })
           }
       },
       computed: {
            locationData: {
                get: function(){
                    return this.$store.state.PositionData;
                },
                set: function(value){
                    this.$store.state.PositionData = value
                    this.getItemShops();
                }
		    },
       },
       components: {
          lonuxFooter,
          SearchInput: SearchField
       }
    }
</script>