<template>
    <div>
        <div class="preloader">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div class="search">
            <div class="search-form">
                <div class="container">
                    <search-input></search-input>           
                </div>
            </div>


            <!-- location -->
            <div class="py-5 mb-4">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                           
                            <span class="subtitle" >
                                Your location: <span class="font-weight-normal"> {{locationData.addr}}</span>
                            </span> 

                        </div>

        
                        <div class="col-md-6 text-right">
                            <div class="form-group " style="display:none" id="changeAddress">
                                <input type="text"  ref="changelocation" class="form-control" placeholder="type new location">
                            </div>
                            
                            <a href="#" id="changeLoc" class="btn btn-secondary btn-auth">change location</a>
                            <!-- <a href="#" id="saveLoc" style="display: none" class="btn btn-secondary btn-auth">Save location</a> -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- resukt -->

            <div class="search-result">
                <div class="container">
                    <!-- result count -->
                    <h4 class="mb-5">Result(s) for {{item}}</h4>
                    
                    <!-- Best match -->
                    <div class="search-result-best" v-if="bestMatch">
                        <!-- Best seller tag -->
                        <div class="best-seller">Best match</div>
                        <!-- rating tag -->
                        <div class="search-rating">
                            <i class="material-icons">star</i> 
                            <span>{{bestMatch.shop_rating.rating}}</span>&nbsp;
                            <span>({{bestMatch.shop_rating.count}} total reviews)</span>
                        </div>

                        <!-- 
                            searched store result 
                            showcasing the image, the store name ...
                        -->
                        <div class="search-store-result">
                            <div class="image" style="cursor: pointer">
                                <!-- img -->
                                <!-- <img :src="bestMatch.image" alt="random"> -->

                                <!-- getting only the first item from the list of images-->
                                <span v-for="(item, i) in media" :key="i">
                                    <img v-if="i == 0"  :src="item.thumb" @click="openGallery(i)" alt="random">
                                </span>
                                <!-- <img v-if="itemData" :src="itemData.image" alt="Item Image">
                                <img v-else :src="bestMatch.image" alt="Shop Image"> -->
                            </div>


                            <div class="info">
                                <h1 class="store-name">{{bestMatch.shop_name}}</h1>
                                <p class="store-address subtitle font-weight-normal mb-4">{{bestMatch.shop_address}}</p>
                                
                                <p class="mb-3" v-if="itemData">
                                    item(s) sold in <span class="font-weight-bold text-capitalize">{{itemData.sold_in}}</span>
                                </p>

                               <item-action v-if="itemData" :item="itemData" :loc="locationData" :shop="bestMatch"></item-action>
                                
                            </div>
                        </div>
                        
                        <hr>

                        <!-- 
                            Related items from the search result
                         -->
                        <h6 class="my-5">{{bestMatch.shop_name}} also has: </h6>
                        <div v-if="relatedItems.length" class="search-store-related">
                            <carousel :items="4" :margin="15" :autoWidth="true" :nav="false">
                                <div class="search-store-related-item" v-for="relatedItem in relatedItems">
                                    <div class="image">
                                        <img :src="relatedItem.image" alt="random">     
                                    </div>
                                    <span class="item-name">{{relatedItem.name}}</span>
                                </div>
                            </carousel>
                        </div>
                    </div>

                    <!-- others -->
                    <h4 v-if="!notFound" class="my-5">These Shops also sell <strong>{{item}}</strong> close to you</h4>
                    <h2 v-else class="my-5">OOps! Seems we don't have <em>{{item}}</em> on board yet</h2>
                    <div v-if="sortedShops.length > 0" class="search-result-other">
                        <carousel :items="4" :margin="15" :autoWidth="true" :nav="false">
                            <div class="search-result-other-item" style="cursor:pointer" @click="displayShop(sortedShop, index)" v-for="(sortedShop, index) in sortedShops">
                                <div class="image">
                                    <img :src="sortedShop.image" alt="random">     
                                </div>
                                <span class="store-name text-truncate">{{sortedShop.shop_name}}</span>
                                <!--<span class="item-name">{{sortedShop.shop_address}}</span> -->
                                <span class="item-name">{{sortedShop.dist}} km away</span>
                            </div>
                        </carousel>
                    </div>
                </div>
                
            </div>
        </div>

        <handle-permissions></handle-permissions>
        <lonux-footer color="dark"></lonux-footer>
        <!-- light box to show images -->
        <light-box
        ref="lightbox"
        :media="media"
        :showLightBox="false"
      />
        
    </div>
</template>
<script>
    import handlePermissions from '../shared/handlePermissions'
    import SearchField from '../shared/SearchField.vue'
    import lonuxFooter from '../shared/footer.vue'
    import carousel from 'vue-owl-carousel'
    import itemAction from './itemAction'
    import lightBox from 'vue-image-lightbox'
    import { lonuxbus } from '../../app'


    export default{
        props: {
            item: {
                type: String,
                required: true,
            },
        },
        data(){
           return{
               shops: [],
               calculatedShops: [],
               sortedShops: [],
               firstTenShops: [],
               notFound: false,
               bestMatch: null,
               relatedItems: [],
               itemData: null,
            //    list of images for the lightbox
               media: [
                    { // For image
                        thumb: 'https://picsum.photos/200/300?random=1',
                        src: 'https://picsum.photos/600/900?random=1',
                        caption: 'caption to display', // Optional
                         
                    },
                    { // For image
                        thumb: 'https://picsum.photos/200/300?random=2',
                        src: 'https://picsum.photos/600/900?random=2',
                        caption: 'caption to display', // Optional
                         
                    },
                    { // For image
                        thumb: 'https://picsum.photos/200/300?random=3',
                        src: 'https://picsum.photos/600/900?random=3',
                        caption: 'caption to display', // Optional
                         
                    },
               ]
           }
       }, 
    
        mounted(){
            // if('indexedDB' in window){
            //     this.getUserLocation()
            //     .then(loc => {

            //         console.log(loc, "idb")

            //         if(loc.length){
            //              this.locationData = loc
            //         }else {
            //             this.address
            //         }
            //     })
            // }else{
            //     this.address
            // }
            let vue = this
            $("#changeAddress input").on('focus', function(){
                vue.googleAuto()
            })

            $("a#changeLoc").click(function(){
                $("#changeAddress").fadeIn();
            })

            this.address
            
        }, 
        created(){
           $(window).on('load',function(){
               $('.preloader').hide();
           })
        },
       methods: {
            openGallery(index) {
                console.log(this.$refs.lightbox);
                this.$refs.lightbox.showImage(index)
            },
            viewResult(key){
                window.location.href = this.pathOrigin + '/result/'+key;
            },
           googleAuto: function(){
                let vue = this;
                let searchInput = this.$refs['changelocation']
                // let autocomplete = new google.maps.places.Autocomplete((searchInput), {
                //     types: ['geocode'],
                //     componentRestrictions: {country: 'ng'}
                // });
                let autocomplete = new google.maps.places.SearchBox((searchInput), {
                    types: ['geocode'],
                    componentRestrictions: {country: 'ng'}
                });
                google.maps.event.addListener(autocomplete, 'places_changed', function (data) {
                    // console.log("auto:", autocomplete.getPlace().formatted_address)
                    var loc = {};
                    var near_place = autocomplete.getPlaces();
                    console.log(near_place)
                    loc.addr = near_place[0].formatted_address
                    loc.lng = near_place[0].geometry.location.lng()
                    loc.lat = near_place[0].geometry.location.lat()
                    vue.locationData = loc
                    lonuxbus.$emit('updateLocation')
                });
		    },
           sortShopsByDistance: function(shops){
            shops.sort(function (a,b){
                return a.dist - b.dist
            }) 
            var limit = shops.length > 10 ? 10 : shops.length
            for(var i = 0; i<limit; i++){
                this.firstTenShops.push(shops[i])
            }

            this.firstTenShops.sort(function (a,b){
                return a.dist - b.dist
            }) 

            this.googleDistanceMatrix(this.firstTenShops)
            
           },
           googleDistanceMatrix: function (shops){
                var latLngArray = [];
                var origin = [this.locationData.lat +","+this.locationData.lng]
                var vue = this 
                shops.map(shop=>{
                    let latLngArray = [new google.maps.LatLng(shop.lat , shop.lng)]
                    var service = new google.maps.DistanceMatrixService();
                    var travel_mode = shop.dist > 1 ? "DRIVING" : "WALKING"
                    service.getDistanceMatrix(
                    {
                        origins: origin,
                        destinations: latLngArray,
                        travelMode: travel_mode,
                        unitSystem: google.maps.UnitSystem.METRIC,
                        avoidHighways: true,
                        avoidTolls: true,
                    }, callback);

                    function callback(response, status) {
                        if(status == google.maps.DistanceMatrixStatus.OK){
                            if(response.rows[0].elements[0].status !== "ZERO_RESULTS"){
                                var result = response.rows[0].elements[0];
                                shop.walkTime = result.duration.text
                            }else{
                                shop.walkTime = 0
                            }
                        }
                        vue.sortedShops.push(shop)
                        if(vue.sortedShops.length == vue.firstTenShops.length){
                            console.log("it It!!!----!!!_---!!!")
                            vue.sortedShops.sort(function (a,b){
                                return a.dist - b.dist
                            })

                            vue.bestMatch = vue.sortedShops[0]
                            vue.recordShopSearch(vue.sortedShops);

                            vue.sortedShops.shift()

                            vue.getRelatedItems(vue.bestMatch.id);

                            vue.getItemData();
                        }

                        // console.log(vue.sortedShops.length)
                    }
                    
                })


           },
           getItemShops: function(){
               this.shops = [];
               this.calculatedShops = [];
               this.sortedShops = [];
               this.firstTenShops = [];
               let formdata = {
                   item: this.item,
               }
               axios.post(this.pathOrigin+'/get_item_shops', formdata)
               .then(res=>{
                   if(res.data.data.length){
                        this.calculateDistanceFromShop(res.data.data);
                        this.saveUserActivity(1);
                   }else{
                       this.notFound = true
                       this.saveUserActivity(0);
                   }
                  
               })
               .catch(err=>{
                   console.log(err)
               })
           },
           calculateDistanceFromShop: function(shops){
               shops.map(shop => {
                   let unit = 'K'
                   let lat1 = this.locationData.lat , lat2 = shop.lat
                   let lon1 = this.locationData.lng, lon2 = shop.lng
                   if ((lat1 == lat2) && (lon1 == lon2)) {
                        shop.dist = 0
                    }
                    else {
                        var radlat1 = Math.PI * lat1/180;
                        var radlat2 = Math.PI * lat2/180;
                        var theta = lon1-lon2;
                        var radtheta = Math.PI * theta/180;
                        var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                        if (dist > 1) {
                            dist = 1;
                        }
                        dist = Math.acos(dist);
                        dist = dist * 180/Math.PI;
                        dist = dist * 60 * 1.1515;
                        if (unit=="K") { dist = dist * 1.609344 }
                        if (unit=="N") { dist = dist * 0.8684 }
                        shop.dist =  Math.round(dist);
                    }
                    this.calculatedShops.push(shop)
               })
               this.sortShopsByDistance(this.calculatedShops)
            //    console.log(this.calculatedShops)
           },
           saveUserActivity: function (wf){
               var formdata = {
                   activity_type: "search",
                   user_agent: navigator.userAgent,
                   client_location: this.locationData.addr,
                   activity_data: {
                    search_term: this.item,
                    search_term_was_found: wf,
                   }
               }

               axios.post(this.pathOrigin+'/save_user_activity', formdata)
            //    .then(res=>{
            //     //    console.log(res)
            //    })
            //    .catch(err=>{
            //     //    console.log(err)
            //    })
           },
           recordShopSearch: function(shops){
               console.log("recording shop search", shops)
               var shopData = [];
               for(var i = 0; i < shops; i++){
                   var sData = {shopId:shops[i].id, position: i+1}
                   shopData.push(sData);
               }
               var formdata = {
                   user_agent: navigator.userAgent,
                   search_term: this.item,
                   shopStats: shopData
               }

               axios.post(this.pathOrigin+'/save_shop_search', formdata)
               .then(res=>{
                //    console.log(res)
               })
               .catch(err=>{
                //    console.log(err)
               })
           },
           getRelatedItems: function(shop_id, cat_id){
               axios.get(this.pathOrigin+'/get_related_items/'+shop_id+'/'+this.item)
               .then(res=>{
                   this.relatedItems = res.data.data
               })
               .catch(err=>{
                   console.log(err)
               })
           },
           displayShop: function(newShop, index){
               this.sortedShops.push(this.bestMatch)
               this.sortedShops.splice(index, 1)
               this.sortedShops.sort( (a, b) => {
                   return a.dist - b.dist
               } )

               window.scrollTo(0, 0);

               this.bestMatch = newShop
               this.getItemData()

           },
           getItemData: function(){
               axios.get(this.pathOrigin+'/get_item_data/'+this.bestMatch.id+'/'+this.item)
               .then(res=>{
                   this.itemData = res.data.data
               })
               .catch(err=>{
                   console.log(err)
               })
           }
       },
       computed: {
            locationData: {
                get: function(){
                    return this.$store.state.PositionData;
                },
                set: function(value){
                    this.$store.state.PositionData = value
                    this.getItemShops();
                    console.log('..............')
                }
		    },
       },
       components: {
          carousel,
          itemAction,
          lonuxFooter,
          handlePermissions,
          SearchInput: SearchField,
          lightBox
       }
    }
</script>


<style scoped>

    .preloader{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 10000;
    }
</style>