<template>
    <div>
        <div class="preloader">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div class="div">
            <div class="search-form search-form-body px-3">
                <div class="container">
                    <search-input></search-input>           
                </div>
            </div>
            <div class="herobox herobox-sm">
                <img src="https://lonux.s3.us-east-2.amazonaws.com/14270828.jpg" class="img-fluid herobox-image" alt=""/>
                <div class="herobox-details">
                    <h1 class="text-white display-4"> {{shop.shop_name}} </h1>
                    <p class="text-white"> {{shop.shop_address}} </p>
                </div>
            </div>
        </div>

        <main class="main bg-light pb-5">
            <section class="product-store">
                <div class="container">
                    <div class="products pt-5">
                        <h3 class="mb-4"> Our products </h3>
                        <p class="mb-4 small text-muted">{{ productsCount }} total products</p>
                        <div class="product-item">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-3 mb-4" v-for="(product, index) in products" :key="index">
                                    <div class="card border-0 bg-transparent" data-toggle="modal"
                                        data-target="#ProductPopUp" role="button">
                                        <img style="max-height: 127px;" :src="getImage(product.images)" alt="" class="rounded img-fluid">
                                        <div class="card-body px-1 pb-0">
                                            <p class="mb-0 text-md--2"> {{ product.name }} </p>
                                            <p class="mb-0"> {{ product.amount | formatCurrency }} </p>
                                        </div>
                                    </div>
                                    <a v-if="product.available_in_stock > 0" class="nav-link px-0 pt-0" role="button" @click="addToCart(product)"> Add to cart ({{ product.available_in_stock}})</a>
                                    <a v-else class="text-muted" role="button"> out of stock</a>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination justify-content-center" v-if="productsObj.prev_page_url != null || productsObj.next_page_url != null">
                            <li :class="{'page-item': true, disabled: productsObj.prev_page_url == null}">
                                <a class="page-link" href="#" @click.prevent="getShopItems(productsObj.prev_page_url)" tabindex="-1">Previous</a>
                            </li>
                            <li :class="{'page-item': true, disabled: productsObj.next_page_url == null}">
                                <a class="page-link" @click.prevent="getShopItems(productsObj.next_page_url)" href="#">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="reviews pb-5">
                <div class="container">
                    <h3 class="mb-4"> Reviews </h3>
                    <p class="text-muted small">{{reviewsCount}} total reviews</p>
                    <div class="reviews-list" v-if="reviews.length">
                        <div class="review mb-3" v-for="(review, index) in reviews" :key="index">
                            <div class="review-detail mb-3">
                                <span class="mr-5 text-md--2"> {{review.user ? review.user.name: "Anonymouse"}} </span>
                                <span>
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.90625 13.3612L14.4103 16.625L12.9497 10.4738L17.8125 6.335L11.4089 5.80125L8.90625 0L6.40359 5.80125L0 6.335L4.86281 10.4738L3.40219 16.625L8.90625 13.3612Z"
                                            fill="#F2C94C" />
                                    </svg> {{review.rating}}
                                </span>
                            </div>
                            <div class="review-text text-muted">
                                {{review.desc}}
                            </div>
                        </div>
                        <ul class="pagination justify-content-left mt-5" v-if="reviewsObj.next_page_url != null">
                            <li :class="{'page-item': true, disabled: reviewsObj.next_page_url == null}">
                                <a class="page-link btn btn-default" @click.prevent="getShopReviews(reviewsObj.next_page_url)" href="#">Fetch More</a>
                            </li>
                        </ul>
                    </div>
                    <div v-else class="reviews-list">
                        <p>No reviews</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
  
</template>

<script>
import SearchField from '../shared/SearchField.vue'
export default {
    props: {
        shop: {
            required: true,
            type: Object
        }
    },
    data() {
        return {
            products: [],
            reviews: [],
            productsObj: {},
            reviewsObj: {},
            productsCount: 0,
            reviewsCount: 0
        }
    },
    components: {
        SearchInput: SearchField,
    },
    created(){
        $(window).on('load',function(){
            $('.preloader').hide();
        })
    },
    mounted(){
        this.getShopItems();
    },
    methods: {
        addToCart: function(product){
            const item = {
                name: product.name,
                quantity: 1,
                amount: product.amount,
                lat: this.shop.lat,
                lng: this.shop.lng,
                shop_item_id: product.id,
                images: product.images,
                shop_name: this.shop.shop_name,
                shop_id: this.shop.id
            }
            this.$store.dispatch('addToCartAction', item)

            this.$toasted.show( "Item added to cart", {
                type: "success",
                duration: 2000
            } )
        },
        getShopItems: function(url){
            const fetch_url = url || this.pathOrigin + '/get_shop_items/'+ this.shop.key
            axios.get(fetch_url)
            .then(res => {
                this.products = res.data.data.items.data
                this.productsCount = res.data.data.item_count
                this.productsObj = res.data.data.items
            })
            .catch(err => {
                console.log(err)
            })
            .then( val => {
                console.log("test value", val)
                this.getShopReviews();
            })
        },
        getImage: function(val) {
            if (val) return val.split(',')[0] 

            return 'https://lonux.s3.us-east-2.amazonaws.com/dummy.png'
        },
        getShopReviews: function(url){
            const fetchUrl = url || this.pathOrigin + '/get_shop_rating/' + this.shop.key
            axios.get(fetchUrl)
            .then(res => {
                this.reviews = [...this.reviews, ...res.data.data.reviews.data]
                this.reviewsObj = res.data.data.reviews
                this.reviewsCount = res.data.data.count
            })
            .catch(err => {
                console.log(err)
            })
        }
    }
}
</script>

<style scoped>
    .preloader{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 10000;
    }
    
</style>