<template>

	<div class="auth-section">
		<div class="container">
			<div class="welcome-text text-center text-light">
				<h1>Welcome back</h1>
				<p>Please sign in</p>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-5">
					<ul class="text-danger list-group mb-5" v-for="(error,index) in errors" :key="index">
						<li style="list-style:none">{{error}}</li>
					</ul>

					<form @submit.prevent="checkForm" >

						<div class="col-12 text-center form-group mb-3">
						</div>
						<div class="form-group form-group-auth form-group-auth-dark">
							<input type="text" name="email" id="email_phone" v-model="formdata.email" placeholder="phone (e.g. 234**********)" class="form-control form-control-dark" autofocus required>
							<label for="email_phone">Phone number (234XXXXXXXXXX)</label>
							<!-- <div class="help-block small">Phone Numbers must follow the <strong>+234XXXXXXXXXX</strong> format</div> -->
						</div>
						<div class="form-group form-group-auth form-group-auth-dark">
							<input type="password" name="password" id="password" v-model="formdata.password" placeholder="password" class="form-control form-control-dark" required>
							<label for="password">Password</label>
						</div>
						<div class="form-group text-center my-5">
							<button id="loginBtn" class="btn btn-primary btn-auth">login</button>
							<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
						</div>
						<p class="text-center">
							<span class="text-light">Don't have an account yet</span>
							<a :href="pathOrigin +'/register'">Sign up</a>
						</p>
						<p class="text-center">
							<span class="text-light">Shop Manager ?</span>
							<a href="https://manager.lonux.com.ng">Login</a>
						</p>
						<p class="text-center">
							<span class="text-light">Forgot Password ?</span>
							<a :href="pathOrigin +'/resetPassword'">Reset</a>
						</p>
					</form>
				</div>
			</div>

		</div>
	</div>

</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {

 	name: 'LoginComponent',

  	data () {
	    return {
	    	errors: [],
	    	formdata: {
	    		email: null,
	    		password: null
	    	},
	    	loader: {
	    		loading: false,
	    		color: "#fd961a",
	    	}
	    };
	},
	mounted(){
		$('input#email_phone').keyup(function(){
			  $(this).val($(this).val().replace(/\s+/g, ''));
		})
	},
    methods: {
    	checkForm: function(){
    		this.errors = [];
    		if (!this.formdata.email || !this.formdata.password) {
    			this.errors.push("All fileds are required!")
    		}else{
					if (this.formdata.email.length == 11 && this.formdata.email.substr(0,1) == 0)
					{
						this.formdata.email = 234+this.formdata.email.substr(1, this.formdata.email.length - 1)
					}
    			this.login();
    		}
    	},
    	login: function(){
    		this.disable("button#loginBtn")
    		axios.post(this.pathOrigin+"/login", this.formdata)
    			.then(response=>{
    				window.location.href = '/home'
    			})
    			.catch(err=>{
    				this.enable("button#loginBtn")
    				if (err.response.status == 403) {
    					this.errors.push("These details do not match our records")
    				}else{
    					this.errors.push("Oops! we could not sign you in. Please try again.")
    				}
    				console.log(err.response)
    			})
    	},
    	disable: function(el){
    		$(el).attr('disabled', true)
    		this.loader.loading = true;
    	},
    	enable: function(el){
    		$(el).attr('disabled', false)
    		this.loader.loading = false;
    	}
    },
    components: {
    	ClipLoader: ClipLoader,
    }
};
</script>

<style lang="css" scoped>
</style>
