<template>
	<div class="auth-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-6">
					<form @submit.prevent="sendCode()" v-if="page.verify" class="row justify-content-center align-self-center w-100 bg2" style="margin-left: 0px;">
						<div class="welcome-text text-light">
							<h3 class="text-center">Reset your password</h3>
						</div>

						<div class="col-12 text-center form-group mb-2">
							<!-- <p class="lonux-lead-text"><em>sign in to <span class="text-lead">lonux...</span></em></p> -->
              <h5 class="text-center text-light">Kindly provide your phone number</h5>
							<h6 class="invalid-feedback" style="display:block" id="error"></h6>
						</div>
						<div class="input-group input-group-dark col">
							<div class="input-group-prepend">
								<div class="input-group-text" style="background-color: transparent; font-weight:bolder;">+234</div>
							</div>
							<input type="tel" id="verifyInput" v-model="formdata.phoneNumber" maxlength="11" minlength="10" name="phone" placeholder="09000775533" class="form-control form-control-dark" autofocus required>
							<div class="invalid-feedback">
								Phone Number is Required
							</div>
						</div>
						<div class="form-group col-12 text-center my-5">
							<button id="verifyBtn" class="btn btn-primary btn-auth">Get Code</button>
							<br>
							<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
						</div>
						<p class="text-center">
							<span class="text-light">Back to</span>
							<a :href="pathOrigin +'/login'">Sign in</a>
						</p>
					</form>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-8">
					<form @submit.prevent="confirmCode()" v-if="page.confirm" class="text-light">
						<div class="col-12 text-center form-group mb-5">
							<!-- <p class="lonux-lead-text"><em>sign in to <span class="text-lead">lonux...</span></em></p> -->
							<h6 class="invalid-feedback" style="display:block" id="error"></h6>
						</div>

						<div class="text-center">

							<h3 class="text-uppercase">hello dear,</h3>
							<P class="text-light-2 small mb-5">
								A six digit code has been sent to your phone number <strong>{{'+234'+formdata.phoneNumber}}</strong>
								<br>
								Please confirm your phone number by providing the code below
							</p>

							<input type="text" id="confirmInput" v-model="formdata.code" maxlength="6" minlength="6" name="code" placeholder="XXXXXX" class="form-control form-control-dark text-center" autofocus required>
							<div class="invalid-feedback">
								Phone Number is Required
							</div>
						</div>
						<div class="form-group  text-center my-5">
							<button id="confirmBtn" class="btn btn-primary btn-auth">confirm</button>
							<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
						</div>

						<div class=" small text-center " v-if="timeBeforResend > 0">
							<p>Did not get the text? resend code in {{timeBeforResend}} secs</p>
							<clip-loader :loading="loader.reloading" :color="loader.color"></clip-loader>
						</div>
						<div class=" small text-center " v-else>
							<p>Did not get the text? <a @click.prevent="resendCode()" href="#">resend code</a></p>
							<clip-loader :loading="loader.reloading" :color="loader.color"></clip-loader>
						</div>
					</form>
				</div>
			</div>


		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<form @submit.prevent="changePassword()" v-if="page.newPassword" class="text-light">
						<div class="col-12 text-center form-group mb-5">
							<h6 class="invalid-feedback" style="display:block" id="error"></h6>
						</div>

						<div class="text-center">
							<label>New Password</label>
							<input type="password" id="newPassword" v-model="formdata.password" minlength="8" placeholder="XXXXXX" class="form-control form-control-dark text-center" autofocus required>
							<div class="invalid-feedback">
								Password confirmation does not match
							</div>
						</div>

						<div class="text-center mt-5">
							<lable>Confirm Password</lable>
							<input type="password" id="newPasswordConfirm" v-model="formdata.passwordConfirm" minlength="8" placeholder="XXXXXX" class="form-control form-control-dark text-center" required>
						</div>

						<div class="form-group  text-center my-5">
							<button id="changePassword" class="btn btn-primary btn-auth">Change Password</button>
							<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {

  name: 'PhoneNumverVerification',

  data () {
    return {
    	page: {
    		verify: true,
    		resend: false,
    		confirm: false,
    		changePhone: false,
				newPassword: false
    	},
    	formdata: {
    		phoneNumber: null,
    		code: null,
			action: 'reset_code'
    	},
    	loader: {
    		color: "#fd961a",
    		loading: false,
    		reloading: false,
    	},
		timeBeforResend: 120,
		codeIsResending: false,
    }
  },
  watch: {
	  timeBeforResend: {
		  handler: function(value){
			  if (value > 0) {
				  setTimeout( () => {
					  this.timeBeforResend--
				  }, 1000)
			  }
		  },
		  immediate: true
	  }
  },
  mounted(){
	  	$('input#verifyInput').keyup(function(){
			  $(this).val($(this).val().replace(/\s+/g, ''));
		  })
		//get cookies
		if (this.cookiePhone != "") {
			this.page.verify = false
			this.page.confirm = true
			this.formdata.phoneNumber = this.cookiePhone
			this.page.changePhone = true
			this.resendShow()
		}

		$("input#verifyInput").focus(function(){
			$(this).removeClass('is-invalid')
		})
		$("input#confirmInput").focus(function(){
			$(this).removeClass('is-invalid')
		})
  },
  methods: {
		changePassword: function(){
			//validations
			if (this.formdata.password !== this.formdata.passwordConfirm)
			{
				$("input#newPassword").addClass('is-invalid')
				return
			}

			if (this.formdata.password.length < 8)
			{
				$("h4#error").text("Password Length Cannot be lessthan Eight (8)")
				return
			}
			this.disable("button#changePassword");
			axios.post(`${this.pathOrigin}/password-reset`, this.formdata)
			.then( res => {
				window.location.href = `${this.pathOrigin}/login`
			})
			.catch( err => {
				if(err.response.data.message){
					$('h6#error').text(err.response.data.message)
				}else{
					$('h6#error').text("Server error")
				}
				this.enable("button#changePassword");
			})
		},
  	sendCode: function(){
  		if (this.formdata.phoneNumber) {
			if(this.formdata.phoneNumber.length == 11 && this.formdata.phoneNumber.substr(0,1) == 0){
				this.formdata.phoneNumber = this.formdata.phoneNumber.substr(1,this.formdata.phoneNumber.length -1)
			}
  			this.disable("button#verifyBtn");

  			axios.post(this.pathOrigin+'/auth/phone', this.formdata)
  				.then(response=>{
					this.formdata.reference = response.data.data.data.reference;
  					this.loader.loading = false;
  					this.page.verify = false;
  					this.page.confirm = true;
					this.timeBeforResend = 120;
					if (this.codeIsResending){
						alert("code sent successfully")
					}
  				})
  				.catch(err=>{
  					if (err.response.data.data == "PAE") {
  						$("h6#error").text('Oops!. This phone number alrady registered with lonux. Try Signing in instead')
  					}else if (err.response.data.data == "IPN"){
						  $("h6#error").text(err.response.data.message)
					  }else{
  						$("h6#error").html('Oops!. An internal server error occured. Please try again or contact support')
  					}
  					this.enable("button#verifyBtn");
  					console.log(err.response)
  				})
  		}else{
  			$("input#verifyInput").addClass('is-invalid')
  		}
  	},
  	confirmCode: function(){

  		this.disable("button#confirmBtn")

  		if (this.formdata.code) {
  			$("button#confirmBtn").attr('disabled', true)
  			this.loader.loading = true

  			axios.post(this.pathOrigin+"/auth/phone", this.formdata)
  				.then(response=>{
  					this.page.confirm = false
						this.loader.loading = false
						this.page.newPassword = true
  				})
  				.catch(err=>{
  					if (err.response.data == "denied") {
  						$('h6#error').text("invalid confirmation code. Try Again")
  					}else if( err.response.data.data == 'Phone_not_found'){
              $('h6#error').text(err.response.data.message)
            }else{
  						$('h6#error').text("Sorry we could not verify that code, an unexpected error occured")
  					}
  					this.enable("button#confirmBtn")
  				})
  		}else{
  			$("input#confirmInput").addClass('is-invalid')
  		}
  	},
  	disable: function(el){
  		$(el).attr('disabled', true)
  		this.loader.loading = true
  	},
  	enable: function(el){
  		$(el).attr('disabled', false)
  		this.loader.loading = false
  	},
  	resendShow: function(){
  		var tis = this;
  		setTimeout(function(){
  			tis.page.resend = true
  		}, 120000)
  	},
  	resendCode: function(){
  		this.loader.reloading = true;
		this.codeIsResending = true
  		this.sendCode();
  		this.loader.reloading = false;
  		$("p#resendCode").text("Confirmation code resent successfully.")
  	}
  },
  computed: {
  	cookiePhone: function(){
  		var name = "phone" + "=";
  		var decodedCookie = decodeURIComponent(document.cookie);
  		var ca = decodedCookie.split(';');
  		for(var i = 0; i <ca.length; i++) {
  		    var c = ca[i];
  		    while (c.charAt(0) == ' ') {
  		      c = c.substring(1);
  		    }
  		    if (c.indexOf(name) == 0) {
  		      return c.substring(name.length, c.length);
  		    }
  		}
  		return "";
  	}
  },
  components: {
  	ClipLoader: ClipLoader,
  }
};
</script>

<style lang="css" scoped>
</style>
