<template>
	<div class="auth-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-6">
					<form @submit.prevent="verifyPhone()" v-if="page.verify" class="row justify-content-center align-self-center w-100 bg2" style="margin-left: 0px;">
						<div class="welcome-text text-light">
							<h3 class="text-center">Kindly verify your phone number</h3>
						</div>

						<div class="col-12 text-center form-group mb-2">
							<!-- <p class="lonux-lead-text"><em>sign in to <span class="text-lead">lonux...</span></em></p> -->
							<h6 class="invalid-feedback" style="display:block" id="error"></h6>
						</div>
						<div class="input-group input-group-dark col">
							<div class="input-group-prepend">
								<div class="input-group-text" style="background-color: transparent; font-weight:bolder;">+234</div>
							</div>
							<input type="tel" id="verifyInput" v-model="formdata.phoneNumber" maxlength="11" minlength="10" name="phone" placeholder="09000775533" class="form-control form-control-dark" autofocus required>
							<div class="invalid-feedback">
								Phone Number is Required
							</div>
						</div>
						<div class="form-group col-12 text-center my-5">
							<button id="verifyBtn" class="btn btn-primary btn-auth">verify</button>
							<br>
							<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
						</div>
						<p class="text-center">
							<span class="text-light">Already have an account?</span>
							<a :href="pathOrigin +'/login'">Sign in</a>
						</p>
					</form>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-8">
					<form @submit.prevent="confirmCode()" v-if="page.confirm" class="text-light">
						<div class="col-12 text-center form-group mb-5">
							<!-- <p class="lonux-lead-text"><em>sign in to <span class="text-lead">lonux...</span></em></p> -->
							<h6 class="invalid-feedback" style="display:block" id="error"></h6>
						</div>

						<div class="text-center">

							<h3 class="text-uppercase">hello dear,</h3>
							<P class="text-light-2 small mb-5">
								A six digit code has been sent to your phone number <strong>{{'+234'+formdata.phoneNumber}}</strong>
								<br>
								Please confirm your phone number by providing the code below
							</p>

							<input type="text" id="confirmInput" v-model="formdata.code" maxlength="6" minlength="6" name="code" placeholder="XXXXXX" class="form-control form-control-dark text-center" autofocus required>
							<div class="invalid-feedback">
								Six digit code required
							</div>
						</div>
						<div class="form-group  text-center my-5">
							<button id="confirmBtn" class="btn btn-primary btn-auth">confirm</button>
							<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
						</div>

						<div class="small text-center " v-if="timeBeforResend > 0">
							<p>Did not get the text? resend code in {{timeBeforResend}} secs</p>
						</div>
						<div class="small text-center " v-else>
							<p>Did not get the text? <a @click.prevent="resendCode()" href="#">resend code</a></p>
							<clip-loader :loading="loader.reloading" :color="loader.color"></clip-loader>
						</div>
						<div class="text-center">
							<a @click.prevent="changePhoneNumber()" id="newPhone" href="#">Use a different phone number</a>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {

  name: 'PhoneNumverVerification',

  data () {
    return {
    	page: {
    		verify: true,
    		resend: false,
    		confirm: false,
    		changePhone: false
    	},
    	formdata: {
    		phoneNumber: null,
    		code: null,
    	},
    	loader: {
    		color: "#fd961a",
    		loading: false,
    		reloading: false,
    	},
		timeBeforResend: 120,
		codeIsResending: false,
    }
  },
  watch: {
	  timeBeforResend: {
		  handler: function(value){
			  if (value > 0) {
				  setTimeout( () => {
					  this.timeBeforResend--
				  }, 1000)
			  }
		  },
		  immediate: true
	  }
  },
  mounted(){
	  	$('input#verifyInput').keyup(function(){
			  $(this).val($(this).val().replace(/\s+/g, ''));
		  })
		//get cookies
		if (this.cookiePhone != "") {
			this.page.verify = false
			this.page.confirm = true
			this.formdata.phoneNumber = this.cookiePhone
			this.page.changePhone = true
			this.timeBeforResend = 120;
		}

		if (this.cookieRef != "") {
			this.formdata.reference = this.cookieRef
		}

		$("input#verifyInput").focus(function(){
			$(this).removeClass('is-invalid')
		})
		$("input#confirmInput").focus(function(){
			$(this).removeClass('is-invalid')
		})
  },
  methods: {
  	verifyPhone: function(){
  		if (this.formdata.phoneNumber) {
			if(this.formdata.phoneNumber.length == 11 && this.formdata.phoneNumber.substr(0,1) == 0){
				this.formdata.phoneNumber = this.formdata.phoneNumber.substr(1,this.formdata.phoneNumber.length -1)
			}
  			this.disable("button#verifyBtn");

  			axios.post(this.pathOrigin+'/auth/phone', this.formdata)
  				.then(response=>{
					this.formdata.reference = response.data.data.data.reference;
  					// set cookies
  					this.setCookie("phone",this.formdata.phoneNumber,10)
					this.setCookie("reference",response.data.data.data.reference,10)
  					this.loader.loading = false;
  					this.page.verify = false;
  					this.page.confirm = true;
					this.timeBeforResend = 120;
					if (this.codeIsResending){
						alert("code sent successfully")
					}
  				})
  				.catch(err=>{
						if(err.response.data.message){
							$("h6#error").text(err.response.data.message)
						}else{
							$("h6#error").html('Application error. Please try again or contact support')
						}
  					this.enable("button#verifyBtn");
  					console.log(err.response)
  				})
  		}else{
  			$("input#verifyInput").addClass('is-invalid')
  		}
  	},
  	confirmCode: function(){

  		this.disable("button#confirmBtn")

  		if (this.formdata.code) {
  			$("button#confirmBtn").attr('disabled', true)
  			this.loader.loading = true

  			axios.post(this.pathOrigin+"/auth/phone", this.formdata)
  				.then(response=>{
					this.deleteCookie()
  					window.location.href = this.pathOrigin+"/register?phone="+this.formdata.phoneNumber
  				})
  				.catch(err=>{
						if(err.response.data.message){
							$('h6#error').text(err.response.data.message)
						}else{
  						$('h6#error').text("Sorry we could not verify that code, an unexpected error occured")
  					}
  					this.enable("button#confirmBtn")
  				})
  		}else{
  			$("input#confirmInput").addClass('is-invalid')
  		}
  	},
  	setCookie: function(name,value,exdays){
  		var d = new Date();
  		d.setTime(d.getTime() + (exdays*24*60*60*1000));
  		var expires = "expires="+ d.toUTCString();
  		document.cookie = name + "=" + value + ";" + expires + ";path=/";
  	},
  	deleteCookie: function(){
  		document.cookie = "phone=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
		document.cookie = "reference=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
  	},
  	disable: function(el){
  		$(el).attr('disabled', true)
  		this.loader.loading = true
  	},
  	enable: function(el){
  		$(el).attr('disabled', false)
  		this.loader.loading = false
  	},
  	// resendShow: function(){
  	// 	var tis = this;
  	// 	setTimeout(function(){
  	// 		tis.page.resend = true
  	// 	}, 120000)
  	// },
  	resendCode: function(){
  		this.loader.reloading = true;
		this.codeIsResending = true
  		this.verifyPhone();
  		this.loader.reloading = false;
  		$("p#resendCode").text("Confirmation code resent successfully.")

  	},
  	changePhoneNumber: function(){
  		$('a#newPhone').attr("disabled", true)
  		axios.get(this.pathOrigin+'/auth/phone/'+this.formdata.phoneNumber)
  			.then(respnse=>{
  				this.deleteCookie()
  				location.reload()
  			})
  			.catch(err=>{
  				$("h6#error").text('Oops! error occured. Please try again')
  				$('a#newPhone').removeClass("disabled")
  			})
  	}
  },
  computed: {
  	cookiePhone: function(){
  		var name = "phone" + "=";
  		var decodedCookie = decodeURIComponent(document.cookie);
  		var ca = decodedCookie.split(';');
  		for(var i = 0; i <ca.length; i++) {
  		    var c = ca[i];
  		    while (c.charAt(0) == ' ') {
  		      c = c.substring(1);
  		    }
  		    if (c.indexOf(name) == 0) {
  		      return c.substring(name.length, c.length);
  		    }
  		}
  		return "";
  	},
	cookieRef: function(){
  		var name = "reference" + "=";
  		var decodedCookie = decodeURIComponent(document.cookie);
  		var ca = decodedCookie.split(';');
  		for(var i = 0; i <ca.length; i++) {
  		    var c = ca[i];
  		    while (c.charAt(0) == ' ') {
  		      c = c.substring(1);
  		    }
  		    if (c.indexOf(name) == 0) {
  		      return c.substring(name.length, c.length);
  		    }
  		}
  		return "";
  	}
  },
  components: {
  	ClipLoader: ClipLoader,
  }
};
</script>

<style lang="css" scoped>
</style>
