<template>
	<div class="auth-section d-flex">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="welcome-text text-light text-center">
						<h1>Sign Up</h1>
						<p class="text-light-2">
							Sign up to the world of unlimited business opportunities
						</p>
					</div>

					<ul v-for="(error, index) in errors" :key='index' class="text-danger mb-5">
						<li style="list-style:none">{{error}}</li>
					</ul>
					<form @submit.prevent="ValidateFields()">

						<div class="row">
							<div class="form-group form-group-auth form-group-auth-dark col-md-6">
								<input type="text" :value="'234'+phone" name="phone" class="form-control form-control-dark" autofocus required disabled>
							</div>
							<div class="form-group form-group-auth form-group-auth-dark col-md-6">
								<input type="name" id="fullname" name="name" placeholder="fullname" class="form-control form-control-dark" v-model="formdata.name" required>
								<label for="fullname">Fullname</label>
								<div class="invalid-feedback">
									Fullname is Required
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group form-group-auth form-group-auth-dark col-md-6">
								<input type="password" id="password" name="password" placeholder="password" class="form-control form-control-dark" v-model="formdata.password" required autocomplete>
								<label for="password">Password</label>
								<div class="invalid-feedback">
									Password confirmation did not match
								</div>
							</div>
							<div class="form-group form-group-auth form-group-auth-dark col-md-6">
								<input type="password" id="password_confirm" name="password_confirm" placeholder="confirm password" class="form-control form-control-dark" v-model="formdata.password_confirm" required autocomplete>
								<label for="password_confirm">Confirm Password</label>
							</div>
						</div>

						<div class="row">
							<div class="form-group form-group-auth form-group-auth-dark col-md-6">
								<input type="text" id="address" name="address" placeholder="Address" class="form-control form-control-dark" v-model="formdata.address" required ref="addressAutocomplets">
								<label for="address">Address</label>
								<div class="invalid-feedback">
									Address is Required
								</div>
							</div>
						</div>

						<handle-permissions></handle-permissions>
						<div class="form-group text-center my-5">
							<button id="regBtn" class="btn btn-primary btn-auth">register</button>
							<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
						</div>
						<p class="text-center">
							<span class="text-light">Already have an account ?</span>
							<a :href="pathOrigin +'/login'">Login</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
import handlePermissions from '../shared/handlePermissions'
export default {
	props: ["phone"],
	name: 'RegisterComponent',

	data () {
		return {
			errors: [],
			formdata: {
				name: null,
				address: null,
				password: null,
				phone: "234"+this.phone,
				account_type: 1,
				password_confirm: null,
				lng: null,
				lat: null
			},
			loader: {
    		color: "#fd961a",
    		loading: false,
    		reloading: false,
    	}
		};
	},
	mounted(){
		let vue = this
		$("input#address").on('focus', function(){
			vue.googleAuto()
		})
		$("input#password").focus(function(){
			$("input#password").removeClass('is-invalid');
		})
		$("input#password_confirm").focus(function(){
			$("input#password").removeClass('is-invalid');
		})
		// this.setLocationData()
		// console.log(this.address)
	},
	methods: {
		googleAuto: function(){
			let vue = this;
			let searchInput = this.$refs['addressAutocomplets']
			let autocomplete = new google.maps.places.Autocomplete((searchInput), {
			  	types: ['geocode'],
			  	componentRestrictions: {country: 'ng'}
			});
			google.maps.event.addListener(autocomplete, 'place_changed', function (data) {
				// console.log("auto:", autocomplete.getPlace().formatted_address)
				var loc = {};
				var near_place = autocomplete.getPlace();
				vue.formdata.address = near_place.formatted_address
				vue.formdata.lng = near_place.geometry.location.lng()
				vue.formdata.lat = near_place.geometry.location.lat()
				// vue.locationData = loc
		    });
		},
		ValidateFields: function(){
			this.errors.length = 0
			if (!this.formdata.name) {
				$("input#fullname").addClass('is-invalid')
			}
			if (!this.formdata.address) {
				$("input#address").addClass('is-invalid')
			}
			if (this.formdata.password !== this.formdata.password_confirm) {
				$("input#password").addClass('is-invalid')
			}
			if (this.formdata.name && this.formdata.address && this.formdata.password === this.formdata.password_confirm) {
				this.reValidateData();
			}
		},
		reValidateData: function(){

			if( (this.formdata.name.split(' ').length) < 2){
				this.errors.push('Fullname is required and should have atleast two words')
			}

			if(this.formdata.name){
				if(this.formdata.name.split(' ')[0] == "" || this.formdata.name.split(' ')[1] == ""){
					this.errors.push('Fullname should contain more that one word and a space between them')
				}
        	}

			if(!this.errors.length){
				this.registerUser();
			}
		},
		registerUser: function(){
			this.disable("button#regBtn")
			this.errors.length = 0
			axios.post(this.pathOrigin+"/register", this.formdata)
				.then(response=>{
					this.deleteCookie()
					window.location.href = '/home'
					// this.enable("button#regBtn")
				})
				.catch(error=>{
					this.enable("button#regBtn")
					console.log("This is the response", error)
					if (typeof error.response.data.errors.name != 'undefined') {
					  this.errors.push(error.response.data.errors.name[0])
					}else if (typeof error.response.data.errors.address != 'undefined') {
					  this.errors.push(error.response.data.errors.address[0])
					}else if (typeof error.response.data.errors.password != 'undefined') {
					  this.errors.push(error.response.data.errors.password[0])
					}else if (typeof error.response.data.errors.phone != 'undefined') {
					  this.errors.push(error.response.data.errors.phone[0])
					}else if (error.response.data == 'nophone') {
					  alert("we could not find the supplied phone number")
					  window.location.href = pathOrigin+'/auth/phone'
					}else{
						this.errors.push('Server error occured. Please try again')
					}
				})
		},
		deleteCookie: function(){
  		document.cookie = "phone=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
		},
		disable: function(el){
  			$(el).attr('disabled', true)
  			this.loader.loading = true
	  	},
	  	enable: function(el){
	  		$(el).attr('disabled', false)
	  		this.loader.loading = false
	  	},
		setLocationData: function(){
			this.formdata.address = this.locationData.addr
			this.formdata.lng = this.locationData.lng
			this.formdata.lat = this.locationData.lat
		}
	},
	computed: {
		locationData: {
			get: function(){
				return this.$store.state.PositionData;
			},
			set: function(value){
				this.$store.state.PositionData = value
				this.formdata.address = value.addr || value
				this.formdata.lng = value.lng
				this.formdata.lat = value.lat
			}
		},

	},
	components: {
		ClipLoader: ClipLoader,
		handlePermissions,
	}
};
</script>

<style lang="css" scoped>
</style>
