<template>
	
		<div class="dashboard-main-content">
			<div class="row pt-5 mt-3 mb-3 ml-3 mr-2 dashboard-row justify-content-center">
				<!-- shop lists -->
				<div class="col-lg-12 text-center">
					<h4 class="text-capitalize">Great!. Last Step to start selling</h4>
					<p class="small text-muted"><em>manage items in your shop</em></p>
					<hr>
				</div>
				
				<div class="col-lg-12">
					<div class="py-2 my-3">
						<div class="lead text-center">
							<small> <strong>You are using <em>{{editorName+" editor"}}</em></strong></small>&nbsp;&nbsp;&nbsp;<button @click.prevent="toggleEditor" class="btn btn-sm" style="background-color: #1f1f1f;color:#fff;">Change</button>
						</div>
					</div>
				</div>
				
				<transition name="fade">
					<keep-alive>
						<component :is="currentEditor"></component>
					</keep-alive>
				</transition>
				
			</div>
		</div>
			
</template>

<script>
import BasicEditor from './BasicEditor.vue'
import AdvancedEditor from './AddInventory.vue'
export default {
  	name: 'AddItemsToShop',

	data () {
	  return {
	  	currentEditor: 'basic-editor',
	  }
	},
	methods:{
		toggleEditor: function(){
			if (this.currentEditor == 'basic-editor') {
				this.currentEditor = 'advanced-editor';
			}else{
				this.currentEditor = 'basic-editor';
			}
		}
	},
	computed: {
		editorName: function(){
			return this.currentEditor == "basic-editor" ? "basic" : "advanced";
		}
	},
	components: {
		BasicEditor: BasicEditor,
		AdvancedEditor: AdvancedEditor,
	}
};
</script>

<style lang="css" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>