<template>
	<div class="col-lg-12">
		<div class="jumbotro" style="padding-top: 17px;">
			<div class="col-auto mt-5 form-group text-center">
				<label for="itemName">Items are added in</label>
				<select class="form-control form-control-light" v-model="formdata.soldIn">
					<option>Retail</option>
					<option>Wholesale</option>
				</select>
			</div>
		</div>

		<button v-if="formdata.items.length < 51" type="button" @click.prevent="addInputFields" class="btn btn-light">
			<i class="material-icons">add</i>
		</button>

		<div class="form-group col-lg-12 text-center">
			<label for="itemsCategory">Item Category</label>
			<input type="text" id="itemsCategory" v-model="formdata.itemsCategory" class="form-control form-control-light text-center" placeholder="E.G fruits, painkillers, biscuits, snacks">
		</div>
		<form class="form-row align-items-center justify-content-center" v-for="(item,index) in formdata.items" :key="index">
			<div class="col-auto form-group text-center">
				<label for="itemName">Item Name</label>
				<input type="text" v-model="item.itemName" placeholder="item name" class="form-control form-control-light">
			</div>
			<div class="col-auto text-center" style="margin-top: -15px;">
				<label for="itemAmount">Item Amount</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">N</div>
					</div>
					<input type="number" v-model="item.itemAmount" placeholder="item amount" class="form-control form-control-light">
				</div>
			</div>
			<div class="col-auto form-group text-center">
				<label for="itemNumber">Available in Stock</label>
				<input type="number" v-model="item.itemNumber" placeholder="pieces in stock" class="form-control form-control-light">
			</div>
			<div class="col-auto form-group text-center">
				<label for="">Remove</label><br>
				<button @click.prevent="removeInputFields(index)" type="button" class="btn btn-danger">-</button>
			</div>
		</form>
		<div class="col-lg-12 text-center mt-5">
			<button id="previewBtn" class="btn btn-lonux px-5 text-uppercase">Preview</button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="optionModal" aria-hidden="true">
		  	<div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      	<div class="modal-header">
			        	<h5 class="modal-title" id="previewModal">Please Preview Your Items</h5>
			      	</div>
				    <div class="modal-body">
				    	<p>Items Category: <em>{{formdata.itemsCategory}}</em></p>
				    	<p>Items Sold in: <em>{{formdata.soldIn}}</em></p>
				    	<div class="lead text-center">
				    		<em>Click on any table cell to edit</em>
				    	</div>
				    	<table class="table table-striped">
				    		<thead>
				    			<tr>
				    				<th scope="col">
				    					Name
				    				</th>
				    				<th scope="col">
				    					Amount(N)
				    				</th>
				    				<th scope="col">
				    					Available in Stock
				    				</th>
				    			</tr>
				    		</thead>
				    		<tbody>
				    			<tr v-for="item in formdata.items">
				    				<td>
				    					<input type="text" v-model="item.itemName">
				    				</td>
				    				<td>
				    					<input type="number" v-model="item.itemAmount">
				    				</td>
				    				<td>
				    					<input type="number" v-model="item.itemNumber">
				    				</td>
				    			</tr>
				    		</tbody>
				    	</table>
				    </div>
				    <div class="col-lg-12 text-center">
				    	<p class="lead"><strong>Note:</strong> incomplete form fields are automatically ignored!</p>
				    	<ul>
				    		<li class="text-danger" v-for="error in errors">{{error}}</li>
				    	</ul>
				    </div>
				    <div class="modal-footer">
				    	<button @click="confirmSubmit" id="saveItems" class="btn btn-lonux text-uppercase">Continue</button>

				    	<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>

				    	<button id="closeModal" class="btn btn-lonux text-uppercase">Edit</button>
				    </div>
			  	</div>
			</div>
		</div>
	</div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {
  name: 'BasicEditor',
  data () {
    return {
		errors: [],
    	formdata: {
    		shopKey: null,
			itemsCategory: null,
			soldIn: null,
    		items: [
    		{
    			itemName: null,
    			itemAmount: null,
    			itemNumber: null,
    		}
    		]
    	},
    	loader: {
    		loading: false,
    		color: "#fd961a",
    	}
    }
  },
  mounted(){
  	this.formdata.shopKey = this.$route.params.shopKey
  	var vue = this;
  	$("button#previewBtn").click(function(){
  		vue.formdata.items = vue.formdata.items.filter(vue.filterArr)
  		$("div#previewModal").modal({
  			show: true,
  			backdrop: false
  		});
  	})

  	//close modal
  	$("button#closeModal").click(function(){
  		$("div#previewModal").modal('toggle');
  	})
  },
  methods: {
  	redirect: function(){
  		this.$router.push({name: 'shop', params: {shopKey: this.formdata.shopKey}})
  	},
  	filterArr: function(arr){
  		return arr.itemName != null && arr.itemAmount != null && arr.itemNumber != null
  	},
  	saveItems: function(){
  		axios.post(this.pathOrigin+'/add_shop_items', this.formdata)
  			.then(response=>{
  				this.redirect();
  			})
  			.catch(error=>{
  				this.enable('button#saveItems')
  				console.log(error)
  			})
  	},
  	confirmSubmit: function(){
  		this.errors = [];
  		if (!this.formdata.itemsCategory) {
  			this.errors.push('These items need a category!')
  		}else if (!this.formdata.soldIn) {
  			this.errors.push('Please choose if these item are sold in retail or wholesale')
  		}else{
	  		if (confirm("Are you sure you want to continue with the following items?")) {
	  			this.disable('button#saveItems');
	  			this.formdata.items = this.formdata.items.filter(this.filterArr)
	  			this.saveItems();
	  		}
  		}
  	},
  	addInputFields: function(){
  		this.formdata.items.push({
    			itemName: null,
    			itemAmount: null,
    			itemNumber: null,
  		})
  	},
  	removeInputFields: function(index){
  		this.formdata.items.splice(index,1)
  	}
  },
  components: {
    	ClipLoader: ClipLoader,
    }
};
</script>

<style lang="css" scoped>
	td > input {
		background-color: transparent;
		border: none;
	}
	td>input:focus{
		outline: none;
	}
</style>