<template>
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="6">
                            Shop Services
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Charge(NGN)</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Sold</th>
                    </tr>
                </thead>
                <tbody v-if="services.length">
                    <tr v-for="(service,index) in services" :key="index">
                        <td scope="row">{{index+1}}</td>
                        <td>
                            {{service.service_name}}
                        </td>
                        <td>
                            {{service.service_charge}}
                        </td>
                        <td>
                            {{service.service_availability === 1 ? "Yes" : "No"}}
                        </td>
                        <td>
                            {{service.service_duration}}
                        </td>
                        <td>
                            {{service.sales.length}}
                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td class="text-center" colspan="6">No services to display</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DisplayServices",

        data () {
            return {
                services: [],
            }
        },
        mounted(){
            this.services = this.$route.params.services
        },
    }
</script>

<style lang="css" scoped>
    input#searchItem{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #61676d;
    }
    input:focus{
        outline: none;
    }
</style>