<template>
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="6">
                            Service Details
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Charge(NGN)</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Sold</th>
                    </tr>
                </thead>
                <tbody v-if="service">
                    <tr>
                        <td scope="row">#</td>
                        <td>
                            {{service.service_name}}
                        </td>
                        <td>
                            {{service.service_charge}}
                        </td>
                        <td>
                            {{service.service_availability === 1 ? "Yes" : "No"}}
                        </td>
                        <td>
                            {{service.service_duration}}
                        </td>
                        <td>
                            {{service.sales.length}}
                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td class="text-center" colspan="6">Error displaying service details</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash'
    export default {
        name: "DisplayService",

        data () {
            return {
                service: null,
            }
        },
        mounted(){
            this.catId = this.$route.params.catId
            this.service = this.$route.params.service
        },
    }
</script>

<style lang="css" scoped>
    input#searchItem{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #61676d;
    }
    input:focus{
        outline: none;
    }
</style>