<template>
    <div class="row justify-content-center">
        <fade-loader :loading="loader.loading" :color="loader.color" style="margin-top:240px;"></fade-loader>
        <div class="col-12" v-if="!loader.loading">
            <div class="row text-right" style="display: block">
                <input class="col-4" v-model="searchTerm" type="text" id="searchItem" placeholder="search for an item in this category">
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="6">
                            <label>Items Category:</label>
                                {{catName}}
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Available in Stock</th>
                        <th scope="col">Sold in</th>
                        <th scope="col">Sold</th>
                    </tr>
                </thead>
                <tbody v-if="categoryItems.length">
                    <tr v-for="(item,index) in categoryItems" :key="index">
                        <td scope="row">{{index+1}}</td>
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.amount}}
                        </td>
                        <td>
                            {{item.available_in_stock}}
                        </td>
                        <td>
                            
                            {{item.sold_in}}
                            
                        </td>
                        <td>
                            {{item.salesCount}}
                        </td>
                    </tr>
                    
                </tbody>
                <tbody v-else>
                    <tr>
                        <td class="text-center" colspan="6">No items in this category</td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-center" v-if="searchCategoryItemsObj">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li :class="{'disabled': searchCategoryItemsObj.prev_page_url == null, 'page-item': true}">
                            <a @click.prevent="getResults(searchCategoryItemsObj.prev_page_url)" href="#" class="page-link">Previous</a>
                        </li>
                        <li :class="{'disabled': searchCategoryItemsObj.next_page_url == null, 'page-item': true}">
                            <a @click.prevent="getResults(searchCategoryItemsObj.next_page_url)" class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row justify-content-center" v-if="categoryItemsObj">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li :class="{'disabled': categoryItemsObj.prev_page_url == null, 'page-item': true}">
                            <a @click.prevent="getItemCategoryItems(categoryItemsObj.prev_page_url)" href="#" class="page-link">Previous</a>
                        </li>
                        <li :class="{'disabled': categoryItemsObj.next_page_url == null, 'page-item': true}">
                            <a @click.prevent="getItemCategoryItems(categoryItemsObj.next_page_url)" class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
    import FadeLoader from 'vue-spinner/src/FadeLoader.vue'
    import _ from 'lodash'
    export default {
        name: "DisplayCategoryItems",

        data () {
            return {
                catId: null,
                catName: null,
                categoryItems: [],
                loader: {
    			    loading: true,
    		    },
                categoryItemsObj: null,
                searchCategoryItemsObj: null,
                searchTerm: null,
            }
        },
        mounted(){
            this.catId = this.$route.params.catId
            this.catName = this.$route.params.catName

            this.getItemCategoryItems()
        },
        methods: {
            startSearch: _.debounce(function(){
                this.getResults();
            }, 1000),
            getResults: function(page_url){
                this.categoryItemsObj = null,
                this.loader.loading = true
                let fd = {
                    "catId": this.catId,
                    "searchTerm": this.searchTerm
                }
                let url = page_url || `${this.pathOrigin}/get_search_results`
                axios.post(url, fd)
                    .then(response=>{
                        this.categoryItems = response.data.data.data
                        this.searchCategoryItemsObj = response.data.data
                        this.loader.loading = false
                    })
                    .catch(error=>{
                        console.log(error)
                        alert("sever error: could not load items")
                        this.loader.loading = false
                    })
            },
            getItemCategoryItems: function(page_url){
                this.searchCategoryItemsObj = null
                if(page_url){
                    this.loader.loading = true
                }
                let id = this.catId
                let url = page_url || this.pathOrigin+'/get_category_items/'+id
                axios.get(url)
                    .then(response=>{
                        this.categoryItems = response.data.data.data
                        this.categoryItemsObj = response.data.data
                        this.loader.loading = false
                    })
                    .catch(error=>{
                        console.log(error)
                        alert("sever error: could not load items")
                        this.loader.loading = false
                    })
            },
        },
        watch: {
            searchTerm: function(val){
                this.startSearch()
            }
        },
        components: {
    	    FadeLoader: FadeLoader,
  	    }
    }
</script>

<style lang="css" scoped>
    input#searchItem{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #61676d;
    }
    input:focus{
        outline: none;
    }
</style>