<template>
    <div class="row justify-content-center">
        <fade-loader :loading="loader.loading" :color="loader.color" style="margin-top:240px;"></fade-loader>
        <div class="col-12" v-if="!loader.loading">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="6">
                            <label>Shop Name:</label>
                                {{shopName}}
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Buying Channel</th>
                        <th scope="col">Pickup Mode</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Bought In</th>
                        <th scope="col">Date</th>
                        <th scope="col">Total Amount Made (NGN)</th>
                    </tr>
                </thead>
                <tbody v-if="salesItems.length">
                    <tr v-for="(sale,index) in salesItems" :key="index">
                        <td scope="row">{{index+1}}</td>
                        <td>
                            {{sale.shop_item ? sale.shop_item.name : sale.offered_service.service_name}}
                        </td>
                        <td>
                            {{sale.buying_channel}}
                        </td>
                        <td>
                            {{sale.pickup_mode}}
                        </td>
                        <td>
                            {{sale.quantity}}
                        </td>
                        <td>
                            {{sale.bought_in}}
                        </td>
                        <td>
                            {{returnDate(sale.created_at)}}
                        </td>
                        <td>
                            {{returnAmount(sale)}}
                        </td>
                    </tr>
                    
                </tbody>
                <tbody v-else>
                    <tr>
                        <td class="text-center" colspan="8">No sales for this shop</td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-center" v-if="salesItemsObj">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li :class="{'disabled': salesItemsObj.prev_page_url == null, 'page-item': true}">
                            <a @click.prevent="getShopSales(salesItemsObj.prev_page_url)" href="#" class="page-link">Previous</a>
                        </li>
                        <li :class="{'disabled': salesItemsObj.next_page_url == null, 'page-item': true}">
                            <a @click.prevent="getShopSales(salesItemsObj.next_page_url)" class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
    import FadeLoader from 'vue-spinner/src/FadeLoader.vue'
    import _ from 'lodash'
    export default {
        name: "SalesTable",

        data () {
            return {
                shopKey: null,
                shopName: null,
                salesItems: [],
                loader: {
    			    loading: true,
    		    },
                salesItemsObj: null,
            }
        },
        mounted(){
            this.shopKey = this.$route.params.shopKey
            this.shopName = this.$route.params.shopName
            if(this.shopKey){
                this.getShopSales()
            }
            
        },
        methods: {
            returnDate: function(created_at){
                let date = new Date(created_at)
                var dd = String(date.getDate()).padStart(2, '0');
                var mm = String(date.getMonth() + 1).padStart(2, '0');
                var yyyy = date.getFullYear();

                date = yyyy + '-' + mm + '-' + dd;
                return date;
            },
            returnAmount: function(sale){
                let amount = sale.shop_item ? sale.shop_item.amount : sale.offered_service.service_charge
                let quantity = sale.quantity;

                let totalAmount = amount * quantity;

                return new Intl.NumberFormat('en-IN', 
                {
                    style: 'currency',
                    currency: 'NGN', 
                    minimumFractionDigits: 2
                }).format(totalAmount);

            },
            startSearch: _.debounce(function(){
                this.getResults();
            }, 1000),
            getShopSales: function(page_url){
                this.searchSalesItemsObj = null
                if(page_url){
                    this.loader.loading = true
                }
                let id = this.catId
                let url = page_url || this.pathOrigin+'/shop/view_shop_sales/'+this.shopKey
                axios.get(url)
                    .then(response=>{
                        this.salesItems = response.data.data.data
                        this.salesItemsObj = response.data.data
                        this.loader.loading = false
                    })
                    .catch(error=>{
                        console.log(error)
                        alert("sever error: could not load items")
                        this.loader.loading = false
                    })
            },
        },
        watch: {
            searchTerm: function(val){
                this.startSearch()
            }
        },
        components: {
    	    FadeLoader: FadeLoader,
  	    }
    }
</script>

<style lang="css" scoped>
    input#searchItem{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #61676d;
    }
    input:focus{
        outline: none;
    }
</style>