<template>
	<div>

		<div class="dashboard-main-content">

			<breadcrumb :list= "BreadcrumbList">
				<h4 class="dashboard-title dashboard-title-1"> {{company}}</h4>
			</breadcrumb>
			<!-- <breadcrumb >
			</breadcrumb> -->

			<div class="" v-if="shop">
				<!-- shop lists -->
				<div class="shop-info">
					<div class="shop-info-detail">
						<h6 class="dashboard-title-2 font-weight-bold">{{shop.shop_name}}</h6>
						<p class="small text-muted">{{shop.shop_address}}</p>
					</div>
					<div class="shop-info-status">
						<p>
							<on-and-off :shopKey="shopKey"></on-and-off>
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3 col-md-3 mb-3">
						<div class="card setupCard">
							<div class="card-header">
								<h6 class="text-capitalize">Total Items</h6>
							</div>
							<div class="card-body text-center">
								<h2>{{shop.items.length}}</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 mb-3">
						<div class="card setupCard">
							<div class="card-header">
								<h6 class="text-capitalize">Shop Ratings</h6>
							</div>
							<div class="card-body text-center">
								<h2>{{shop.shop_rating.rating}}({{shop.shop_rating.count}})</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 mb-3">
						<div class="card setupCard">
							<div class="card-header">
								<h6 class="text-capitalize">Total Sales</h6>
							</div>
							<div class="card-body text-center">
								<h2>{{getTotalSales(shop.sales)}}</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 mb-3">
						<div class="card setupCard">
							<div class="card-header">
								<h6 class="text-capitalize">
								Search Status <i class="material-icons">info</i></h6>
							</div>
							<div class="card-body text-center">
								<h2 class="text-lead">{{shop.show_in_search === true ? "Active" : "False"}}</h2>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 dashboard-row">
					<div class="mb-3 d-flex justify-content-between align-items-center">
						<h2 >Items Category</h2>
						<!-- <button @click="gotoAddItemsToShopComponent(shopKey)" type="button" class="btn btn-light d-flex justify-content-between align-items-center">
							<span>add items </span>
							<i class="material-icons">add</i>
						</button> -->

					</div>
					<div v-if="shop.items_category.length" class="row">
						<div class="col-sm-6 col-md-4" v-for="(category, index) in shop.items_category" :key='index'>
							<div @click="getShopItems(category.id, category.item)" class="p-2 bg-light mb-3 itemCat">{{category.item}}</div>
						</div>
					</div>
					<p v-else>No item have been added to this shop!</p>
				</div>

				<!-- managers -->
				<div class="col-12 dashboard-row">
					<div class="mb-3 d-flex justify-content-between align-items-center">
						<h2 >Managers</h2>
						<button :disabled="shop.managers.length == 3" @click="addNewManager(shopKey)" type="button" class="btn btn-light d-flex justify-content-between align-items-center">
							<span>add manager </span>
							<i class="material-icons">add</i>
						</button>

					</div>
					<div v-if="shop.managers.length" class="row">
						<div @click="gotoManagerPage(manager)" class="col-sm-6 col-md-4" v-for="(manager, index) in shop.managers" :key='index'>
							<div class="p-2 bg-light mb-3 itemCat">{{manager.name}}</div>
						</div>
					</div>
					<p v-else >This shop has no managers</p>
				</div>

				<!-- Actions -->
				<div class="col-12 dashboard-row">
					<div class="mb-3 d-flex justify-content-between align-items-center">
						<h2 >Actions</h2>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<button @click.prevent="editShop(shop.key)" class="btn btn-secondary">Edit Shop</button>
						</div>
					</div>
				</div>

			</div>
			<div class="row pt-5 mt-3 mb-3 ml-3 mr-2 justify-content-center" v-if="notFound">
				<h1>Shop Not Found!</h1>
			</div>
			<div class="row pt-5 mt-3 mb-3 ml-3 mr-2 justify-content-center" v-if="severError">
				<h5>We encountered an error while fetching this resource. Please try reloading the page or contact support.</h5>
			</div>
		</div>

		<modal v-if="showModal" @hideModal="closeModal" :categoryId="categoryId"></modal>

		<sweet-modal ref="newManagerModal" icon="success">
			Manager Created Successfully
		</sweet-modal>
		<sweet-modal ref="addManager">
			<div class="p-md-4">
					<h5 class="card-title text-center mb-5 font-weight-bold">Create Shop Manager</h5>
			
				<div class="">
					<div class="container-fluid">
						<div class="col-12 text-center form-group mb-3">
							<ul v-for="(error, index) in errors" :key='index' class="text-danger">
								<li>{{error}}</li>
							</ul>
						</div>
						<div class="row justify-content-center">
							<form class="mb-5" @submit.prevent="createAdmin()">
								<div class="form-row mb-5">
									<div class="col">
										<input type="text" id="adminName" class="form-control" required v-model="formdata.name" placeholder="Admin Name">
										<div class="invalid-feedback">
											This field is required
										</div>
									</div>
									<div class="col">
										<input type="text" id="adminPhone" class="form-control" required v-model="formdata.phone" placeholder="Admin phone(234xxxxxxxxxx)">
										<div class="invalid-feedback">
											This field is required
										</div>
									</div>
								</div>
								<div class="form-row mb-5">
									<div class="col">
										<input type="password" id="adminPassword" min-length="6" class="form-control" required v-model="formdata.password" placeholder="password">
										<div class="invalid-feedback" id="pass">
											Pasword is required
										</div>
									</div>
									<div class="col">
										<input type="password" id="adminPassword2" min-length="6" class="form-control" required v-model="formdata.password2" placeholder="confirm password">
										<div class="invalid-feedback" id="pass2">
											This field is required
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="col text-center">
										<button ref="create_admin_button" type="submit" class="btn btn-primary">Create Admin</button>
									</div>
									<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!--<div class="modal-footer">
						<button type="button" class="btn btn-primary">Save changes</button>
				</div>-->
			</div>
		</sweet-modal>
		<sweet-modal ref="cantAddManager" icon="warning">
			You Can Not Add a New Manager
			<p class="mt-5">
				You can only create a maximum of three managers for one shop
			</p>

			<small class="mt-3">Tip: You can reassign more managers to a shop</small>
		</sweet-modal>
	</div>

</template>

<script>
import {lonuxbus} from '../../../../app.js'
import Modal from '../../../shared/Modal.vue'
import Breadcrumb from '../../../shared/Breadcrumb.vue'
import AddItemsToShop from './AddItemsToShop.vue'
import OnAndOff from '../../../shared/OnAndOff.vue'
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'

export default {

  	name: 'ShopIndex',

  	data () {
		return {
			shop: null,
			shopKey: null,
			notFound: false,
			showModal: false,
			categoryId: null,
			severError: false,
			BreadcrumbList: ['home','shop'],
			formdata: {},
			errors: [],
			loader: {
	    		color: "#fd961a",
	    		loading: false,
	    	}
		}
  	},
  	created(){
  		this.shopKey = this.$route.params.shopKey
  	},
  	mounted(){
		this.$on('hideModal', () => {
			console.log("hereeee", this)
			this.showModal = false
		})
		this.getShop()
		lonuxbus.$on('newShopCreated', data => {
			vue.openModal()
		})

		$('input#adminName').focus(function(){
			$(this).removeClass('is-invalid')
		})
		$('input#adminPhone').focus(function(){
			$(this).removeClass('is-invalid')
		})
		$('input#adminPassword').focus(function(){
			$(this).removeClass('is-invalid')
		})
		$('input#adminPassword2').focus(function(){
			$(this).removeClass('is-invalid')
		})
  	},
  	methods:{
		editShop: function(shopKey){
			this.$router.push("/home/manage_business/edit_shop/"+shopKey)
		},
		getTotalSales: function(sales){
			let totalSales = 0;
			for(var i = 0; i < sales.length; i++){
				totalSales += sales[i].quantity
			}

			return totalSales;
		},
		createAdmin: function(){
			if(this.validateForm()){
				if(this.formdata.phone.length == 11 && this.formdata.phone.substr(0,1) == 0){
					this.formdata.phone = this.formdata.phone.substr(1,this.formdata.phone.length -1)
				}
				this.errors = [];
				$(this.$refs['create_admin_button']).attr('disabled', true)
				this.loader.loading = true
				this.formdata.shop_key = this.shopKey
				axios.post(this.pathOrigin+'/manager', this.formdata)
				.then(res=>{
					$(this.$refs['create_admin_button']).attr('disabled', false)
					this.getShop()
					this.loader.loading = false
					this.formdata = {}
					this.$refs.addManager.close()
					this.$refs.newManagerModal.open()
				})
				.catch(error=>{
					console.log(error.response)
					this.loader.loading = false
					$(this.$refs['create_admin_button']).attr('disabled', false)
					if(typeof error.response.data.message != 'undefined'){
						this.errors.push(error.response.data.message)
					}
					if (typeof error.response.data.errors.name != 'undefined') {
					  this.errors.push(error.response.data.errors.name[0])
					}else if (typeof error.response.data.errors.password != 'undefined') {
					  this.errors.push(error.response.data.errors.password[0])
					}else if (typeof error.response.data.errors.phone != 'undefined') {
					  this.errors.push(error.response.data.errors.phone[0])
					}else{
						this.errors.push('Server error occured. Please try again')
					}
				})
			};

		},
		validateForm: function(){
			if(this.formdata.password !== this.formdata.password2){
				$('input#adminPassword').addClass('is-invalid')
				$('div#pass').text('Both passwords did not match')
				$('input#adminPassword2').addClass('is-invalid')
				$('div#pass2').text('Both passwords did not match')

				return
			}
			if(!this.formdata.name){
				$('input#adminName').addClass('is_invalid')

				return
			}

			if(!this.formdata.phone){
				$('input#adminPhone').addClass('is_invalid')

				return
			}

			if(!this.formdata.password){
				$('input#adminPassword').addClass('is_invalid')

				return
			}
			if(this.formdata.password.length < 6){
				$('input#adminPassword').addClass('is_invalid')
				$('div#pass').text('Password length must be greater than six(6)')

				return
			}

			if(this.formdata.name && this.formdata.phone && this.formdata.password){
				return true;
			}

		},
		addNewManager: function(){
			if(this.shop.managers.length == 3){
				this.$refs.cantAddManager.open();
				return
			}

			this.$refs.addManager.open()
		},
		openModal(){
			console.log(this, this.$refs)
			this.nextTick(function(){

			})
			this.$refs.newShopModal.open()
		},
		closeModal(){
			this.showModal = false
		},
		getShop: function(){
			axios.get(this.pathOrigin+'/getShop/'+this.shopKey)
				.then(response=>{
					this.shop = response.data.data
				})
				.catch(err=>{
					console.log(err)
					if (err.response.data == "notFound") {
						this.notFound = true
					}else{
						this.severError = true
					}
				})
		},
		gotoAddItemsToShopComponent: function(id){
			this.$router.push({name: 'AddItems', params: {shopKey: id}})
		},
		getShopItems: function(id, cat){
			// lonuxbus.$emit("openModal", {
			// 	shopKey: id,
			// })
			// this.showModal = true;
			// this.categoryId = id;
			this.$router.push({name: 'DisplayCategoryItems', params: {catId: id, catName: cat}})
		},
		gotoManagerPage: function(manager){
			let shopName = {shop_name : this.shop.shop_name}
			manager.shop = shopName
			let route = {
                    managerId: manager.id,
                    manager: manager
                }
                this.$router.push({
                    name: 'ViewManagerComponent',
                    params: route
                })
		}
  	},
	computed: {
		shopService: function(){
			return this.shop.shop_service_id == 1 ? "Open Sales" : "Services Oriented"
		}
	},
	components: {
		AddItemsToShop: AddItemsToShop,
		OnAndOff: OnAndOff,
		Modal: Modal,
		Breadcrumb: Breadcrumb,
		ClipLoader
	}
};
</script>

<style lang="css" scoped>
	.itemCat{
		border-bottom: 1px solid #f6891f;
		cursor: pointer;
	}
	.small{
			margin: 0px;
	}
</style>
