<template>
<div>
	<div class="search-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-9">

					<img :src="pathOrigin + '/img/lonux-logo-01.svg'"  class="welcome-logo" alt="lonux logo">

					<autocomplete></autocomplete>
		
		            <p class="text-center text-light welcome-title">
			            <vue-typed-js :fadeOut="true" :loop="true" :strings="['easy <span class=text-lead>selling,</span> fast <span class=text-lead>shopping,</span> instant <span class=text-lead>jobs.</span>']">
			              <span class="typing"></span>
			            </vue-typed-js>
		            </p>
				</div>
			</div>

			<span class="arrow-down-link">
				<a href="#info-section">
					<svg width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
						<path d="M40 24L37.18 21.18L26 32.34V8H22V32.34L10.84 21.16L8 24L24 40L40 24Z" />
					</svg>
				</a>
			</span>
		</div>
	</div>
	

	<!-- information section about lonux -->
	
	<handle-permissions></handle-permissions>

	
</div>
</template>

<script>
import Autocomplete from './shared/Autocomplete.vue'
import handlePermissions from './shared/handlePermissions'
import { lonuxbus } from '../app.js'
// var autocomplete = require('autocomplete.js');
export default {

 	name: 'welcome',

  	data () {
		return {
			searchQuery: '',
			searchSuggestion: []
		}
  	},
	mounted(){
		// this.askForLocationPermission();
		// console.log(this.address)
		lonuxbus.$on('searchSuggestions', () =>{
			this.getSearchSuggestions();
		})
	},
	methods: {
		askForLocationPermission: function(){
			alert('Jello')
		},
		triggerSuggestions: _.debounce((val) => {
			lonuxbus.$emit('searchSuggestions')
		},500),
		getSearchSuggestions(){
			if(this.searchQuery){
				axios.get(this.pathOrigin+'/get_item_suggestions/'+this.searchQuery)
				.then(res=>{
					this.searchSuggestion = [];
					this.highlightMatch(res.data)
				})
				.catch(err=>{
					console.log(err)
				})
			}
			
		},
		runSearch(){
			if(this.searchQuery != ''){
				window.location.href = `${this.pathOrigin}/search?q=${this.searchQuery}`
			// console.log(window.location.href);
			}
		},
		highlightMatch: function(dataArray){
			let len = this.searchQuery.length
			dataArray.map( data =>{
				let dataObj = {};
				let match = data.substr(0, len)
				let remTxt = data.substr(len, data.length)
				dataObj.name = data
				dataObj.match = match
				dataObj.remTxt = remTxt
				this.searchSuggestion.push(dataObj)

			})
		}
	},
	computed: {
		copyrightYear: function(){
			var d = new Date(); 
			return d.getFullYear();
		}
	},
  components: {
	  handlePermissions,
	  Autocomplete,
  }
};
</script>

<style lang="css" scoped>

.typed-element{
	display: inline-block;
}

</style>