<template>
<div>
	<div class="search-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-9">

					<img :src="pathOrigin + '/img/lonux-logo-01.svg'"  class="welcome-logo" alt="lonux logo">

					<autocomplete></autocomplete>
					<!--<form class="form position-relative" @submit.prevent="runSearch()">
						<div class="form-group form-search-lg">
							<input type="text" v-model="searchQuery" @keyup="triggerSuggestions()" name="searchBtn" class="form-control form-zero" placeholder="search an item. eg ceiling fan" autofocus required autocomplete="on">
							<button type="submit" class="form-zero">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="#F5F5F4"/>
								</svg>
							</button>
						</div>
						
						<transition name="fade">

							<div class="search-section-suggestion" v-if="searchSuggestion.length">
								
								<ul>
								
									<li v-for="(suggestion, i) in searchSuggestion" :key="i">
										<button @mouseover="searchQuery = suggestion.name"  @click="searchQuery = suggestion.name" href="#" type="submit" class="search-section-suggestion-item">
											<strong style="background-color: #d3d3d3">{{suggestion.match}}</strong>{{suggestion.remTxt}}
										</button>
									</li>
								</ul>	
									
							</div>
						</transition>
					</form>-->

					<!-- <p class="mt-4 text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora neque magni amet molestiae aperiam et corrupti voluptates minima sit omnis! </p> -->
		            <p class="text-center text-light welcome-title">
			            <vue-typed-js :fadeOut="true" :loop="true" :strings="['easy <span class=text-lead>selling,</span> fast <span class=text-lead>shopping,</span> instant <span class=text-lead>jobs.</span>']">
			              <span class="typing"></span>
			            </vue-typed-js>
		            </p>
				</div>
			</div>

			<span class="arrow-down-link">
				<a href="#info-section">
					<svg width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
						<path d="M40 24L37.18 21.18L26 32.34V8H22V32.34L10.84 21.16L8 24L24 40L40 24Z" />
					</svg>
				</a>
			</span>
		</div>


	</div>
	

	<!-- information section about lonux -->
	<div id="info-section">

		<div class="info-section info-section-1 bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-6 ">
						<div class="info-section-text">
							<h2>Sell your products with ease</h2>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quaerat repudiandae quas quod nulla similique non consectetur esse unde quos.</p>
						</div>
					</div>
					<div class="col-md-6 text-right">
							<img :src="pathOrigin + '/img/shop.svg'" alt="" class="info-section-img">
							<!-- <img :src="pathOrigin + '/img/lonux-logo-01.svg'"  class="welcome-logo" alt="lonux logo"> -->


					</div>
				</div>
			</div>
		</div>
		
		<div class="info-section info-section-2 bg-primary" id="get-what-you-want">
			<div class="container">
				<div class="row">
					<div class="col-md-6 ">
							<img :src="pathOrigin + '/img/buy.svg'" alt="" class="info-section-img">

					</div>
					<div class="col-md-6">
						<div class="info-section-text">
							<h2>Get what you are looking for faster</h2>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quaerat repudiandae quas quod nulla similique non consectetur esse unde quos.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="info-section info-section-3 bg-light position-relative">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="info-section-text">
							<h2>Become a worker instantly</h2>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quaerat repudiandae quas quod nulla similique non consectetur esse unde quos.</p>
						</div>
					</div>
					<div class="col-md-6 text-right">
							<img :src="pathOrigin + '/img/job.svg'" alt="" class="info-section-img">
					</div>
				</div>
			</div>

			<footer class="footer footer-abs">
				<div class="container">
					<p class="text-center">
						&copy; Lonux 2020
					</p>
				</div>
			</footer>
		</div>

	</div>

	<handle-permissions></handle-permissions>

	
</div>
</template>

<script>
import Autocomplete from './shared/Autocomplete.vue'
import handlePermissions from './shared/handlePermissions'
import { lonuxbus } from '../app.js'
// var autocomplete = require('autocomplete.js');
export default {

 	name: 'welcome',

  	data () {
		return {
			searchQuery: '',
			searchSuggestion: []
		}
  	},
	mounted(){
		// this.askForLocationPermission();
		// console.log(this.address)
		lonuxbus.$on('searchSuggestions', () =>{
			this.getSearchSuggestions();
		})
	},
	methods: {
		askForLocationPermission: function(){
			alert('Jello')
		},
		triggerSuggestions: _.debounce((val) => {
			lonuxbus.$emit('searchSuggestions')
		},500),
		getSearchSuggestions(){
			if(this.searchQuery){
				axios.get(this.pathOrigin+'/get_item_suggestions/'+this.searchQuery)
				.then(res=>{
					this.searchSuggestion = [];
					this.highlightMatch(res.data)
				})
				.catch(err=>{
					console.log(err)
				})
			}
			
		},
		runSearch(){
			if(this.searchQuery != ''){
				window.location.href = `${this.pathOrigin}/search?q=${this.searchQuery}`
			// console.log(window.location.href);
			}
		},
		highlightMatch: function(dataArray){
			let len = this.searchQuery.length
			dataArray.map( data =>{
				let dataObj = {};
				let match = data.substr(0, len)
				let remTxt = data.substr(len, data.length)
				dataObj.name = data
				dataObj.match = match
				dataObj.remTxt = remTxt
				this.searchSuggestion.push(dataObj)

			})
		}
	},
	computed: {
		copyrightYear: function(){
			var d = new Date(); 
			return d.getFullYear();
		}
	},
  components: {
	  handlePermissions,
	  Autocomplete,
  }
};
</script>

<style lang="css" scoped>

.typed-element{
	display: inline-block;
}

</style>