<template>
    <div>
        <!-- store header -->
        <store-header :store='shop'></store-header>
        
        <!-- section for item searched -->
        <div id="store-result" class="store-result">
            <div class="container">

                <p class="mb-2">you asked for a</p>
                <h5 class="mb-4 font-weight-bold">Lemon</h5>

                <div class="row justify-content-between">

                    <!-- image description col -->
                    <div class="col-md-7">
                        <div class="row ">
                            <div class="col-md-5">
                                <div class="store-result-image">

                                    <!-- img size 237px x 205px -->
                                    <img src="https://picsum.photos/237/205" alt="result image" height="205" >
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="store-result-desc">
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque praesentium vitae ex assumenda quo voluptatibus placeat id consequatur sint reprehenderit, cupiditate repellendus ducimus reiciendis ea rerum! Possimus voluptas id mollitia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- cart column -->
                    <div class="col-md-5">
                        <div class="store-result-cart">
                            <!-- detail -->
                            <div class="store-result-cart-detail">
                                <div class="store-result-cart-detail-col">
                                    <p class="subtitle">Quantity</p>
                                    
                                    <div class="d-inline-flex align-items-center">
                                        <span class="d-inline-block mr-3">2</span>

                                        <!-- quantity counter -->
                                        <div class="item-count-toggle">
                                            <span class="toggle-up">
                                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.41 7.41L6 2.83L10.59 7.41L12 6L6 0L0 6L1.41 7.41Z" fill="#828282"/>
                                                </svg>
                                            </span>
                                            <span class="toggle-down">
                                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.59 0.59L6 5.17L1.41 0.589999L5.24537e-07 2L6 8L12 2L10.59 0.59Z" fill="#828282"/>
                                                </svg>

                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="store-result-cart-detail-col">
                                    <p class="subtitle">Price</p>
                                    <p>N1000</p>
                                </div>
                                <div class="store-result-cart-detail-col">
                                    <p class="subtitle">Total</p>
                                    <p>N1000</p>
                                </div>
                                
                            </div>

                            <!-- control -->

                            <div class="store-result-control mt-4">
                                <a href="#" class="btn btn-primary mb-4 mr-4">Have it delivered</a> 
                                <a href="#" class="btn btn-light mb-4">pick it up</a>  

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- section for suggestion -->
        <div id="store-suggestion" class="store-suggestion">
            <div class="container">
                <h4 class="store-suggestion-heading">You can also get these  from corllax store</h4>
                <div class="row">
                    <div v-for="suggest in suggestions" :key="suggest.id" class="col-md-3 col-sm-6">
                        <div  class="store-suggestion-item">
                            <img :src="'https://picsum.photos/230?random'+ (suggest.id+1)" alt="random">
                            <span> {{ suggest.title }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <lonux-footer></lonux-footer>
    </div>
</template>


<script>

import storeHeader from './StoreHeader.vue';
import lonuxFooter from '../shared/footer.vue'

export default {
    props: ['shop'],
    data(){
        return{
            store : {
                name: 'Corllax Store',
                address: '6513 Dogwood Ave undefined Syracuse, Alaska 62927 United States'
            },
            suggestions: [
                {
                    id: 1,
                    title: 'melor'
                },
                {
                    id: 2,
                    title: 'Amet'
                },
                {
                    id: 3,
                    title: 'Trayion'
                },
                {
                    id: 4,
                    title: 'Beningar'
                }
            ]
        }
    },
    computed:{
        itemCount(){
            return 1;
        }
    },
    components: {
        storeHeader,
        lonuxFooter
    }
}
</script>