<template>
    <div>

        <div class="store-header"
            style="
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url(https://i.picsum.photos/id/1047/1920/1080.jpg);
                background-size: cover;
                background-postion: center center;
            "
        >
            <div class="store-header-text">
                <h1>{{store.shop_name}}</h1>
                <p>{{store.shop_address}}</p>
            </div>

        </div>


        
    </div>
</template>


<script>
export default {
    props: ['store'],
    data(){
        return{

        }
    }
}
</script>