<template>
	<div class="container-fluid dashboard bg-light">

		<div class="preloader" v-show="showPreloader">
			<div class="preloader-loader">
				<span class="loader">LOADING...</span>
			</div>
		</div>
		<sidenav-component></sidenav-component>

		<div class="dashboard-content">
			<div class="row justify-content-end">
				<div class="col-md-9 position-relative">
					<topnav-component></topnav-component>
					  <a href="#" class="text-dark" v-if="navEnabled">back</a>
					  <a href="#" class="text-dark" v-else @click.prevent="$router.go(-1)">back</a>
					<transition 
						enter-active-class="fadeInRight"
						leave-active-class="fadeInLeft"
						mode="out-in">
						<router-view name="shop"></router-view>
					</transition>
				</div>
			</div>
		</div>

		<!-- <nav-component></nav-component> -->
			<!-- <nav-component></nav-component> -->
		<lonux-footer></lonux-footer>
	</div>
</template>

<script>
// import NavComponent from "../shared/NavComponent.vue"
import SidenavComponent from "../shared/SidenavComponent.vue"
import TopnavComponent from "../shared/TopnavComponent.vue"
import lonuxFooter from '../shared/footer'

export default {

	name: 'HomeComponent',

	data () {
	    return {
			showPreloader: false
		}
	},
	
	created(){
		this.showPreloader = true;
	},
	mounted(){
		setTimeout(() => {
			this.showPreloader = false;
			this.setRoute();
		}, 2000);
	},
	methods: {
		setRoute: function(){
			this.$router.push('/home/business_home');
			// if (this.has_setup) {
				
			// 	if (this.account_type == "Business Account") 
			// 	{
			// 		this.$router.push('/home/business_home');

			// 	}else if (this.account_type == 'Rider Account') 
			// 	{
			// 		this.$router.push('/home/rider_home');
			// 	}else if (this.account_type == 'Basic Account') 
			// 	{
			// 		window.location.href = `${this.pathOrigin}/home/user`
			// 		// this.$router.push('/user/dashboard'); 
			// 	}
			// }else{
			// 	this.$router.push('/home/setup')
			// }
		}
	},
	computed: {
		navEnabled: function(){
			return !this.hasShops
		}
	},
	components:{
		  // NavComponent: NavComponent,
		  SidenavComponent: SidenavComponent,
		  TopnavComponent: TopnavComponent,
		  lonuxFooter
	}
};
</script>

<style lang="css" scoped>
	.preloader{
		width: 100%;
		height: 100vh;
		display: grid;
		place-items: center;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3333;
	}
</style>