<template>
	
	<div class="dashboard-main-content">
		<div class="dashboard-setup" id="phaseWan">
			
			<h4 class="dashboard-title dashboard-title-1">Account setup</h4>

			<h6 class="dashboard-title dashboard-title-2" style="display:none;">Choose an account type</h6>

			<div class="row" style="display:none;">
				<div class="col-sm-6 col-md-4">
					<div class="card setupCard">
						<div class="card-header">
							<h6>Buisness/Company Account</h6>
						</div>
						<div class="card-body">
							Manage your business, make and track sales with free inventory.
						</div>
						<div class="card-footer ">
							<button id="1" class="btn btn-light">
								select <!-- <i class="fa fa-check fa-lg"></i> -->
							</button>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card setupCard">
						<div class="card-header">
							<h6>Agent/Rider Account</h6>
						</div>
						<div class="card-body">
							Make money by making deliveries.
						</div>
						<div class="card-footer ">
							<button id="2" class="btn btn-light">
								select <i class="fa fa-check fa-lg"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card setupCard">
						<div class="card-header">
							<h6>Basic/Personal Account</h6>
						</div>
						<div class="card-body">
							Create a personal account to make buying easier on lonux.
						</div>
						<div class="card-footer">
							<button id="3" class="btn btn-light">
								select <i class="fa fa-check fa-lg"></i>
							</button>
						</div>
					</div>
				</div>

			</div>
				
			<div class="mt-5" style="display:none;">
				<button @click.prevent="continueSetup" class="btn btn-primary btn-auth">continue</button>
			</div>
		</div>
		<!-- phase two -->
		<div class="dashboard-setup" id="phasetwo" style="display:none;">
			<div class="col-lg-12 text-center">
				<h4>One Step More...</h4>
				<hr>
			</div>
			<form @submit.prevent="finishSetup()" class="form mt-5 row">
				<!-- <div class="col-md-12" v-if="errors.length" v-for="(error,index) in errors" :key="index">
					<p>{{error}}</p>
				</div> -->
				<div class="form-group col-sm-6 col-md-6">
					<label for="country">Country</label>
					<select v-model="formdata.country" @change="getStates()" name="country" class="form-control" required>
						<option v-for="(country,index) in countries" :key="index" :value="country.country">{{country.country}}</option>
					</select>
				</div>
				<div class="form-group col-sm-6 col-md-6">
					<label for="state">State of Origin</label>
					<select @change="getLGAs" name="state" class="form-control" v-model="formdata.state" required>
						<option v-for="(state,index) in states" :key="index" :value="state.state">{{state.state}}</option>
					</select>
				</div>
				<div class="form-group col-sm-6 col-md-6">
					<label for="lga">Local Government Area of Ogigin</label>
					<select v-model="formdata.lga" name="lga" class="form-control" required>
						<option v-for="(lga,index) in lgas" :key="index" :value="lga.lga">{{lga.lga}}</option>
					</select>
				</div>
				<div class="form-group col-lg-12 text-center mt-5">
					<button id="finishSetup" class="btn btn-lonux px-5 text-uppercase">finish</button>
					<p>
						<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
					</p>
				</div>
			</form>
		</div>
		<!-- phase three -->
		<div class="dashboard-setup" id="phasetri" style="display:none;">
			<div class="col-lg-12 text-center">
				<h4>You all Set Now!</h4>
				<hr>
			</div>
			<div class="row mt-5">
				<div class="col-md-12 text-center">
					<p>Your Account Has Been Successfully Setup.</p>
				</div>
				<div class="col-md-12 text-center">
					<button @click="gotoAccountHome()" class="btn btn-link get-started-btn">Account Dashboard</button>
				</div>
			</div>
		</div>
	</div>
			
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {

    name: 'SetupComponent', 

  	data () {
    	return {
    		formdata:{
    			selected: null,
    			country: null,
    			state: null,
    			lga: null,
    		},
    		countries: [],
    		states: [],
    		lgas: [],
    		errors: [],
    		// loader: {
	    	// 	color: "#fd961a",
	    	// 	loading: false,
    		// }
    	};
  	},
  	mounted(){
  		// this.getCountries();
  		// var vm = this;
	  	// $('div.setupCard').click(function(){
	  	// 	let tis = $(this);
	  	// 	$('div.setupCard').each(function(index, element ){
	  	// 		$(element).find('button').html('select').attr('disabled',false);
	  	// 	})
	  	// 	tis.find("button").html("select <i class='material-icons'>check</i>").attr('disabled', true)
	  	// 	vm.formdata.selected = tis.find("button").attr('id')
	  	// })
	  	this.$store.state.page.title = "Account Setup"

		this.formdata.selected = 1
		this.finishSetup();
  	},
	methods: {
		gotoAccountHome: function(){
			if (this.formdata.selected == 1) {
				this.$router.push('/home/business_home');
			}else if (this.formdata.selected == 2) {
				this.$router.push('/home/rider_home');
			}else if (this.formdata.selected == 3) {
				// this.$router.push('/user/dashboard');
				window.location.href = `${this.pathOrigin}/home/user`
			}
		},
		finishSetup: function(){
			this.loader.loading = true
			this.errors = []
			var el = "button#finishSetup"
			this.disable(el)
			axios.post(this.pathOrigin+'/finish_setup', this.formdata)
				.then(response=>{
					$("#phasetwo").fadeOut("fast")
					$("#phasetri").fadeIn(3000)
				})
				.catch(err=>{
					this.enable(el)
					this.loader.loading = false
					this.errors.push('Oops an error occured. Please try again. If the error persistes, please contact support')
				})
		},
		getLGAs: function(){
			axios.get(this.pathOrigin+'/get_lonux_lgas/'+this.formdata.state)
				.then(response=>{
					this.lgas = response.data
				})
				.catch(err=>{
					console.log(err)
				})
		},
		getStates: function(){
			axios.get(this.pathOrigin+'/get_lonux_states/'+this.formdata.country)
				.then(response=>{
					this.states = response.data
				})
				.catch(err=>{
					console.log(err);
				})
		},
		getCountries: function(){
			axios.get(this.pathOrigin+'/get_lonux_countries')
				.then(response=>{
					this.countries = response.data
				})
				.catch(err=>{
					console.log(err)
				})
		},
		continueSetup: function(){
			if (!this.formdata.selected) {
				alert('Please Choose an Account Type')
			}else{
				var selectedAccount;

				if (this.formdata.selected == 1) {
					selectedAccount = "Buisness/Company Account"
				}else if (this.formdata.selected == 2) {
					selectedAccount = "Rider/Agent"
				}else if (this.formdata.selected == 3) {
					selectedAccount = "Basic Account"
				}
				if (confirm("Continue with a "+selectedAccount+"?")) {
					// this.submitForm();
					$("#phaseWan").fadeOut('fast')
					this.finishSetup();
				}
			}
		},
		submitForm: function(){
			console.log("ajax request")
			$("#phaseWan").fadeOut('fast')
			$("#phasetwo").fadeIn(3000)
		},
		// disable: function(el){
  // 			$(el).attr('disabled', true)
  // 			this.loader.loading = true
	 //  	},
	 //  	enable: function(el){
	 //  		$(el).attr('disabled', false)
	 //  		this.loader.loading = false
	 //  	},
  	},
  	components: {
  		ClipLoader: ClipLoader,
  	}
};
</script>

<style lang="css" scoped>

    .get-started-btn{
        color: #f6891f;
        border-bottom: 1px solid #d3d3d3;
    }

</style>