<template>
	<section style="color: #000000;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="row pt-5 mt-3 mb-3 ml-3 mr-2 justify-content-center">
						<div class="col-lg-12 text-center">
							<h4>{{pageTitle || 'New shop registeration'}}</h4>
							<!-- <p class="small text-muted"><em>even your headquaters is a branch :)</em></p> -->
							<hr>
						</div>
						<div class="form mt-5 row" id="phaseOne">
						<div class="form-group col-sm-6 col-md-6">
							<label for="shopName"><strong>Shop Name</strong></label>
							<input type="text" name="shopName" placeholder="Shop Name" v-model="formdata.shop_name" id="shopName" class="form-control">
							<div class="invalid-feedback">
					          	Shop name is required.
					        </div>
						</div>
						<div class="form-group col-sm-6 col-md-6">
							<label for="shopAddress"><strong>Shop Address</strong></label>
							<input type="text" name="shopAddress" ref="addressAutocomplets" placeholder="Shop Address" v-model="formdata.shop_address" id="shopAddress" class="form-control">
							<div class="invalid-feedback">
					          	Shop address is required.
					        </div>
						</div>
						<div class="form-group col-sm-6 col-md-6">
							<label for="whatYoudo"><strong>What does this shop do?</strong></label>
							<div v-for="(shopService,index) in shop.shopServices" :key='index'>
								<input @change="getShopTypes(shopService.id)" type="radio" :value="shopService.id" name="whatYoudo" id="whatYoudo" v-model="formdata.shop_service">
								<label :for="shopService.name">{{shopService.name}}
									<em v-if="shopService.id == 1">(if your shop sell items) </em>
									<em v-else>(if your shop render services) </em>
								</label>
							</div>
							<div class="invalid-feedback" id="radioFeedback">
					          	Please choose an option.
			        		</div>
						</div>

						<div class="form-group col-sm-6 col-md-6">
							<label for="workdays"><strong>Which days are you available</strong></label><br>
							<button @click="openModal(2)" type="button" class="btn btn-secondary">Choose</button>
							<div class="invalid-feedback" id="workdaysFeedback">
			          	Please select your work days.
			        </div>
						</div>
						<div class="form-group col-sm-6 col-md-6">
							<label for="openat"><strong>Shop Opens At?</strong></label>
							<!-- <select v-model="formdata.shop_open_at" class="form-control">
								<option v-for="workTime in shop.workTimes" :value="workTime">{{workTime}}</option>
							</select> -->
							<input type="time" id="openat" class="form-control" v-model="formdata.shop_open_at">
							<div class="invalid-feedback">
			          	This field is required.
			        </div>
						</div>
						<div class="form-group col-sm-6 col-md-6">
							<label for="closeat"><strong>Shop Closes At?</strong></label>
							<input type="time" id="closeat" v-model="formdata.shop_close_at" class="form-control">
							<!-- <select v-model="formdata.shop_close_at" class="form-control">
								<option v-for="workTime in shop.workTimes" :value="workTime">{{workTime}}</option>
							</select> -->
							<div class="invalid-feedback">
					          	This field is also required.
					        </div>
						</div>
						<div class="form-group col-lg-12 text-center mt-5">
							<button @click.prevent="gotoPhaseTwo(pass)" class="btn btn-lonux px-5 text-uppercase">continue</button>
						</div>
						</div>

						<div class="form w-100" id="phaseTwo" style="display:none">
							<div class="form-group text-left">
								<a href="#" @click.prevent="gotoPhaseOne" class="btn btn-lonux" style="background-color: transparent; color: #000;">
									<i class="material-icons md-48">arrow_left</i>
								</a>
							</div>
							<div class="form-group text-center" v-if="formdata.shop_service && formdata.shop_service == 2">
								<label for="services">Shop Services</label>
								<p class="text-muted"><em>services rendered in your shop. eg, laundry, electronics repairs, and etc.</em></p>
								<button @click="openModal(1)" type="button" class="btn btn-secondary btn-sm">Choose</button>
								<div class="invalid-feedback" id="shopServices">
						          	Please select your shop service.
						        </div>
							</div>

							<div class="form-group text-center" v-if="formdata.shop_service && formdata.shop_service == 1">
								<label for="whatYouSell">Tell us what you sell </label><br>
								<button @click="openModal(1)" type="button" class="btn btn-secondary btn-sm">Choose</button>
								<div class="invalid-feedback" id="shopType">
						          	Please select your shop type.
						        </div>
							</div>

							<div class="form-group " v-if="formdata.shop_service && formdata.shop_service == 1">
								<label for="howYouSell">How You sell</label>
								<select class="form-control" v-model="formdata.shop_sell_in" id="howYouSell">
									<option>Wholesale</option>
									<option>Retail</option>
									<option>Both</option>
								</select>
							</div>

							<div class="form-group col-lg-12 mt-5">
								<button @click.prevent="submitShop" class="btn btn-primary px-5 text-uppercase" id="newShop">Finish</button>
								<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
								<p v-if="errorOccured" id="errorText" class="text-danger"></p>
							</div>

						</div>

					</div>

					<!-- Modal -->
					<sweet-modal ref="resourceModal" :blocking='true' :hide-close-button="true">
					    <div class="card">
					      <div class="card-header">
					        <h5 class="card-title" id="optionModal">{{modalTitle}}</h5>
					      </div>
					      <div class="card-body">
					        <div class="container-fluid">
					        	<div class="row " v-if="inputVisibility.workdays">
					        		<div class="col-lg-3 col-md-4 col-sm-6">
					        			<input @change="checkAll()" type="checkbox" v-model="tempformdata.workdays" name="all" id="all" value="all">
					        			<label for="all"><strong>All</strong></label>
					        		</div>
					        		<div class="col-lg-3 col-md-4 col-sm-6">
					        			<input type="checkbox" name="monday" id="monday" value="Monday" v-model="formdata.shop_work_days">
					        			<label for="monday">Monday</label>
					        		</div>
					        		<div class="col-lg-3 col-md-4 col-sm-6">
					        			<input type="checkbox" name="tuesday" id="tuesday" value="Tuesday" v-model="formdata.shop_work_days">
					        			<label for="tuesday">Tuesday</label>
					        		</div>
					        		<div class="col-lg-3 col-md-4 col-sm-6">
					        			<input type="checkbox" name="wednesday" id="wednesday" value="Wednesday" v-model="formdata.shop_work_days">
					        			<label for="wednesday">Wednesday</label>
					        		</div>
					        		<div class="col-lg-3 col-md-4 col-sm-6">
					        			<input type="checkbox" name="thursday" id="thursday" value="Thursday" v-model="formdata.shop_work_days">
					        			<label for="thursday" >Thursday</label>
					        		</div>
					        		<div class="col-lg-3 col-md-4 col-sm-6">
					        			<input type="checkbox" name="friday" id="friday" value="Friday" v-model="formdata.shop_work_days">
					        			<label for="friday">Friday</label>
					        		</div>
					        		<div class="col-lg-3 col-md-4 col-sm-6">
					        			<input type="checkbox" name="saturday" id="saturday" value="Saturday" v-model="formdata.shop_work_days">
					        			<label for="saturday">Saturday</label>
					        		</div>
					        		<div class="col-lg-3 col-md-4 col-sm-6">
					        			<input type="checkbox" name="sunday" id="sunday" value="Sunday" v-model="formdata.shop_work_days">
					        			<label for="sunday">Sunday</label>
					        		</div>
					        	</div>
					        	<div class="row justify-content-center" v-if="inputVisibility.whatYouSell">
					        		<div class="col-6" v-for="(shopType,index) in shop.shopTypes" :key='index'>
					        			<input type="checkbox" name="shopType" :id="shopType.name" :value="shopType" v-model="formdata.shop_types">
					        			<label :for="shopType.name">{{shopType.name}}</label>
					        		</div>
					        		<br><hr>
					        		<div class="col-12">
					        			<a @click.prevent="AddNew = true" href="#">Add New</a>
					        			<input type="text" style="background-color: whitesmoke;" v-model="formdata.newShopAdded" v-if="AddNew" class="form-control">
					        			<span v-if="AddNew" class="text-muted small">
					        				<em>if many, seperate by <strong>comma (,)</strong></em>
					        			</span>
					        		</div>
					        	</div>
					        </div>
					      </div>
					      <div class="modal-footer">
					        <button @click.prevent="addToFormdata()" type="button" class="btn btn-dark" data-dismiss="modal">Continue</button>
					      </div>
					    </div>
					</sweet-modal>
				</div>
			</div>
		</div>
		<sweet-modal ref="addressWarnModal" icon="warning">
			<h4>Address not on Google Maps ?</h4>
			<p>It seems the address you are using to register your business is not registered on google maps and will make us unable to show your business to customers</p>
			<h5 style="text-decoration: underline">This is what you can do.</h5>
			<ul class="text-left">
				<li>If your address is not yet on google maps, you can follow this <a target="blank" href='https://support.google.com/maps/answer/10010575?hl=EN&ref_topic=3257381'>link</a> to add it.</li>
				<li>If you did or will do step one, you can continue your registration and edit the address later</li>
				<li>If it is on google maps already, start tying in the search field and select it from the dropdown of addresses</li>
				<li>For further assistance, please send us a message. We are always happy to help.</li>
			</ul>
			<button @click="$refs.addressWarnModal.close()" class="btn btn-secondary mr-2" slot="button">Edit Address</button>
			<button @click="$refs.addressWarnModal.close(); gotoPhaseTwo(pass = true)" class="btn btn-secondary" slot="button">Continue</button>
		</sweet-modal>
		<sweet-modal ref="shopInfoModal" icon="info" :blocking="true" :hide-close-button='true'>
			<h4>Shop Created !. Start Indexing...</h4>
			<h5 style="text-decoration: underline">Create Shop Manager</h5>
			<p class="small">Your shop manager manages your shop's inventory and makes sales. You can have more than one shop manager</p>
			<ul class="text-left">
				<li>Click the <strong>menu icon</strong> at the top right corner (for mobile users) </li>
				<li>The menu is located at the left side of your screen for users of larger screens </li>
				<li>Click on <strong>Managers</strong></li>
				<li>Click the <strong>Add New Manager</strong> button</li>
				<li>Fill the form and Submit</li>
			</ul>
			<h5 style="text-decoration: underline">Explore your dashboard</h5>
			<p class="small">This is your dashboard as a business owner where you control your business</p>
			<button @click="reloadPage()" class="btn btn-secondary mr-2" slot="button">Continue</button>
		</sweet-modal>
	</section>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {

  name: 'AddNewShopComponent',

  data () {
    return {
    	errorOccured: false,
		pass: false,
    	AddNew: false,
    	showAdded: false,
    	shop: {
    		shopTypes: [],
    		shopServices: []
    	},
    	inputVisibility: {
    		workdays: false,
    		whatYouSell: false,
    	},
    	formdata: {
    		newShopAdded: null,
    		shop_name: null,
    		shop_address: null,
    		shop_service: null,
    		shop_types: [],
    		shop_sell_in: "Retail",
    		shop_work_days: [],
    		shop_open_at: null,
    		shop_close_at: null,
    	},
    	tempformdata: {
    		workdays: null,
    		// shop_types: [],
    		// shop_name: [],
    	},
    	modalTitle: '',
    }
  	},
  	mounted()
  	{
  		let vue = this
	  	$("input#shopAddress").on('focus', function(){
	  		vue.googleAuto()
	  	})

  		this.getShopServices();

	  	$("input#shopName").focus(function(){
	  		$(this).removeClass('is-invalid')
	  	})
	  	$("input#shopAddress").focus(function(){
	  		$(this).removeClass('is-invalid')
	  	})
	  	$("input#openat").focus(function(){
	  		$(this).removeClass('is-invalid')
	  	})
	  	$("input#closeat").focus(function(){
	  		$(this).removeClass('is-invalid')
	  	})
	  	// console.log(this.address)
  },
  methods: {
  	googleAuto: function(){
  		let vue = this;
  		let searchInput = this.$refs['addressAutocomplets']
  		let autocomplete = new google.maps.places.Autocomplete((searchInput), {
  		  	types: ['geocode'],
  		  	componentRestrictions: {country: 'ng'}
  		});
  		google.maps.event.addListener(autocomplete, 'place_changed', function (data) {
  			// console.log("auto:", autocomplete.getPlace().formatted_address)
  			var loc = {};
			  	var near_place = autocomplete.getPlace();
				vue.formdata.shop_address = near_place.formatted_address
				vue.formdata.lng = near_place.geometry.location.lng()
				vue.formdata.lat = near_place.geometry.location.lat()

  	    });
  	},
  	checkAll: function(){
  		if (this.tempformdata.workdays) {
  			this.formdata.shop_work_days = []
	  		var daysArr = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'];
	  		for (var i = 0; i < daysArr.length; i++) {
	  			this.formdata.shop_work_days.push(daysArr[i])
	  		}
  		}else{
  			this.formdata.shop_work_days = [];
  		}
  	},
  	addToFormdata: function(){
  		if (this.formdata.shop_work_days.length) {
  			$("div#workdaysFeedback").hide();
  		}
  		if (this.formdata.shop_types.length || this.formdata.newShopAdded) {
  			$("div#shopServices").hide();
  			$("div#shopType").hide();
  		}

		let body = $('body')
		body.removeClass('modal-open').addClass('modal-close');
		body.css('padding', '0px');
		
		this.$refs.resourceModal.close()
  	},
  	openModal: function(numb){
  		this.inputVisibility.whatYouSell = false;
  		this.inputVisibility.workdays = false;
  		// this.tempformdata.shop_name = [];
  		if (numb == 1) {
  			this.inputVisibility.whatYouSell = true;
			if (this.formdata.shop_service == 1) {
				this.modalTitle = "Select/Add What You Sell";
			}else {
				this.modalTitle = "Select/Add Services You Render";
			}
  			
  		}else{
  			this.modalTitle = "Select Your Work days"
  			this.inputVisibility.workdays = true;
  		}
  		$("#optionModal").modal({
  			show: true,
  			backdrop: false
  		});
		  
		this.$refs.resourceModal.open()
  	},
  	getShopTypes: function(id){
  		$("div#radioFeedback").hide();
  		this.formdata.shop_types = [];
  		this.formdata.newShopAdded = null
  		axios.get(this.pathOrigin+'/get_shop_types/'+id)
  			.then(response=>{
  				this.shop.shopTypes = response.data.data
  			})
  			.catch(error=>{
  				console.log(error)
  			})
  	},
  	getShopServices: function(){
  		axios.get(this.pathOrigin+'/get_shop_services')
  			.then(response=>{
  				this.shop.shopServices = response.data.data
  			})
  			.catch(error=>{
  				console.log(error)
  			})
  	},
  	gotoPhaseOne: function(){
  		$("div#phaseTwo").fadeOut("slow", function(){
  			$("div#phaseOne").fadeIn('fast')
  		})
  	},
  	gotoPhaseTwo: function(pass){
  		//form validation
  		if (!this.formdata.shop_name) {
  			$("input#shopName").addClass("is-invalid")
  		}else if (!this.formdata.shop_address) {
  			$("input#shopAddress").addClass("is-invalid")
  		}else if (!this.formdata.shop_service) {
  			$("div#radioFeedback").show();
  		}else if (!this.formdata.shop_work_days.length) {
  			$("div#workdaysFeedback").show();
  		}else if (!this.formdata.shop_open_at) {
  			$("input#openat").addClass("is-invalid")
  		}else if (!this.formdata.shop_close_at) {
  			$("input#closeat").addClass("is-invalid")
  		}else if((!this.formdata.lng || !this.formdata.lat) && pass === false) {
			this.$refs.addressWarnModal.open();
		}else{
			$("div#phaseOne").fadeOut("slow", function(){
				$("div#phaseTwo").fadeIn('fast')
			})
  		}
  	},
  	submitShop: function(){
  		if (this.formdata.shop_service == 1) {
  			if (!this.formdata.shop_types.length && !this.formdata.newShopAdded) {
  				$("div#shopType").show();
  			}else{
  				this.saveShop();
  			}
  		}else if (this.formdata.shop_service == 2) {
  			if (!this.formdata.shop_types.length && !this.formdata.newShopAdded) {
  				$("div#shopServices").show();
  			}else{

  				this.saveShop();
  			}
  		}
  	},
  	saveShop: function(){
  		this.disable('button#newShop')
  		axios.post(this.pathOrigin+'/new_shop', this.formdata)
  			.then(response=>{
				if (this.hasShops) {
					if (this.formdata.shop_service == 1) {
					this.$router.push("/home/add_inventory/"+response.data.data.key)
					// this.$router.push({path: `/home/shop/open-sale/${response.data.data.key}`})
					}else {
						this.$router.push({path: `/home/shop/service-oriented/${response.data.data.key}`})
					}
				}else{
					this.$router.push("/home/add_inventory/"+response.data.data.key)
					// this.$refs.shopInfoModal.open()
				}  
  			})
  			.catch(err=>{
  				this.errorOccured = true;
					let errText = ''
					if(err.response.data.message){
						errText = err.response.data.message
					}else{
						errText = "Unexpected error occured."
					}
					$('p#errorText').text(errText)
  				this.enable('button#newShop')
  			})
  		},
		reloadPage: function(){
			location.reload()
		}
  	},
  	computed:
  	{
  		locationData: {
			get: function(){
				return this.$store.state.PositionData;
			},
			set: function(value){
				this.$store.state.PositionData = value
				this.formdata.shop_address = value.addr
				this.formdata.lng = value.lng
				this.formdata.lat = value.lat
			}
		},
		pageTitle: function(){
			return this.$store.state.page.title
		}
  	},
  	components:
	  	{
			ClipLoader: ClipLoader,
	  	}
};
</script>

<style scoped>
    .small{
        margin: 0px;
    }
</style>
