<template>

	<div class="dashboard-main-content">
		<h4 class="dashboard-title dashboard-title-1"> {{pageTitle}}</h4>

		<!-- if user has no business/company yet -->
		<div class="row pt-5 mt-3 mb-3 ml-3 mr-2 justify-content-center" v-if="newBusiness">
			<div class="col-lg-12 text-center">
				<h4>Get your Business on Lonux</h4>
				<hr>
			</div>
			<p class="col-md-12 text-center">
				Let us help you organize your business.
			</p>
			<div class="col-md-12">
				<div class="col-md-12 text-center">
					<router-link :to="'/home/new_business'">
						<button class="btn btn-lonux text-capitalize get-started-btn">Register Business</button>
					</router-link>
				</div>
			</div>
		</div>
		<!-- if user has no shop yet -->
		<div class="row pt-5 mt-3 mb-3 ml-3 mr-2 justify-content-center" v-if="newShop">
			<div class="col-md-12 text-center">
				<h4>You are almost there, <span class="text-capitalize">{{firstName}}</span></h4><hr>
			</div>
			<p class="col-md-12 text-center">
				Start indexing what you sell. Register your shop(s). <br>
			</p>
			<div class="col-md-12 mt-5">
				<div class="col-md-12 text-center">
					<router-link :to="'/home/add_new_shop'">
						<button class="btn btn-lonux text-capitalize get-started-btn">Start Now</button>
					</router-link>
				</div>
			</div>
		</div>

		<!-- user has shop -->
		<div class="" v-if="showShops && businessData != null">
			<!-- shop lists -->

			<!-- <h4 class="dashboard-title dashboard-title-2">Business Informations</h4> -->
			<div class="mb-5">
				<h2>{{businessData.data.name}}</h2>
				<p>Address: {{businessData.data.hq_address}}</p>
			</div>
			<!-- <div class="row mb-5 mt-5 justify-content-between">
				<div class="col-md-5 p-2 bg-white">
					<h6><strong>Business Name: </strong>{{businessData.data.name}}</h6>
				</div>
				<div class="col-md-5 p-2 bg-white">
					<h6><strong>Business Address: </strong>{{businessData.data.hq_address}}</h6>
				</div>
			</div> -->
			<!-- <div class="row mb-5 justify-content-between">
				<div class="col-md-5 p-2 bg-white">
					<h6><strong> Description: </strong>{{businessData.data.desc}}</h6>
				</div>
				<div class="col-md-5 p-2 bg-white text-center">
					<h6><strong>CAC Verified: </strong>{{businessData.data.cac_reg_no != null ? "Yes" : "No"}}</h6>
				</div>
			</div> -->

			<p class="lead">Overview</p>
			<div class="row">
				<!-- <div class="col-12 mb-5 text-right">
					<router-link to="/home/add_new_shop">
						<button class="btn btn-primary">Add New Shop</button>
					</router-link>
				</div> -->
				<div class="col-md-3 col-sm-6">
					<div class="shop-list bg-primary" @click="routePage('shops')">
						<div class="shop-list-icons">
							<span class="shop-list-badge d-block text-dark">
								Total Shops
							</span>
						</div>
						<div class="shop-list-name h4">{{businessData.totalShops}}</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="shop-list bg-secondary border-primary border" @click="routePage('statistics')">
						<div class="shop-list-icons">
							<span class="shop-list-badge d-block">
								Total Sales
							</span>
						</div>
						<div class="shop-list-name h4 ">{{businessData.totalSales}}</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="shop-list bg-secondary border-primary border" @click="routePage('shop_managers')">
						<div class="shop-list-icons">
							<span class="shop-list-badge d-block">
								Managers
							</span>
						</div>
						<div class="shop-list-name h4">{{businessData.totalManagers}}</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="shop-list bg-secondary border-primary border" @click="displayMessage()">
						<div class="shop-list-icons">
							<span class="shop-list-badge d-block">
								Inventory Items
							</span>
						</div>
						<div class="shop-list-name h4">{{businessData.totalInventory}}</div>
					</div>
				</div>

			</div>

		</div>
		<sweet-modal icon="info" ref="infoModal">
			You can view a shop's inventory items by clicking on the shop
		</sweet-modal>
	</div>

</template>

<script>
export default {

  name: 'BusinessHomeComponent',

  data () {
    return {
    	newBusiness: true,
    	newShop: false,
    	showShops: false,
    	businessData: null,
    }
  },
  mounted()
  {
  	this.pageTitle = "Register Business"
  	if (this.company) {
  		this.pageTitle = this.company.name
  		this.newBusiness = false
  		if (this.hasShops) {
			this.getBusinessInfo();
  			this.showShops =  true;
  		}else{
			this.$store.state.page.title = "Lets create a shop for your business"
			this.$router.push('/home/add_new_shop')
  			this.newShop = true
  		}
  	}else {
		  this.$router.push('/home/new_business');
	  }
  },
  methods: {
	  	getBusinessInfo: function(){
		  	axios.get(`${this.pathOrigin}/company`)
		  	.then(res => {
			  this.businessData = res.data.data
		  	})
		  	.catch(err => {
			  	console.log(this.err.data.message)
		  })
	  	},
	  	routePage: function(path){
			this.toggle = false
			this.activeUrl = path
			this.$router.push(`/home/${path}`)
		},
		displayMessage: function(){
			this.$refs.infoModal.open()
		}
  },
  computed: {
  	pageTitle: {
  		get: function(){
  			return this.$store.state.page.title;
  		},
  		set: function(value){
  			this.$store.state.page.title = value
  		}
  	}
  }
};
</script>

<style lang="css" scoped>
	.itemCat{
		border-bottom: 1px solid #f6891f;
    	cursor: pointer;
	}
	.get-started-btn{
        color: #f6891f;
        border-bottom: 1px solid #d3d3d3;
    }
</style>
