<template>
    <div class="dashboard-main-content">
        <b-order-details ref="detailsModal" :order="orderDetails"></b-order-details>
        <div class="list-group" v-if="orders.length">
            <a v-for="(order, index) in orders" :key="index" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 :class="'mb-1' + getClass(order.status)">{{order.code +" - "+ order.status }}</h5>
                </div>
                <p class="mb-1">
                    <a @click.prevent="openDetailsModal(order.item_data)" href="#">View Details</a>
                </p>
            </a>
        </div>
    </div>
</template>

<script>
    import B_orderDetails from '../../shared/B_orderDetails.vue'
    export default {
        name: "DisplayOrders",
        data () {
            return {
                orders: [],
                orderDetails: {}
            }
        },

        mounted(){
            this.getOrders()
        },

        methods: {
            getClass: function(status){
                if (status == 'Completed') {
                    return ' text-success'
                }
                if (status == 'Expired') {
                    return ' text-danger'
                }
                if (status == 'Pending') {
                    return ' text-info'
                }
                if (status == 'Cancelled') {
                    return ' text-danger'
                }
            },
            openDetailsModal: function(Obj){
                this.$refs.detailsModal.bootModal(Obj)
                const modal = $('div#orderDetails')
                this.orderDetails = Obj
                modal.modal('show')
            },
            getOrders: function(){
                axios.get(this.pathOrigin + "/get_business_orders")
                .then(res => {
                    this.orders = res.data.data
                    this.orders.map( (order) => {
                        order.item_data = JSON.parse(order.item_data)
                    } )
                })
                .catch(err => {
                    console.log(err)
                })
            }
        },
        components: {
            'b-order-details': B_orderDetails
        }
    
    }
</script>
