<template>
    <div class="dashboard-main-content">
    <!-- user has shop -->
		<div v-if="shops.length">
			<!-- shop lists -->
			<h4 class="dashboard-title dashboard-title-2">Your Shops</h4>

			<div class="row">
				<div class="col-12 mb-5 text-right">
					<router-link to="/home/add_new_shop">
						<button class="btn btn-primary">Add New Shop</button>
					</router-link>
				</div>
				<div class="col-md-4 col-sm-6" v-for="(shop,index) in shops" :key="index">
					<div @click="gotoShopPage(shop.key, shop.shop_service_id)" class="shop-list">
						<div class="shop-list-icons">
							<span class="shop-list-badge">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M19.25 4.0025V0.8C19.25 0.3575 18.8925 0 18.45 0H1.55002C1.10752 0 0.750015 0.3575 0.750015 0.8V4.0025C0.332515 4.0275 1.54898e-05 4.375 1.54898e-05 4.8V8.0925C-0.00158552 8.69761 0.120939 9.29662 0.360016 9.8525C0.467516 10.1075 0.600016 10.3475 0.750015 10.575V19.2C0.750015 19.64 1.10752 20 1.55002 20H18.45C18.8925 20 19.25 19.6425 19.25 19.2V10.575C19.4024 10.3469 19.533 10.105 19.64 9.8525C19.8775 9.295 20 8.7025 20 8.0925V4.8C20 4.375 19.6675 4.0275 19.25 4.0025ZM2.55002 1.8H17.45V4H2.55002V1.8ZM11.6 18.2025H8.40002V15.6H11.6V18.2025ZM17.45 18.2025H13.2V14.8C13.2 14.3575 12.8425 14 12.4 14H7.60002C7.15752 14 6.80002 14.3575 6.80002 14.8V18.2025H2.55002V12.1475C2.62252 12.1825 2.69752 12.2175 2.77502 12.2475C3.33252 12.4825 3.92502 12.6 4.53502 12.6C5.14502 12.6 5.73502 12.4825 6.29502 12.2475C6.64002 12.1025 6.96502 11.9175 7.26252 11.695C7.26752 11.6925 7.27252 11.6925 7.27752 11.695C7.57594 11.9184 7.90092 12.104 8.24502 12.2475C8.80252 12.4825 9.39502 12.6 10.005 12.6C10.615 12.6 11.205 12.4825 11.765 12.2475C12.11 12.1025 12.435 11.9175 12.7325 11.695C12.7375 11.6925 12.7425 11.6925 12.7475 11.695C13.0459 11.9184 13.3709 12.104 13.715 12.2475C14.2725 12.4825 14.865 12.6 15.475 12.6C16.085 12.6 16.675 12.4825 17.235 12.2475C17.31 12.215 17.385 12.1825 17.46 12.1475V18.2025H17.45ZM18.2 8.0925C18.2 9.5875 16.975 10.8 15.4675 10.8C14.4475 10.8 13.5575 10.2475 13.0875 9.4275C13.015 9.3025 12.885 9.225 12.74 9.225H12.725C12.5825 9.225 12.45 9.3025 12.3775 9.4275C12.1377 9.84579 11.7913 10.1931 11.3738 10.4342C10.9562 10.6753 10.4822 10.8015 10 10.8C8.98252 10.8 8.09502 10.25 7.62502 9.4325C7.55002 9.305 7.41502 9.225 7.26752 9.225C7.12002 9.225 6.98252 9.305 6.91002 9.4325C6.66877 9.84919 6.322 10.195 5.90463 10.435C5.48726 10.6751 5.014 10.801 4.53252 10.8C3.02502 10.8 1.80002 9.5875 1.80002 8.0925V5.8125C1.80002 5.805 1.80502 5.8 1.81252 5.8H18.1875C18.195 5.8 18.2 5.805 18.2 5.8125V8.0925Z" fill="#FD961A"/>
								</svg>
							</span>
						</div>
						<div class="shop-list-name">{{shop.shop_name}}</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</template>

<script>
    export default {

        data () {
            return {
                shops: [],
            }
        },

        mounted(){
            this.getShops();
        },

        methods: {
            getShops: function(){
                axios.get(this.pathOrigin+"/getShops")
                    .then(response=>{
                        this.shops = response.data.data
                    })
                    .catch(err=>{
                        console.log(err)
                    })
            },
            gotoShopPage: function(shopKey, shopService){
                if (shopService == 1) {
                    this.$router.push({path: `/home/shop/open-sale/${shopKey}`})
                }else {
                    this.$router.push({path: `/home/shop/service-oriented/${shopKey}`})
                }
                
            }
        },
    
    }
</script>
