<template>
    <div class="dashboard-main-content">
    <!-- user has shop -->
		<div>
			<!-- shop lists -->
			<h4 class="dashboard-title dashboard-title-2">Managers</h4>

			<div class="row">
				<div class="col-12 mb-5 text-md-right">
					<a href="#" @click.prevent="startNewManagerProcess()">
						<button class="btn btn-secondary">Add New Manager</button>
					</a>
				</div>
			</div>
            <div class="row justify-content-center" v-if="showNewManager">
                <div class="col-12 text-center form-group mb-3">    
                    <ul v-for="(error, index) in errors" :key="index" class="text-danger">
                        <li v-if="error == 'CSRF token mismatch'">
                            <a @click="reloadPage" href="#">You need to reload this page to continue</a>
                        </li>
                        <li v-else>{{error}}</li>
                    </ul>
                </div>
                <form class="mb-5 col-12" @submit.prevent="createAdmin()">
                    <div class="form-row mb-5">
                        <div class="col-6">
                            <label for="adminName">Manager's Name</label>
                            <input type="text" id="adminName" class="form-control" required v-model="formdata.name" placeholder="Manager's Name">
                            <div class="invalid-feedback">
                                Manager's name is required
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="adminPhone">Manager's Phone</label>
                            <input type="tel" id="adminPhone" class="form-control" required maxlength="11" autocomplete="false" v-model="formdata.phone" placeholder="Valid phone(080XXXXX)">
                            <div class="invalid-feedback">  
                                This field is required
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col-6">
                            <label for="adminPassword">Create Password</label>
                            <input type="password" id="adminPassword" min-length="6" class="form-control" required v-model="formdata.password" placeholder="password">
                            <div class="invalid-feedback" id="pass">
                                Password is required
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="adminPassword2">Confirm Password</label>
                            <input type="password" id="adminPassword2" min-length="6" class="form-control" required v-model="formdata.password2" placeholder="confirm password">
                            <div class="invalid-feedback" id="pass2">
                                This field is required
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col-6">
                            <label for="chooseShopKey">Choose Shop</label>
                            <select class="form-control" id="chooseShopKey">
                                <option v-for="(shop, index) in shops" :key='index' :value="shop.key">{{shop.shop_name}}</option>
                            </select>
                            <div class="invalid-feedback" id="chooseShopKey">
                                Select shop to assign manager
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col text-center">
                            <button ref="create_admin_button" type="submit" class="btn btn-primary">Create Admin</button>
                        </div>
                        <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped" v-if="managers.length">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Shop</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(manager, index) in managers" :key="index">
                        <th scope="row">{{index+1}}</th>
                        <td>{{manager.name}}</td>
                        <td>{{manager.phone}}</td>
                        <td>{{manager.shop.shop_name}}</td>
                        <td>{{manager.is_active ? "Active" : "Deactivated"}}</td>
                        <td><a href="#" class="btn btn-link btn-sm" @click.prevent="gotoManagerPage(manager)">View manager</a></td>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
    </div>
</template>

<script>
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    export default{
        data() {
            return {
                managers: [],
                manager: {},
                password: {},
                formdata: {},
                nformdata: {},
                shops: [],
                errors: [],
                loader: {
	    		    color: "#fd961a",
	    		    loading: false,
	    	    },
                showManager: false,
                newPassword: {},
                showNewManager: false,
            }
        },
        mounted(){
            this.getManagers();

            $('input#adminName').focus(function(){
			$(this).removeClass('is-invalid')
            })
            $('input#adminPhone').focus(function(){
                $(this).removeClass('is-invalid')
            })
            $('input#adminPassword').focus(function(){
                $(this).removeClass('is-invalid')
            })
            $('input#adminPassword2').focus(function(){
                $(this).removeClass('is-invalid')
            })
        },

        methods: {
            startNewManagerProcess: function(){
                this.showNewManager = true
                this.getShops()
            },
            getShops: function(){
                this.showSelect = true
                axios.get(`${this.pathOrigin}/getShops`)
                .then(res => {
                    this.shops = res.data.data
                })
                .catch(err => {
                    console.log(err)
                })
            },
            createAdmin: function(){
                if(this.validateForm()){
                    if(this.formdata.phone.length == 11 && this.formdata.phone.substr(0,1) == 0){
                        this.formdata.phone = this.formdata.phone.substr(1,this.formdata.phone.length -1)
                    }
                    this.errors = [];
                    $(this.$refs['create_admin_button']).attr('disabled', true)
                    this.loader.loading = true
                    this.formdata.shop_key = $("select#chooseShopKey").val()
                    axios.post(this.pathOrigin+'/manager', this.formdata)
                    .then(res=>{
                        $(this.$refs['create_admin_button']).attr('disabled', false)
                        this.getManagers();
                        this.loader.loading = false
                        this.showNewManager = false
                        this.formdata  = {}
                        alert("manager created successfully")
                    })
                    .catch(error=>{
                        console.log(error.response)
                        this.loader.loading = false
                        $(this.$refs['create_admin_button']).attr('disabled', false)
                        if(typeof error.response.data.message != 'undefined'){
                            this.errors.push(error.response.data.message)
                        }
                        if (typeof error.response.data.errors.name != 'undefined') {
                        this.errors.push(error.response.data.errors.name[0])
                        }else if (typeof error.response.data.errors.password != 'undefined') {
                        this.errors.push(error.response.data.errors.password[0])
                        }else if (typeof error.response.data.errors.phone != 'undefined') {
                        this.errors.push(error.response.data.errors.phone[0])
                        }else{
                            this.errors.push('Server error occured. Please try again')
                        }
                    })
                };

            },
            validateForm: function(){
                if(this.formdata.password !== this.formdata.password2){
                    $('input#adminPassword').addClass('is-invalid')
                    $('div#pass').text('Both passwords did not match')
                    $('input#adminPassword2').addClass('is-invalid')
                    $('div#pass2').text('Both passwords did not match')

                    return
                }
                if(!this.formdata.name){
                    $('input#adminName').addClass('is_invalid')

                    return
                }

                if(!this.formdata.phone){
                    $('input#adminPhone').addClass('is_invalid')

                    return
                }

                if(!this.formdata.password){
                    $('input#adminPassword').addClass('is_invalid')

                    return
                }
                if(this.formdata.password.length < 6){
                    $('input#adminPassword').addClass('is_invalid')
                    $('div#pass').text('Password length must be greater than six(6)')

                    return
                }

                if(this.formdata.name && this.formdata.phone && this.formdata.password){
                    return true;
                }

            },
            gotoManagerPage: function(manager){
                let route = {
                    managerId: manager.id,
                    manager: manager
                }
                this.$router.push({
                    name: 'ViewManagerComponent',
                    params: route
                })
            },
            getManagers: function(){
                axios.get(`${this.pathOrigin}/manager`)
                .then(res=>{
                    this.managers = res.data.data
                })
                .catch(err => {
                    console.log(err)
                })
            },
            reloadPage: function(){
                location.reload()
            }
        },
        components: {
            ClipLoader,
        }
    }
</script>