<template>
	<section style="color: #000000;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-9 col-md-8 ml-auto">
					<div class="row pt-5 mt-3 mb-3 ml-3 mr-2 justify-content-center">
						<div class="col-lg-12 text-center">
							<h4>Register Your Business</h4>
							<hr>
						</div>
						<p class="col-md-12 text-center">
							we will help you organize your business.
						</p>
						<form class="form mt-3 row" @submit.prevent="validateForm()">
							<div class="form-group col-sm-6 col-md-6">
								<label for="cname">Business name</label>
								<input type="text" id="businessName" name="cname" placeholder="Business Name" class="form-control" v-model="businessName" required>
								<div class="invalid-feedback" id="invalid-feedback">
							        
						      	</div>
							</div>
							<div class="form-group col-sm-6 col-md-6">
								<label for="hqaddress">Business address</label>
								<input type="text" name="hqaddress" ref="addressAutocomplets" placeholder="Business Headquarters Address" id="hqaddress" class="form-control" v-model="formdata.address" required>
							</div>
							<div class="form-group col-sm-6 col-md-6">
								<label for="cacnumber">CAC reg no (optional)</label>
								<input type="text" name="cacnumber" placeholder="Your Business CAC Registration Number" id="cacnumber" class="form-control" v-model="formdata.cac">
								<p class="small lead">
									<!-- <em>Our agents will only work with businesses that have registered with CAC</em> -->
								</p>
							</div>
							<div class="form-group col-sm-6 col-md-6">
								<label for="nafdacreg">NAFDAC reg no (optional)</label>
								<input type="text" name="nafdacreg" placeholder="Your NAFdAC Registration Number" id="nafdacreg" class="form-control" v-model="formdata.nafdac">
								<!-- <p class="small lead"><em>if your business sell consumable items</em></p> -->
							</div>
							<div class="form-group col-sm-6 col-md-6">
								<label for="nafdacreg">Brief description of your business</label>
								<textarea placeholder="brief business description" class="form-control" v-model="formdata.desc" required></textarea>
							</div>
							<!-- <div class="form-group col-sm-6 col-md-6">
								<input type="checkbox" class="form-check-inline" />
								<label for="businessbranches">My business has physical branches </label>
							</div> -->
							<div class="form-group col-sm-6 col-md-6"  v-if="page.errors.length">
								<p class="text-danger" :key='index' v-for="(error,index) in page.errors">{{error}}</p>
							</div>
							<div class="form-group col-lg-12 text-center mt-5">
								<button id="newBusiness" class="btn btn-lonux px-5 text-uppercase">continue</button>
								<p>
									<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
								</p>
							</div>
						</form>
						<sweet-modal ref="addressWarnModal" icon="warning">
							<h4>Address not on Google Maps ?</h4>
							<p>It seems the address you are using to register your business is not registered on google maps and will make us unable to show your business to customers accurately.</p>
							<h5 style="text-decoration: underline">This is what you can do.</h5>
							<ul>
								<li>If your address is not yet on google maps, you can follow this <a target="blank" href='https://support.google.com/maps/answer/10010575?hl=EN&ref_topic=3257381'>link</a> to add it.</li>
								<li>If you did or will do step one, you can continue your registration and edit the address later</li>
								<li>If it is on google maps already, start tying in the search field and select it from the dropdown of addresses</li>
								<li>For further assistance, please send us a message. We are always happy to help.</li>
							</ul>
							<button @click="$refs.addressWarnModal.close()" class="btn btn-secondary mr-2" slot="button">Edit Address</button>
							<button @click="$refs.addressWarnModal.close(); createNewCompany()" class="btn btn-secondary" slot="button">Continue</button>
						</sweet-modal>
					</div>
				</div>
			</div>
		</div>
	</section>

</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {

    name: 'NewBuisnessComponent',

  	data () 
  	{
	    return {
	    	businessName: null,
	    	formdata: 
	    	{
	    		name: null,
	    		address: null,
	    		cac: null,
	    		nafdac: null,
	    		desc: null,
				lat: null,
				lng: null,
	    	},
	    	page: {
	    		errors: [],
	    	}
	    }
  	},
  	mounted(){
  		this.$store.state.page.title = "Register Business"

		let vue = this
	  	$("input#hqaddress").on('focus', function(){
	  		vue.googleAuto()
	  	})

		console.log(this.address)
  	},
  	watch: {
  		businessName: function(value){
  			if (value) {
  				$("button#newBusiness").fadeOut('fast')
  				axios.get(this.pathOrigin+'/check_business_name/'+value)
  					.then(response=>{
  						if (response.data.message == 'available') {
  							this.formdata.name = value
  							$("input#businessName").removeClass('is-invalid')
  							if (value != this.businessName) {
  								$("button#newBusiness").fadeOut('fast')
  							}else{

  								$("button#newBusiness").fadeIn('fast')
  							}
  						}else{
  							$("input#businessName").addClass('is-invalid')
  							$("div#invalid-feedback").html("A business with the name <em>"+value+"</em> is already registered")
  							$("button#newBusiness").fadeOut('fast')
  						}
  					})
  					.catch(err=>{
  						console.log(err)
  					})
  			}
  		} 
  	},
    methods:
  	{
		validateForm: function(){
			if(!this.formdata.lng || !this.formdata.lat) {
				this.$refs.addressWarnModal.open();
			}else {
				this.createNewCompany()
			}
		},
		googleAuto: function(){
			let vue = this;
			let searchInput = this.$refs['addressAutocomplets']
			let autocomplete = new google.maps.places.Autocomplete((searchInput), {
				types: ['geocode'],
				componentRestrictions: {country: 'ng'}
			});
			google.maps.event.addListener(autocomplete, 'place_changed', function (data) {
				// console.log("auto:", autocomplete.getPlace().formatted_address)
				var loc = {};
					var near_place = autocomplete.getPlace();
					loc.addr = near_place.formatted_address
					loc.lng = near_place.geometry.location.lng()
					loc.lat = near_place.geometry.location.lat()
					vue.locationData = loc

			});
  		},
  		createNewCompany: function()
	  	{
			this.page.errors = []
	  		if (!this.formdata.name) 
	  		{
	  			this.page.errors.push("Business Name is Required.")
	  		}else if(!this.formdata.address) 
			{
				this.page.errors.push("Business Address is Required.")
			}else if(!this.formdata.desc)
			{
				this.page.errors.push("Business Description is Required")
			}else{
	  			this.loader.loading = true;
	  			var el = "button#newBusiness"
	  			this.disable(el)
	  			axios.post(this.pathOrigin+'/company', this.formdata)
	  				.then(response=>{
	  					window.lonux.company = this.formdata.name
						this.$store.state.page.title = "Lets create a shop for your business"
	  					this.$router.push('/home/business_home')
	  				})
	  				.catch(err=>{
	  					console.log(err)
	  					this.enable(el)
	  					this.errors.push("Oops an error occured. Please try again. If the error persistes, please contact support")
	  				})
	  		}
	  	}
  	},
	computed: {
		locationData: {
			get: function(){
				return this.$store.state.PositionData;
			},
			set: function(value){
				this.$store.state.PositionData = value
				this.formdata.address = value.addr
				this.formdata.lng = value.lng
				this.formdata.lat = value.lat
				this.$forceUpdate()
			}
		},
	},
  	components: 
  	{
		ClipLoader: ClipLoader,
  	}
};
</script>

<style lang="css" scoped>
</style>