<template>
    <div class="dashboard-main-content mt-0">

       <div class="overview">
           <h3 class="subtitle mb-4">Today's Sales</h3>
	    	<div class="row">
            <!-- overview -->
                <div class="col-md-4" v-for="(shop,index) in shops" :key="index">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>{{shop.shop_name}}</span>
                            <!-- <p class="small text-muted">{{shop.shop_address}}</p> -->
                        </div>
                        <div class="card-body" style="padding: 0px;">
                            <span class="h2">{{shop.todaySales}}</span>
                        </div>
                        <div class="card-footer" style="padding: 0px;">
                            <a href="#" @click.prevent="gotoShopSalesPage(shop)" class="btn btn-link d-inline-flex justify-content-between align-items-center">
                                <span class="d-inline-block mr-2">View Shop</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
	    	</div>
        </div>

        <!--best selling items -->
        <div class="overview mt-5" v-if="bestSales.hasOpenSaleShops">
           <h3 class="subtitle mb-4">Best Selling Items</h3>
	    	<div class="row text-center">
            <!-- overview -->
                <div class="col-md-3">
                    <h4 class="mb-3">Today</h4>
                    <p class="m-0">Item Name: <strong>{{returnTexts(bestSales.today_most_sold.item, "item") }}</strong></p>
                    <p class="m-0">Category: <strong class="text-muted">{{returnTexts(bestSales.today_most_sold.item, "cat") }}</strong></p>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Yesterday</h4>
                    <p class="m-0">Item Name: <strong>{{returnTexts(bestSales.yesterday_most_sold.item, "item") }}</strong></p>
                    <p class="m-0">Category: <strong class="text-muted">{{returnTexts(bestSales.yesterday_most_sold.item, "cat") }}</strong></p>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Last Week</h4>
                    <p class="m-0">Item Name: <strong>{{returnTexts(bestSales.last_week_most_sold.item, "item") }}</strong></p>
                    <p class="m-0">Category: <strong class="text-muted">{{returnTexts(bestSales.last_week_most_sold.item, "cat") }}</strong></p>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">This Month</h4>
                    <p class="m-0">Item Name: <strong>{{returnTexts(bestSales.this_month_most_sold.item, "item") }}</strong></p>
                    <p class="m-0">Category: <strong class="text-muted">{{returnTexts(bestSales.this_month_most_sold.item, "cat") }}</strong></p>
                </div>
	    	</div>
            <div v-if="bestSales" class="row mt-5" style="background-color: #222222; color: white; text-align: center">
            <!-- overview -->
                <div class="col-md-12 p-3">
                    <h4 class="mb-3">All Time Best Selling Item</h4>
                    <p class="m-0">Item Name: <strong>{{returnTexts(bestSales.all_time_most_sold.item, "item") }}</strong></p>
                    <p class="m-0">Category: <strong>{{returnTexts(bestSales.all_time_most_sold.item, "cat") }}</strong></p>
                </div>
	    	</div>
        </div>

        <!--best selling services -->
        <div class="overview mt-5" v-if="bestSales.hasServiceShops">
           <h3 class="subtitle mb-4">Best Selling Services</h3>
	    	<div class="row text-center">
            <!-- overview -->
                <div class="col-md-3">
                    <h4 class="mb-3">Today</h4>
                    <p class="m-0">Service Name: <strong>{{returnTexts(bestSales.today_most_sold.service, "service") }}</strong></p>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Yesterday</h4>
                    <p class="m-0">Service Name: <strong>{{returnTexts(bestSales.yesterday_most_sold.service, "service") }}</strong></p>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">Last Week</h4>
                    <p class="m-0">Service Name: <strong>{{returnTexts(bestSales.last_week_most_sold.service, "service") }}</strong></p>
                </div>
                <div class="col-md-3">
                    <h4 class="mb-3">This Month</h4>
                    <p class="m-0">Service Name: <strong>{{returnTexts(bestSales.this_month_most_sold.service, "service") }}</strong></p>
                </div>
	    	</div>
            <div v-if="bestSales" class="row mt-5" style="background-color: #222222; color: white; text-align: center">
            <!-- overview -->
                <div class="col-md-12 p-3">
                    <h4 class="mb-3">All Time Best Selling Service</h4>
                    <p class="m-0">Service Name: <strong>{{returnTexts(bestSales.all_time_most_sold.service, "service") }}</strong></p>
                </div>
	    	</div>
        </div>

        <!-- charts js -->
        <!--best selling items -->
        <div class="overview mt-5">
           <h3 class="subtitle mb-4">Charts</h3>
           <div class="row">
                <div class="col-12 text-center">
                    <h2> Choose Date Range </h2>
                </div>
                <form class="form row" @submit.prevent="getChartData">
                    <div class="form-group col-4">
                        <label> Start Date </label>
                        <input v-model="dateRanges.start" :max="yesterdayDate" type="date" class="form-control" required>
                    </div>
                    <div class="form-group col-4">
                        <label> End Date </label>
                        <input v-model="dateRanges.end" :max="todaysDate" type="date" class="form-control" required>
                    </div>
                    <div class="form-group col-4">
                        <button type="submit" style="margin-bottom: -88px;" class="btn btn-secondary">Get Data </button>
                    </div>
                </form>
           </div>
            <div class="row">
                <div class="col-12 text-center" v-if="chartData">
                    
                    <chart-component :data="chartData"></chart-component>
                </div>
	    	</div>
        </div>
        <sweet-modal ref="infoModal" icon="info">
            No sales within the selected date range yet
        </sweet-modal>
    </div>
</template>

<script>
    import ChartComponent from '../../shared/ChartComponent'
    export default{
        data () {
            return {
                shops: [],
                bestSales: { hasOpenSaleShops: false, hasServiceShops: false },
                chartData: null,
                dateRanges: {},
            }
        },
        mounted(){
            this.getShopsSales();
            this.getBestSellingItems();
            this.getSevenDaysChartData();
        },
        methods: {
            returnTexts: function(obj, text){
                if(obj == "none"){
                    return "None";
                }else{
                    if(text == "item"){
                        return `${obj.name}(${obj.count})`
                    }else if(text == "service"){
                        return `${obj.service_name}(${obj.count})`
                    }else{
                        return obj.category.item
                    }
                }
            },
            gotoShopSalesPage: function(shop){
                let route = {name: 'ShopSalesDisplayPage', params: {key: shop.key}}
                this.$router.push(route)
            },
            getSevenDaysChartData: function(){
                axios.get(`${this.pathOrigin}/stats/get_seven_days_chart_data`)
                .then(res => {
                    this.chartData = res.data.data    
                })
                .catch(err => {
                    console.log(err)
                })
            },
            getChartData: function(){
                let end = new Date(this.dateRanges.end)
                let start = new Date(this.dateRanges.start)
                var time_difference = end.getTime() - start.getTime();  
                var days_difference = time_difference / (1000 * 60 * 60 * 24);
                if(days_difference > 30){
                    alert("Date Range Must Be Between 30 Days")
                    return
                }
                
                axios.post(`${this.pathOrigin}/stats/get_charts_data`, this.dateRanges)
                .then(res => {
                    if(!res.data.data[0].length){
                        this.$refs.infoModal.open()
                    }else{
                        this.chartData = res.data.data
                    }
                })
                .catch(err => {
                    console.log(err)
                })
            },
            getBestSellingItems: function(){
                axios.get(`${this.pathOrigin}/stats/get_best_selling_items`)
                .then(res => {
                    this.bestSales = res.data.data
                })
                .catch(err => {
                    console.log(err)
                })
            },
            getShopsSales: function(){
                axios.get(`${this.pathOrigin}/stats/get_shops_sales`)
                .then(res => {
                    this.shops = res.data.data
                })
                .catch(err => {
                    console.log(err)
                })
            }
        },
        computed: {
            todaysDate: function(){
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0');
                var yyyy = today.getFullYear();

                today = yyyy + '-' + mm + '-' + dd;
                return today;
            },
            yesterdayDate: function(){
                var today = new Date();
                var dd = String(today.getDate() - 1).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0');
                var yyyy = today.getFullYear();

                today = yyyy + '-' + mm + '-' + dd;
                return today;
            }
        },
        components: {
            ChartComponent,
        }
    }
</script>

<style scoped>
    .small{
        margin: 0px;
    }
</style>