<template>
      <div class="dashboard-main-content" v-if="manager">
        
          <p class="mt-5">Manager for</p>
          <h1 class="mt-n4 mb-5">{{manager.shop.shop_name}}</h1>
            <form autocomplete="off" autosuggest="off" id="managersForm" v-if="manager" >

                <!-- change name -->
                <div class="action-section pb-5 border-bottom">
                    <h4 class="mt-5 mb-5">Change Name </h4>
                    <div class="form-group row align-items-center">
                        <label for="inputEmail4" class="col-md-6">Name</label>
                        <input type="text" v-model="nformdata.name" class="form-control col-md-6" id="inputEmail4">
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-md-6">Phone</label>
                        <input type="text" v-model="manager.phone" class="form-control col-md-6" disabled>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-6 p-0">
                            <button @click.prevent="changeName()" type="button" class="btn btn-primary btn-sm">Save Changes</button>
                        </div>
                    </div>
                </div>

                <!-- change password -->
                <div class="action-section pb-3 border-bottom">
                    <h4 class="mt-5 mb-5"> Change Password </h4>
                    <div class="form-group row align-items-center">
                        <label class="col-md-6">New Password</label>
                        <input type="password" autofill="false" v-model="password.one" autocomplete="false" class="form-control col-md-6">
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-md-6">New Password Confirmation</label>
                        <input autocomplete="false" type="password" v-model="password.two" class="form-control col-md-6">
                    </div>
                    <div class="form-group col-md-6 offset-md-6">
                        <input type="checkbox" id="showPassword" @change="showPassword($event)">
                        <label for="showPassword"> Show Password </label>
                    </div>
                    <div class="col-md-6 offset-md-6 p-0">
                        <button @click.prevent="changePassword()" type="button" class="btn btn-primary btn-sm">Save Changes</button>
                    </div>
                </div>
             
                <div class="action-section pb-3 border-bottom">
                    <h4 class="mt-5 mb-5">Reassign Shop </h4>
                    <div class="form-group row align-items-center">
                        <label class="col-md-6">Choose Shop</label>
                        <select class="form-control col-md-6" id="newShopKey">
                            <option v-for="(shop,index) in shops" :value="shop.key" :selected="manager.shop_key == shop.key" :key="index">{{shop.shop_name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 offset-md-6 p-0">
                        <button @click.prevent="changeShop()" type="button" class="btn btn-primary btn-sm mt-2">Save Changes</button>
                    </div>
                    
                </div>
           

                <!-- Manager status -->
                <div class="action-section pb-3 border-bottom">
                    <h4 class="mt-5 mb-3">Manager's Status</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Manager is <strong>{{manager.is_active ? "Active" : "Deactivated"}}</strong> </h6>
                        </div>
                        <div class="col-md-6  p-0">
                            <button v-if="manager.is_active" @click="changeStatus(0)" type="button" class="btn btn-danger btn-sm">Deactivate Manager</button>
                            <button v-if="!manager.is_active" @click="changeStatus(1)" type="button" class="btn btn-success btn-sm">Activate Manager</button>
                        </div>
                    </div>
                </div>
            </form>

      </div>
</template>

<script>
export default {
    data(){
        return{
            manager: null,
            shops: [],
            nformdata:{},
            password: {}
        }
    },
    mounted(){
        this.manager = this.$route.params.manager;
        this.nformdata.name = this.manager.name;
        this.getShops()
    },
    methods: {
        getShops: function(){
            this.showSelect = true
            axios.get(`${this.pathOrigin}/getShops`)
            .then(res => {
                this.shops = res.data.data
            })
            .catch(err => {
                console.log(err)
            })
        },
        changeName: function(){
            var fd = {'name': this.nformdata.name, 'type': "name", 'id': this.manager.id}
            axios.post(`${this.pathOrigin}/change_manager_data`, fd)
            .then( res => {
                // this.getManagers()
                alert("Name updated successfully")
            })
            .catch( err => {
                console.log(err)
            })
        },
        changeStatus: function(status){
            if(confirm("Are you sure you want to proceed ?")){
                var fd = {'status': status, 'type': "status", 'id': this.manager.id}
                axios.post(`${this.pathOrigin}/change_manager_data`, fd)
                .then( res => {
                    this.manager.is_active = status
                    // this.showManager = false
                    alert("Manager's status changed successfully")
                })
                .catch( err => {
                    console.log(err)
                })
            }
        },
        changePassword: function(){
            if(this.password.one !== this.password.two){
                alert("Passwords do not match")
                return
            }
            if(!this.password.one || !this.password.two){
                alert("Passwords fields are required!")
                return
            }
            var fd = {'password': this.password.one, 'type': "password", 'id': this.manager.id}
            axios.post(`${this.pathOrigin}/change_manager_data`, fd)
            .then( res => {
                alert("Password changed successfully")
            })
            .catch( err => {
                console.log(err)
            })
        },
        showPassword: function(e){
            let el = $('input[type=password]')
            if ($(e.target).is(':checked')) {
                $(el).attr('type', 'text')
            }
            else {
                $(el).attr('type', 'password')
            }
        },
        getShops: function(){
            this.showSelect = true
            axios.get(`${this.pathOrigin}/getShops`)
            .then(res => {
                this.shops = res.data.data
            })
            .catch(err => {
                console.log(err)
            })
        },
        changeShop: function(){
            var val = $('select#newShopKey').val();
            var fd = {"key" : val, "id": this.manager.id, "type": "key"}
            axios.post(`${this.pathOrigin}/change_manager_data`, fd)
            .then(res => {
                // this.getManagers()
                alert("Manager Reassigned Successfully")
            })
            .catch(err => {
                console.log(err)
            })
        },
    }
}
</script>