<template>

	<div class="dashboard-main-content">
		<!-- if user has no business/company yet -->
		<div class=" mt-3 mb-3">
		
			<h4 class="dashboard-title dashboard-title-1">Start Your Journey as a Lonux Rider</h4>
		
			<p class="">
				Duis aute irure dolor in reprehenderit in voluptate velit esse.
			</p>
		</div>

		<div class="dashboard-row p-5">
			<form  @submit.prevent="submitApplication()">
				<div class="form-group ">
					<label>Drivers License</label>
					<input type="text" name="driver_license" class="form-control form-control-light" placeholder="Your Driver License" v-model="formdata.driver_license" required="required">
				</div>
				<div class="form-group ">
					<label>Vehicle Number</label>
					<input type="text" name="vehicle_number" class="form-control form-control-light" placeholder="Vehicle Number" v-model="formdata.vehicle_number" required="required">
				</div>
				<div class="form-group " >
					<label>Vehicle Type</label>
					<select name="vehicle_type" class="form-control form-control-light" v-model="formdata.vehicle_type" required="required">
						<option>Motocycle</option>
						<option>Van</option>
					</select>
				</div>
				<div class="form-group ">
					<label>Vehicle Name</label>
					<input type="text" name="vehicle_name" class="form-control form-control-light" placeholder="Vehicle Name" v-model="formdata.vehicle_name" required="required">
				</div>
				<div class="form-group ">
					<label>Date of Birth</label>
					<input type="date" name="date_of_birth" class="form-control form-control-light" placeholder="Date of Birth" v-model="formdata.date_of_birth" required="required">
				</div>
				<div class="row">

					<div class="form-group col-md-6 d-flex justify-content-center align-items-center">
						<label>Riders Picture</label>
						<input @change="previewImage($event, 'riders_picture')" type="file" style="display: none;" id="riders_picture" name="riders_picture" class="form-control form-control-light" accept="image/*">
						<div class="mx-3 image-container" id="riders_picture" style="width: 150px; height: 150px; border: 1px dashed #d3d3d3; cursor: pointer;" @click="clickFileUploadField('riders_picture')">
							<img :src="prev.riders_picture" width="100%" height="100%" style="display: none;">
							<p class="text-center">click to choose image</p>
						</div>
					</div>
					<div class="form-group col-md-6 d-flex justify-content-center align-items-center">
						<label>Vehicle Picture</label>
						<input @change="previewImage($event, 'vehicle_picture')" type="file" style="display: none;" id="vehicle_picture" name="vehicle_picture" class="form-control form-control-light" accept="image/*">
						<div class="mx-3 image-container" id="vehicle_picture" style="width: 150px; height: 150px; border: 1px dashed #d3d3d3; cursor: pointer;" @click="clickFileUploadField('vehicle_picture')">
							<img :src="prev.vehicle_picture" width="100%" height="100%" style="display: none;">
							<p class="text-center">click to choose image</p>
						</div>
					</div>
				</div>
				<div class="form-group" v-if="loader.loading">
					<clip-loader :color="loader.color"></clip-loader>
					<p class="text-center" >Submitting Application ... ...</p>
				</div>
				<div class="form-group text-center" v-else>
					<button type="submit" class="btn btn-secondary" data-dismiss="modal">Submit Application</button>
				</div>
			</form>
		</div>
	</div>
		
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {
    data(){
    	return {
    		prev: {
    			riders_picture: null,
    			vehicle_picture: null,
    		},
    		formdata: {
    			driver_license: null,
    			vehicle_number: null,
    			vehicle_type: null,
    			vehicle_name: null,
    			date_of_birth: null,
    			riders_picture: null,
    			vehicle_picture: null,
    		}
    	}
    },
    methods: {
    	submitApplication: function(){
    		this.loader.loading = true;
    		let fd = new FormData()
    		fd.append('driver_license', this.formdata.driver_license)
    		fd.append('vehicle_number', this.formdata.vehicle_number)
    		fd.append('vehicle_type', this.formdata.vehicle_type)
    		fd.append('vehicle_name', this.formdata.vehicle_name)
    		fd.append('date_of_birth', this.formdata.date_of_birth)
    		fd.append('rider_picture', this.formdata.riders_picture)
    		fd.append('vehicle_picture', this.formdata.vehicle_picture)
    		console.log(fd)
    		axios.post(this.pathOrigin+'/rider', fd)
    		.then(res=>{
    			console.log(res)
    		})
    		.catch(err=>{
    			this.loader.loading = false;
    		})
    	},
    	clickFileUploadField(id)
    	{
    		console.log(id)
    		$('input#'+id).click();
    	},
    	previewImage: function(e, m){
    		console.log(e, m)
    	    var size, src, reader, files = e.target.files
    	    var type = files[0].type.split('/')[0]
    	    this.formdata[m] = files[0]
    	     if(type != 'image'){
    	     	console.log("")
    	    }else if(files[0].size > 100000000){
    	    	console.log("")
    	    }else{
    	        reader = new FileReader();
    	            reader.onload = (e) => { 
    	                var src = e.target.result
    	                this.prev[m] = src
    	                let div = $('div#'+m)
    	                div.find('img').show()
    	                div.find('p').hide();
    	            }
    	        reader.readAsDataURL(files[0])
    	    }
    	},
    },
    components: {
		ClipLoader: ClipLoader,
	}
}
</script>