<template>

	<div class="dashboard-main-content">
		<!-- if user has no business/company yet -->
		<div class=" mt-3 mb-3">
		
			<h4 class="dashboard-title dashboard-title-1">Start Your Journey as a Lonux Rider</h4>
		
			<p class="">
				Duis aute irure dolor in reprehenderit in voluptate velit esse.
			</p>
		</div>
		<!-- <div class="row justify-content-center">
			<h1>Riders Home</h1>
		</div> -->
		<div class="dashboard-row">
			<div class="">
				<h4>Notification!</h4>
				<p v-if="account_pending">Your account is still pending activation</p>
				<p v-else>Your account has been approved!</p>
			</div>
		</div>
	</div>
			
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {
	data()
	{
		return {
			userId: window.lonux.userId,
			account_pending: true,
		}
	},
	mounted(){
		this.setRoute()
	},
	methods: {
		setRoute: function()
		{
			axios.get(this.pathOrigin+'/rider/'+this.userId)
			.then(res=>{
				if (res.data == "not_found") {
					this.$router.push('/home/rider_new')
				}else{
					if (res.data.approved) {
						this.account_pending = false
						console.log("Rider is approved!")
					}else{
						console.log("Rider is pending approval")
					}
				}
			})
		}
	}
}
</script>