<template>
    <div>
        <div class="dashboard-main-content">
            <!-- <breadcrumb -->
            <breadcrumb :list= "BreadcrumbList">
                <h4 class="dashboard-title dashboard-title-1"> {{shop.shop_name}}</h4>
            </breadcrumb>
            <!--</breadcrumb> -->

            <div class="justify-content-center row">
                <form class="col-lg-3 text-center">
                    <div class="form-group">
                        <img :src="shopImagePreview" style="width: 150px; height: 150px;" class="rounded-circle border border-dark">
                        <input type="file" @change="saveImage($event)" id="chooseImage" class="form-control" style="display: none;" accept="image/*">
                        <button type="button" onclick="document.getElementById('chooseImage').click();" class="btn btn-default mt-3">Change Image</button>
                        <p class="text-danger small" id="imageErr"></p>
                        <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                    </div>
                </form>
                <form class="col-lg-8 offset-lg-1" @submit.prevent="saveChanges()">
                    <div class="form-group">
                        <label>Shop Name</label>
                        <input type="text" v-model="shop.shop_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Shop Address</label>
                        <input type="text" id="shopAddress" ref="addressAutocomplets" :value="shop.shop_address" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Shop Service</label>
                        <input type="text" v-if="shop.shop_service" v-model="shop.shop_service.name" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <p>Work you sell</p>
                        <button class="btn btn-light bg-white" type="button" @click.prevent="openModal(1)">Select items you sell</button>
                    </div>
                    <div class="form-group">
                        <label>How You Sell</label>
                        <select v-model="shop.shop_sells_in" class="form-control">
                            <option :value="shop.shop_sells_in">{{shop.shop_sells_in}}</option>
                            <option>{{ shop.shop_sells_in == 'wholesale' ? 'retail' : 'wholesale' }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <!-- <label>Work Days</label> -->
                        <p>Work Days</p>
                        <button class="btn btn-light bg-white" type="button" @click.prevent="openModal(2)">Pick days you work</button>
                        <!-- <input type="" v-model="shop.shop_name" class="form-control"> -->
                    </div>
                    <div class="form-group">
                        <label>Shop Opens At</label>
                        <input type="time" v-model="shop.shop_open_at" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Shop Closes At</label>
                        <input type="time" v-model="shop.shop_close_at" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Shop Email</label>
                        <input type="email" v-model="shop.email" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <button class="btn btn-secondary" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="optionModal" tabindex="-1" role="dialog" aria-labelledby="optionModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="optionModal">{{modalTitle}}</h5>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center" v-if="inputVisibility.workdays">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input @change="checkAll()" type="checkbox" v-model="tempformdata.workdays" name="all" id="all" value="all">
                            <label for="all"><strong>All</strong></label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input type="checkbox" name="monday" id="monday" value="Monday" v-model="shop.shop_work_days">
                            <label for="monday">Monday</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input type="checkbox" name="tuesday" id="tuesday" value="Tuesday" v-model="shop.shop_work_days">
                            <label for="tuesday">Tuesday</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input type="checkbox" name="wednesday" id="wednesday" value="Wednesday" v-model="shop.shop_work_days">
                            <label for="wednesday">Wednesday</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input type="checkbox" name="thursday" id="thursday" value="Thursday" v-model="shop.shop_work_days">
                            <label for="thursday" >Thursday</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input type="checkbox" name="friday" id="friday" value="Friday" v-model="shop.shop_work_days">
                            <label for="friday">Friday</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input type="checkbox" name="saturday" id="saturday" value="Saturday" v-model="shop.shop_work_days">
                            <label for="saturday">Saturday</label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input type="checkbox" name="sunday" id="sunday" value="Sunday" v-model="shop.shop_work_days">
                            <label for="sunday">Sunday</label>
                        </div>
                    </div>
                    <div class="row justify-content-center" v-if="inputVisibility.whatYouSell">
                        <div class="col-lg-3 col-md-4 col-sm-6" v-for="(shopType, index) in shop.shopTypes" :key="index">
                            <input type="checkbox" name="shopType" :id="shopType.name" :value="shopType.name" v-model="shop.shop_typesArr">
                            <label :for="shopType.name">{{shopType.name}}</label>
                        </div>
                        <br><hr>
                        <p>
                            <a @click.prevent="AddNew = true" href="#">Add New</a>
                            <input type="text" v-model="shop.newShopAdded" v-if="AddNew" class="form-control">
                            <span v-if="AddNew" class="text-muted small">
                                <em>if many, seperate by <strong>comma (,)</strong></em>
                            </span>
                        </p>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button @click.prevent="closeModal()" type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
import Breadcrumb from '../../../shared/Breadcrumb.vue'
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {

  	name: 'EditShop',

  	data () {
    	return {
            shop: {},
            AddNew: false,
            shopKey: null,
            notFound: false,
            severError: false,
            showShopImage: false,
            shopImagePreview: null,
            BreadcrumbList: ['home','manage_business','edit_shop'],
            getWhatThisShopSellData: true,
            inputVisibility: {
                whatYouSell: false,
                workdays: false,
            },
            modalTitle: '',
            tempformdata: {
                workdays: null,
            },
    	}
  	},
    created(){
        // let googleMapScript = document.createElement('script')
        // googleMapScript.setAttribute('src', 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCBoeN56JTOlbsPvfK4ltGPAdDaRSrFaog')
        // document.head.appendChild(googleMapScript)
    },
  	mounted(){
        let vue = this
        $("input#shopAddress").on('focus', function(){
            vue.googleAuto()
        })

  		this.shopKey = this.$route.params.shopKey;
  		this.getShop(this.shopKey);
  		// console.log(this.$route.params.shopKey);
  	},
    methods: {
        googleAuto: function(){
            let vue = this;
            let searchInput = this.$refs['addressAutocomplets']
            let autocomplete = new google.maps.places.Autocomplete((searchInput), {
                types: ['geocode'],
                componentRestrictions: {country: 'ng'}
            });
            google.maps.event.addListener(autocomplete, 'place_changed', function (data) {
                var near_place = autocomplete.getPlace();

                console.log(near_place)

                vue.shop.shop_address = near_place.formatted_address
                vue.shop.lng = near_place.geometry.location.lng()
                vue.shop.lat = near_place.geometry.location.lat()
            });
        },
        saveImage: function(e){
            let reader,file = e.target.files[0]
            var type = file.type.split('/')[0]
            let fd = new FormData();
            fd.append('image', file);
            fd.append('id', this.shop.id)
            // preview image
            this.loader.loading = true
            reader = new FileReader()
                reader.onload = (e) => { 
                    var src = e.target.result 
                    if (type == 'image') {
                        this.showShopImage = true;
                        this.shopImagePreview = src
                    }else{
                        $('p#imageErr').text('File is not a valid image type');
                    }
            }
            reader.readAsDataURL(file)
            //save image to database
            axios.post(this.pathOrigin+'/save_shop_image', fd)
            .then(response=>{
                this.loader.loading = false
                alert("image saved successfully")
            })
            .catch(err=>{
                $('p#imageErr').text('Unable to save image please try again');
                this.loader.loading = false
                console.log(err)
            })
        },
        checkAll: function(){
            if (this.tempformdata.workdays) {
                this.shop.shop_work_days = []
                var daysArr = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'];
                for (var i = 0; i < daysArr.length; i++) {
                    this.shop.shop_work_days.push(daysArr[i])
                }
            }else{
                this.shop.shop_work_days = [];
            }
        },
        openModal: function(numb){
            this.inputVisibility.whatYouSell = false;
            this.inputVisibility.workdays = false;
            // this.tempformdata.shop_name = [];
            if (numb == 1) {
                // this.tempformdata.shop_types = [];
                if (this.getWhatThisShopSellData) {
                    this.getWhatThisShopSell();
                }
                this.inputVisibility.whatYouSell = true;
                this.modalTitle = "What You Sell";
            }else{
                this.modalTitle = "Select Your Work days"
                this.inputVisibility.workdays = true;
            }
            $("#optionModal").modal({
                show: true,
                backdrop: false
            });
        },
        closeModal: function()
        {
            $("#optionModal").modal('toggle');
        },
        getShop: function(key){
            axios.get(this.pathOrigin+'/getShop/'+key)
            .then(response=>{
                this.shop = response.data.data
                this.shopImagePreview = this.shop.shop_image
                this.shop.shop_work_days = this.shop.shop_work_days == null ? [] : this.shop.shop_work_days.split(',',)
            })
            .catch(err=>{
                console.log(err)
                if (err.response.data == "notFound") {
                    this.notFound = true
                }else{
                    this.severError = true
                }
            })
        },
        getWhatThisShopSell: function(){
            axios.get(this.pathOrigin+'/get_what_this_shop_sell/'+this.shopKey)
            .then(res=>{
                this.shop.shopTypes = res.data
                this.getWhatThisShopSellData = false;
                let arr = this.shop.shop_typesArr = []
                this.shop.shopTypes.map(function(el){
                    arr.push(el.name)
                })
                this.$forceUpdate()
            })
            .catch(err=>{
                console.log(err)
            })
        },
        saveChanges: function(){
            axios.post(this.pathOrigin+'/update_shop/', this.shop)
            .then(res=>{
                alert("Changes saved successfully")
            })
            .catch(err=>{
                console.log(err)
            })
        }
    },
    components: {
        Breadcrumb: Breadcrumb,
        ClipLoader
    }
}
</script>

<style lang="css" scoped>
</style>