<template>
	<div>

		<div class="dashboard-main-content">

			<!-- <breadcrumb -->
			<breadcrumb :list= "BreadcrumbList">
				<h4 class="dashboard-title dashboard-title-1"> {{company}}</h4>
			</breadcrumb>
			<!--</breadcrumb> -->

			<div class="row justify-content-center">
				<form class="col-12" @submit.prevent="updateCompany()">
					<div class="form-group">
						<label>Company Name:</label>
						<input type="text" v-model="formdata.name" class="form-control">
					</div>
					<div class="form-group">
						<label>Company Email:</label>
						<input type="text" :value="companyObj.email" class="form-control" disabled>
					</div>
					<div class="form-group">
						<label>HeadQuater's Addres:</label>
						<input type="text" v-model="formdata.hq_address" class="form-control">
					</div>
					<div class="form-group">
						<label>NAFDAC Registeration Number:</label>
						<input type="text" v-model="companyObj.nafdac_reg_no" class="form-control" disabled>
					</div>
					<div class="form-group">
						<label>CAC Registeration Number:</label>
						<input type="text" v-model="companyObj.cac_reg_no" class="form-control" disabled>
					</div>
					<div class="form-group">
						<label>Company Description:</label>
						<textarea class="form-control" v-model="formdata.desc"></textarea>
					</div>
					<div class="form-group">
						<p v-if="updating">updating details....</p>
						<button class="btn-secondary" type="submit">Save Changes</button>
					</div>
				</form>
			</div>

			<div class="row pt-5 mt-3 mb-3 ml-3 mr-2 justify-content-center" v-if="severError">
				<h5>We encountered an error while fetching this resource. Please try reloading the page or contact support.</h5>
			</div>
		</div>
			
		<!--<modal v-if="showModal" :categoryId="categoryId"></modal>-->
	</div>
</template>

<script>
import Breadcrumb from '../../../shared/Breadcrumb.vue'
export default {
	name: 'ManageBusinessComponent',
	data () {
    	return {
    		BreadcrumbList: ['home','manage_business','edit_business'],
    		severError: false,
    		companyObj: {},
    		formdata: {},
    		updating: false,
    	}
  	},
  	mounted(){
  		this.getCompany();
  	},
  	methods: {
  		getCompany: function(){
  			axios.get(this.pathOrigin+'/company/id')
  			.then(res=>{
  				this.formdata.name = res.data.data.name
  				this.formdata.hq_address = res.data.data.hq_address
  				this.formdata.desc = res.data.data.desc
  				this.companyObj = res.data.data
  			})
  			.catch(err=>{
  				console.log(err)
  				this.severError = true;
  			})
  		},
  		updateCompany: function(){
  			this.updating = true;
  			axios.put(this.pathOrigin+'/company/'+this.companyObj.id, this.formdata)
  			.then(res=>{
  				this.updating = false
  				alert("Details Updated Successfully!")
  			})
  			.catch(err=>{
  				console.log(err)
  			})
  		}
  	},
  	components: {
  		Breadcrumb: Breadcrumb
  	}
}
</script>

<style lang="css" scoped>
</style>