<template>
	<div>
		<div class="dashboard-main-content">
			<!-- <breadcrumb -->
			<breadcrumb :list= "BreadcrumbList">
				<h4 class="dashboard-title dashboard-title-1"> {{company}}</h4>
			</breadcrumb>
			<!--</breadcrumb> -->

			<h4>Business Details</h4>

			<div class="dashboard-row">

				<div class="col-12 dashboard-row mb-5">
					<div class="mb-3 d-flex justify-content-between align-items-center">
						<h4>{{company}}</h4>
						<button @click.prevent="gotoEditRoute()" type="button" class="btn btn-light d-flex justify-content-between align-items-center">
							<span>Edit </span>
							<i class="material-icons">edit</i>
						</button>
					</div>
				</div>
			</div>

			<div class="alert alert-warning text-center mt-5">
				<strong>Note: Changes Made Here Will Affect All Shops!</strong>
			</div>

			<div class="dashboard-row mt-3">
				<!-- shops -->
				<h4 class="mb-5">Change Open And Close Time</h4>
				<form class="row form" @submit.prevent="changeShopsTime()">
					<div class="form-group col-6">
						<label>Open At</label>
						<input type="time" class="form-control" v-model="formdata.open_at" required>
					</div>
					<div class="form-group col-6">
						<label>Close At</label>
						<input type="time" class="form-control" v-model="formdata.close_at" required>
					</div>
					<div class="form-group col-12 text-center">
						<button type="submit" class="btn btn-secondary">Submit</button>
						<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import Breadcrumb from '../../../shared/Breadcrumb.vue'
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {
	name: 'ManageBusinessComponent',
	data () {
    	return {
    		BreadcrumbList: ['home','manage_business'],
			formdata: {},
			loader: {
	    		color: "#fd961a",
	    		loading: false,
	    	}
    	}
  	},
  	mounted(){

  	},
  	methods: {
		changeShopsTime: function(){
			if(!confirm("are you sure you want to implement this change?")){
				return
			}
			this.loader.loading = true
			axios.post(`${this.pathOrigin}/company/settings/time`, this.formdata)
			.then(res => {
				alert("Shops Updated Successfully")
				this.loader.loading = false
			})
			.catch(err => {
				this.loader.loading = false
				alert("Changes could not be saved")
				console.log(err)
			})
		},
  		gotoEditRoute: function(){
  			this.$router.push("/home/manage_business/edit_business")
  		},
  	},
  	components: {
  		Breadcrumb: Breadcrumb,
		ClipLoader,
  	}
}
</script>

<style lang="css" scoped>
</style>
