<template>
    <div class="mr-3">
        <a :href="pathOrigin+'/cart'">
            <span v-if="cartItems.length" class="badge badge-warning position-absolute">{{ cartItems.length }}</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.25 20.25C8.66421 20.25 9 19.9142 9 19.5C9 19.0858 8.66421 18.75 8.25 18.75C7.83579 18.75 7.5 19.0858 7.5 19.5C7.5 19.9142 7.83579 20.25 8.25 20.25Z"
                    stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M18.75 20.25C19.1642 20.25 19.5 19.9142 19.5 19.5C19.5 19.0858 19.1642 18.75 18.75 18.75C18.3358 18.75 18 19.0858 18 19.5C18 19.9142 18.3358 20.25 18.75 20.25Z"
                    stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M2.25 3.75H5.25L7.5 16.5H19.5" stroke="#666666" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M7.5 13.5H19.1925C19.2792 13.5001 19.3633 13.4701 19.4304 13.4151C19.4975 13.3601 19.5434 13.2836 19.5605 13.1986L20.9105 6.44859C20.9214 6.39417 20.92 6.338 20.9066 6.28414C20.8931 6.23029 20.8679 6.18009 20.8327 6.13717C20.7975 6.09426 20.7532 6.05969 20.703 6.03597C20.6528 6.01225 20.598 5.99996 20.5425 6H6"
                    stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
        <!-- Add to cart -->
        <div class="modal right fade rounded-2" id="AddToCart" tabindex="-1" aria-labelledby="AddToCart" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h5 class="modal-title">Your Cart Items</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body px-4" v-if="cartItems.length">
                        <div class="row align-items-center mb-4" v-for="(cartItem, index) in cartItems" :key="index">
                            <div class="col-md-3">
                                <img :src="getImage(cartItem.images)" alt="" class=" rounded img-fluid">
                            </div>
                            <div class="col-md-4">
                                <p class="mb-0 text-lg"> {{cartItem.name}} </p>
                                <p class="mb-0 text-md"> {{cartItem.amount | formatCurrency}} </p>
                            </div>
                            <div class="col-md-3 text-md-center my-sm-3">
                                <span @click="changeQuantity('decrease', cartItem.id)">
                                    <svg role="button" width="12" height="8" viewBox="0 0 12 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.41 0.0898438L6 4.66984L10.59 0.0898438L12 1.49984L6 7.49984L0 1.49984L1.41 0.0898438Z"
                                            fill="#4F4F4F" />
                                    </svg>
                                </span>

                                <span class="px-2"> {{ cartItem.quantity }} </span>

                                <span @click="changeQuantity('increase', cartItem.id)">
                                    <svg role="button" width="12" height="8" viewBox="0 0 12 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.59 7.91016L6 3.33016L1.41 7.91016L1.23266e-07 6.50016L6 0.500156L12 6.50016L10.59 7.91016Z"
                                            fill="#4F4F4F" />
                                    </svg>
                                </span>
                            </div>
                            <div class="col-md-2">
                                <a href="#" @click.prevent="removeItem(cartItem.id)" class="text-danger px-0 ml-auto text-md-center" role="button"> X</a>
                            </div>
                        </div>
                        <div class="text-center mb-0 mt-5" v-if="cartItems.length">
                            <a href="#" @click="clearCart()" role="button" class="btn btn-danger mr-3">Clear Cart</a>
                            <a href="#" role="button" class="btn btn-primary">Checkout</a>
                        </div>
                    </div>
                    <div class="modal-body px-4" v-else>
                        <p>There are no items in your cart</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import BusinessHomeComponent from '../../home/business/BusinessHomeComponent.vue'
export default {
  components: { BusinessHomeComponent },
    computed: mapGetters(['cartItems']),
    mounted(){
        this.$store.dispatch('fetchCart')
    },
}
</script>

<style>

</style>