<template>
    <div class="mr-3">
        <!-- Add to cart -->
        <div class="modal right fade rounded-2" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header border-0 bg-primary text-white">
                        <h5 class="modal-title">Sign in</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <div class="card-body" v-if="login_view">
                                        <img class="img-fluid" style="width: 50px !important" :src="pathOrigin+'/img/lonux-logo-300.png'" alt="lonux logo" />
                                        <h5 class="card-title font-weight-bold mt-5">Sign in to your Lonux account</h5>
                                        <ul v-for="(error, index) in errors" :key='index' class="text-danger mb-5">
                                            <li style="list-style:none">{{error}}</li>
                                        </ul>
                                        <form class="form mt-2" @submit.prevent="loginUser">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">+234</span>
                                                    </div>
                                                </div>
                                                <input type="tel" v-model="formdata.email" name="tel" placeholder="08080808080" class="form-control" />
                                            </div>
                                            <div class="form-group mt-3">
                                                <input type="password" v-model="formdata.password" name="password" placeholder="password" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" id="loginBtn" class="btn btn-primary text-white"> Sign in </button>
                                                <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                                            </div>
                                        </form>
                                        <p class="font-weight-bold">Don't have an account ? <a @click="changeAuthView('register_view')" href="#">register</a></p>
                                    </div>

                                    <div class="card-body" v-else>
                                        <img class="img-fluid" style="width: 50px !important" :src="pathOrigin+'/img/lonux-logo-300.png'" alt="lonux logo" />
                                        <h5 class="card-title font-weight-bold mt-5">Sign up on Lonux</h5>
                                        <ul v-for="(error, index) in errors" :key='index' class="text-danger mb-5">
                                            <li style="list-style:none">{{error}}</li>
                                        </ul>
                                        <form class="form mt-2" @submit.prevent="registerUser">
                                            <div class="form-group">
                                                <input type="text" v-model="formdata.name" name="name" placeholder="Full Name" class="form-control" required />
                                            </div>
                                            <VuePhoneNumberInput @update="handlePhoneValidation($event)" default-country-code="NG" :only-countries="['NG']" :loader="true" v-model="formdata.dphone" />
                                            <div class="form-group mt-3">
                                                <input type="text" @focus="googleAuto()" id="address" v-model="formdata.address" ref="addressAutocomplets" name="addr" placeholder="Address" class="form-control" required />
                                            </div>
                                            <div class="form-group mt-3">
                                                <input type="password" v-model="formdata.password" name="password" placeholder="password" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" id="regBtn" class="btn btn-primary text-white"> Sign up </button>
                                                <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                                            </div>
                                        </form>
                                        <p class="font-weight-bold">Already have an account ? <a @click="changeAuthView('login_view')" href="#">login</a></p>
                                    </div>

                                </div>
                                <div class="col-md-6 bg-light">
                                    <div class="card">
                                        <div class="card-body bg-light">
                                            <h5 class="card-title font-weight-bolder">Enjoy the convenience of your wallet</h5>
                                            <p class="card-text text-muted">Sign in to pay and save smartly with your Lonux wallet. No need to re-enter payment details everytime you make purchases and you can buy items recurrently.</p>
                                            <p>Not available</p>
                                        </div>
                                    </div>
                                    <div class="card mt-5 mb-5">
                                        <div class="card-body">
                                            <h5 class="card-title font-weight-bolder">Reserve pickup slot for up to 3 hours</h5>
                                            <p class="card-text text-muted">Sign in to enable us reserve these items with the respective sellers for a period for any three hours of your choosing.</p>
                                        </div>
                                    </div>
                                    <div class="card mb-5 bg-light">
                                        <div class="card-body">
                                            <h5 class="card-title font-weight-bolder">Enjoy fast delivery</h5>
                                            <p class="card-text text-muted">Enjoy real time tracking of your orders and manage your delivery addresses</p>
                                            <p>Not available</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title font-weight-bolder">View and manage your orders easily</h5>
                                            <p class="card-text text-muted">With your lonux users account, you can view your purchase history, set notification for your favourite items and managr your account.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
import VuePhoneNumberInput from 'vue-phone-number-input';
import 'vue-phone-number-input/dist/vue-phone-number-input.css';
export default {
    name : 'Checkout',
    components: { ClipLoader, VuePhoneNumberInput },
    mounted(){},
    methods: {
        loginUser(){

            if (this.formdata.email.length == 11 && this.formdata.email.substr(0,1) == 0){
                this.formdata.email = 234+this.formdata.email.substr(1, this.formdata.email.length - 1)
            }

            this.disable("button#loginBtn")
            this.errors = []
    		axios.post(this.pathOrigin+"/login", this.formdata)
    			.then(response=>{
                    const user = response.data.data
                    this.$store.dispatch('setAuthAction', user)
                    this.showToast("Sign in successful", "success")
                    $("div#checkoutModal").modal('hide')
    				// window.location.href = this.pathOrigin+'/home/user'
    			})
    			.catch(err=>{
    				this.enable("button#loginBtn")
    				if (err.response.status == 403) {
    					this.errors.push("These details do not match our records")
    				}else{
    					this.errors.push("Oops! we could not sign you in. Please try again.")
    				}
    				console.log(err.response)
    			})
        },
        registerUser(){
            if (!this.phoneValid){
                this.errors.push('Phone number not valid')
                return
            }            
            this.disable("button#regBtn")
			this.errors = []
			axios.post(this.pathOrigin+"/register", this.formdata)
				.then(response=>{
                    const user = response.data.data
                    this.$store.dispatch('setAuthAction', user)
                    this.showToast("Registeration successful", "success")
                    $("div#checkoutModal").modal('hide')
					// window.location.href = this.pathOrigin+'/home/user'
				})
				.catch(error=>{
					this.enable("button#regBtn")
					console.log("This is the response", error)
					if (typeof error.response.data.errors.name != 'undefined') {
					  this.errors.push(error.response.data.errors.name[0])
					}else if (typeof error.response.data.errors.address != 'undefined') {
					  this.errors.push(error.response.data.errors.address[0])
					}else if (typeof error.response.data.errors.password != 'undefined') {
					  this.errors.push(error.response.data.errors.password[0])
					}else if (typeof error.response.data.errors.phone != 'undefined') {
					  this.errors.push(error.response.data.errors.phone[0])
					}else if (error.response.data == 'nophone') {
					  alert("we could not find the supplied phone number")
					  window.location.href = pathOrigin+'/auth/phone'
					}else{
						this.errors.push('Server error occured. Please try again')
					}
				})
        },
        changeAuthView(view){
            this.login_view = false
            this[view] = true
            this.errors = []
        },
        googleAuto(){
            let vue = this
			let searchInput = this.$refs['addressAutocomplets']
			let autocomplete = new google.maps.places.Autocomplete((searchInput), {
			  	types: ['geocode'],
			  	componentRestrictions: {country: 'ng'}
			});
			google.maps.event.addListener(autocomplete, 'place_changed', function (data) {
				// console.log("auto:", autocomplete.getPlace().formatted_address, vue)
				var loc = {};
				var near_place = autocomplete.getPlace();
				vue.formdata.address = near_place.formatted_address
				vue.formdata.lng = near_place.geometry.location.lng()
				vue.formdata.lat = near_place.geometry.location.lat()
		    });
		},
        handlePhoneValidation(e){
            console.log(e)
            if (e.isValid) {
                this.formdata.phone = e.countryCallingCode + e.nationalNumber
                this.phoneValid = true
            }else {
                this.phoneValid = false
            }
        }
    },
    data(){
        return {
            formdata: {lat: null, lng: null},
            login_view: true,
            register_view: false,
            errors: [],
            phoneValid: false
        }
    },
}
</script>

<style>
.pac-container {
    z-index: 100000;
}
</style>