<template>
    <!-- Product Popup -->
    <div class="modal fade rounded-2" id="ProductPopUp" tabindex="-1" aria-labelledby="ProductPopUp" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-sm-5" v-if="shop.item">
                    <div class="row pb-3 mb-5">
                        <div class="col-lg-5">
                            <img style="max-height: 500px" :src="image" alt="" class="img-fluid h-100 rounded">
                        </div>
                        <div class="col-lg-7" v-if="type == 'shop_item'">
                            <div class="item">
                                <h2 class="display-4"> {{shop.item.name}} </h2>
                                <p class="mt-2 text-md--2">Amount: {{shop.item.amount | formatCurrency}} </p>
                                <p class="text-md"> Shop Name: {{shop.shop_name}} </p>
                                <p class="text-md--2"> Shop Address:  {{shop.shop_address}}</p>
                                <p class="text-md--2"> Distance from you:  {{shop.distance | convertToKM}}</p>
                                <p class="text-md--2"> Shop Rating: {{shop.shop_rating.rating}} ({{shop.shop_rating.count}}) </p>
                                <div class="row mt-3">
                                <div class="col-3" v-for="(image, index) in images" :key="index">
                                    <img role="button" @click="changeFocusImage(image, index)" :src="image" alt="" class="img-fluid h-100 rounded">
                                </div>
                            </div>
                                <div class="btn-groups">
                                    <!-- <p><i>This service is deliverable</i></p> -->
                                    <!-- <a href="#" class="btn btn-primary text-white btn-lg rounded mt-2" role="button" data-toggle="modal" data-target="#BookingPopUp"> Book Now</a> -->
                                    <!-- <a href="#" class="btn btn-secondary btn-lg rounded mt-2" role="button" data-toggle="modal" data-target="#LocationPopUp"> Get Directions</a> -->
                                    <a href="#" class="btn btn-secondary btn-lg rounded mt-2" role="button" @click="addToCart(shop)"> Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7" v-else>
                            <div class="item">
                                <h2 class="display-4"> {{shop.item.service_name}} </h2>
                                <p class="mt-2 text-md--2">Service Charge: {{shop.item.amount | formatCurrency}} </p>
                                <p class="text-md"> Shop Name: {{shop.shop_name}} </p>
                                <p class="text-md--2"> Shop Address:  {{shop.shop_address}}</p>
                                <p class="text-md--2"> Distance from you:  {{shop.distance | convertToKM}}</p>
                                <p class="text-md--2"> Shop Rating: {{shop.shop_rating.rating}} ({{shop.shop_rating.count}}) </p>
                                <div class="row mt-3">
                                <div class="col-3" v-for="(image, index) in images" :key="index">
                                    <img role="button" @click="changeFocusImage(image, index)" :src="image" alt="" class="img-fluid h-100 rounded">
                                </div>
                            </div>
                                <div class="btn-groups">
                                    <p class="font-italic" v-if="shop.item.deliverable">This service is deliverable</p>
                                    <!-- <a href="#" class="btn btn-primary text-white btn-lg rounded mt-2" role="button" data-toggle="modal" data-target="#BookingPopUp"> Book Now</a> -->
                                    <!-- <a href="#" class="btn btn-secondary btn-lg rounded mt-2" role="button" data-toggle="modal" data-target="#LocationPopUp"> Get Directions</a> -->
                                    <a href="#" class="btn btn-secondary btn-lg rounded mt-2" role="button" @click="addToCart(shop)"> Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-3 mb-1">
                        <h4 class="text-md font-weight-bold"> Other items you will find in this shop</h4>
                        <a :href="pathOrigin + '/shop/'+ shop.key" class="nav-link p-0"> View all</a>
                    </div>
                    <div class="prouct-item">
                        <div class="row">
                            <div class="col-md-3 col-lg-3" v-for="(relatedItem, index) in relatedItems" :key="index">
                                <div class="card border-0 bg-transparent" role="button">
                                    <img style="max-height: 250px" :src="getImage(relatedItem.images)" alt="" class=" rounded img-fluid">
                                    <div class="card-body p-1">
                                        <div class="prouct-details d-flex align-items-center justify-content-between">
                                            <p class="mb-0 text-md--2"> {{relatedItem.name}} </p>
                                        </div>
                                        <div class="product-price">
                                            {{relatedItem.amount | formatCurrency}}
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        shop: {
            type: Object,
            required: true,
        },
        type: {
            type: String,
            required: true
        }
    },
    data(){
        return {
            relatedItems: [],
            images: [],
            image: "https://lonux.s3.us-east-2.amazonaws.com/dummy.png"
        }
    },
    methods: {
        addToCart: function(shop){
            const item = {
                name: shop.item.name,
                quantity: 1,
                amount: shop.item.amount,
                lat: shop.lat,
                lng: shop.lng,
                shop_item_id: shop.item.id,
                images: shop.item.images,
                shop_name: shop.shop_name,
                shop_id: shop.id,
                distance: shop.distance
            }
            this.$store.dispatch('addToCartAction', item)

            this.$toasted.show( "Item added to cart", {
                type: "success",
                duration: 2000
            })
        },
        setImage: function(val) {
            this.image = "https://lonux.s3.us-east-2.amazonaws.com/dummy.png"
            if (val) this.image = val.split(',')[0] 
        },
        getRelatedItems: function(shop_id, item_id){
            axios.get(this.pathOrigin+'/get_related_items/'+shop_id+'/'+item_id)
            .then(res=>{
                this.relatedItems = res.data.data
            })
            .catch(err=>{
                console.log(err)
            })
        },
        formatImages: function(images){
            if(images) {
                const arr = images.split(',');
                arr.shift()
                this.images = arr
            } else {
                this.images = []
            }
        },
        changeFocusImage: function(image, index){
            this.images[index] = this.image
            this.image = image
        }
    }

}
</script>

<style>

</style>