<template>
    <!-- Product Popup -->
    <div class="modal fade rounded-2" id="orderDetails" tabindex="-1" aria-labelledby="orderDetails" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-sm-5">
                    <div class="row pb-3 mb-5">
                        <div class="col-12" v-if="cartOrders.length">
                            <p v-for="(order, index) in cartOrders" :key="index">{{ order.name }} X {{order.quantity}} - {{(order.amount * order.quantity) | formatCurrency}} from <strong>{{order.shop_name}}</strong></p>
                        </div>
                        <div class="col-12" v-if="savedOrders.length">
                            <p v-for="(order, index) in savedOrders" :key="index">{{ order.item_data.name }} X {{order.item_data.quantity}} - {{(order.item_data.amount * order.item_data.quantity) | formatCurrency}} from <strong>{{order.item_data.shop_name}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "OrderDetails",
    props: {
        orders: {
            type: Array,
            required: true,
        },
    },
    data(){
        return {
            cartOrders: [],
            savedOrders: []
        }
    },
    mounted(){},
    methods: {
        bootModal(arr, bool){
            this.savedOrders = []
            this.cartOrders = []

            if (bool) {
                this.cartOrders = arr
            } else {
                arr.map(orders=> {
                    try {
                        orders.item_data = JSON.parse(orders.item_data)
                    } catch (error) {
                        
                    }
                    
                })
                this.savedOrders = arr
            }
        }
    }

}
</script>

<style>

</style>