<template>
    <sweet-modal :blocking="true" :enable-mobile-fullscreen="true" ref="orderCompleted" icon="success">
        This order has been completed successfully

        <button @click="gotoOrdersPage()" class="btn btn-primary" slot="button">View Orders</button>
    </sweet-modal>
</template>

<script>
    import { SweetModal } from 'sweet-modal-vue'
    export default {
        components: {SweetModal },
        methods: {
            gotoOrdersPage(){
                window.location.href = this.pathOrigin + "/user/orders"
            }
        }
    }
</script>

<style>

</style>