<template>
  <!-- sweet modal rating-->
    <sweet-modal :blocking="true" :enable-mobile-fullscreen="true" ref="ratingModal" icon="success" v-if="tripObj">
        You have finally arrived at <span v-if="isFinalDestination">your final desfination</span> <strong>{{tripObj.shop.shop_name}}</strong> 
        <p>Please leave a review of this shop.</p>
        <div class="form-group row justify-content-center">
            <star-rating v-model="rating.rating" :increment="0.01"></star-rating>
        </div>
        <div class="form-group">
            <label>Review (optional)</label>
            <textarea placeholder="your review text... (optional)" class="form-control" v-model="rating.desc"></textarea>
        </div>
        <button @click="publishReview()" id="publishReviewButton" class="btn btn-primary" slot="button">{{button_text}}</button>
        <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
    </sweet-modal>
</template>

<script>
    import StarRating from 'vue-star-rating'
    import { SweetModal } from 'sweet-modal-vue'
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    import { lonuxbus } from '../../../../app'
    export default {
        props: {
            tripObj: {
                required: true,
                type: Object
            },
            button_text: {
                required: true,
                type: String
            },
            isFinalDestination: {
                type: Boolean,
                required: true
            }
        },
        data(){
            return {
                rating: {},
            }
        },
        methods: {
            publishReview: function () {
                if (!this.rating.rating) {
                    alert("please rate shop before publishing")
                    return
                }
                $('#publishReviewButton').attr('disabled', true)
                this.loader.loading = true;
                this.rating.shop_id = this.tripObj.shop.id;
                axios.post(this.pathOrigin+'/save_rating', this.rating)
                .then( res => {
                    this.$refs.ratingModal.close();
                    this.loader.loading = false
                    lonuxbus.$emit('rating_closed')
                    $('#publishReviewButton').text('Review published')
                }) 
                .catch( err => {
                    this.loader.loading = false
                    alert("We could not save your review, please try again.")
                })
                .finally( () => {
                    $('#publishReviewButton').attr('disabled', false)
                })
            }
        },
        components: {
            StarRating,
            SweetModal,
            ClipLoader
        }
    }
</script>

<style>

</style>