<template>
  <div>
    <input type="text" id="search-input" placeholder="Search unicorns..." />
    <!--<ais-instant-search :search-client="searchClient" index-name="items">
     setting the query from the first instance on the second instance 
      <ais-configure :query="query" />
        <ais-hits>
          <div slot="item" slot-scope="{ item }">
            <ais-highlight :hit="item" attribute="item_name" v-if="item.item_name" />
            <strong>$ {{ item.price }}</strong> <img :src="item.image" />-
          </div>
        </ais-hits>

      <ais-autocomplete>
        <template slot-scope="{ currentRefinement, indices, refine }">
          <vue-autosuggest
            :suggestions="indicesToSuggestions(indices)"
            @selected="onSelect"
            :input-props="{
              style: 'width: 100%',
              onInputChange: refine,
              placeholder: 'Search here…',
            }"
          >
            <template slot-scope="{ suggestion }">
              <ais-highlight
                :hit="suggestion.item"
                attribute="item_name"
                v-if="suggestion.item.item_name"
              />
              <strong>$ {{ suggestion.item.item_name }}</strong>
              <img :src="'https://via.placeholder.com/150'"> 
            </template>
          </vue-autosuggest>
        </template>
      </ais-autocomplete>
    </ais-instant-search> -->
  </div>
</template>

<script>
// import algoliasearch from 'algoliasearch/lite';
// var algoliasearch = require('../../../../public/algoliasearch.min')
import algoliasearch from '../../../../public/js/algoliasearch.min'
import autocomplete from '../../../../public/js/autocomplete.jquery.min'
import { VueAutosuggest } from 'vue-autosuggest';
// import autocomplete from 'autocomplete.js'

export default {
  components: { VueAutosuggest },
  data() {
    return {
      searchClient: algoliasearch(
        'KXTSLO4TQ3',
        'f13957d8159b58bc968b20b97c1c1a45'
      ),
      query: '',
    };
  },
  // created(){
  //  let algolia = document.createElement('script')
  //     algolia.setAttribute('src', 'https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
  //     document.head.appendChild(algolia)
  // },
  mounted(){
    console.log(autocomplete)
    var client = algoliasearch('KXTSLO4TQ3', 'f13957d8159b58bc968b20b97c1c1a45')
    var index = client.initIndex('items');
    $('#search-input').autocomplete({ hint: false }, [
      {
        source: autocomplete.sources.hits(index, { hitsPerPage: 5 }),
        displayKey: 'item_name',
        templates: {
          suggestion: function(suggestion) {
            return suggestion._highlightResult.item_name.value;
          }
        }
      }
    ]).on('autocomplete:selected', function(event, suggestion, dataset, context) {
      console.log(event, suggestion, dataset, context);
    });
  },
  methods: {
    newHitsSource: function(index, params){
      return function doSearch(query, cb) {
        index
          .search(query, params)
          .then(function(res) {
            cb(res.hits, res);
          })
          .catch(function(err) {
            console.error(err);
            cb([]);
          });
      };
    },
    onSelect(selected) {
      if (selected) {
        this.query = selected.item.item_name;
      }
    },
    indicesToSuggestions(indices) {
      return indices.map(({ hits }) => ({ data: hits }));
    },
  },
};
</script>
<style scoped>
	ol{
		background-color: 'white';
	}
</style>