<template>
    <!-- Product Popup -->
    <div class="modal fade rounded-2" id="orderDetails" tabindex="-1" aria-labelledby="orderDetails" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-sm-5">
                    <div class="row pb-3 mb-5">
                        <div class="col-12" v-if="businessOrder">
                            <p>{{ businessOrder.name }} X {{businessOrder.quantity}} - {{(businessOrder.amount * businessOrder.quantity) | formatCurrency}} from <strong>{{businessOrder.shop_name}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "OrderDetails",
    props: {
        order: {
            type: Object,
            required: true,
        },
    },
    data(){
        return {
            businessOrder: {}
        }
    },
    mounted(){},
    methods: {
        bootModal(Obj){
            this.businessOrder = Obj
        }
    }

}
</script>

<style>

</style>