<template>

    <div class="breadcrumb">
        <slot></slot>

        <div class="breadcrump-list">

            <div class="d-inline-block" v-for="(item, index) in list"  :key="index">
                <a :href="pathOrigin + '/'+item" v-if="index != list.length - 1">
                    {{item}}/&nbsp;
                </a>
                <span v-else>
                    {{ item}}
                </span>

            </div>
        </div>
    </div>

</template>

<script>
export default {
    name: 'Breadcrumb',
    props: {
        list: {
            type: Array
        }
    }
}
</script>
