<template>
	<div class="fade modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-xl h-75" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">Items</div>
				</div>
				<div class="modal-body text-center" style="min-height:500px;">
					<div class="row justify-content-center h-75">
						<fade-loader :loading="loader.loading" :color="loader.color" style="margin-top:240px;"></fade-loader>
                        <div v-if="!loader.loading">
                            <table class="table table-striped table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th colspan="6">
                                            <label>Items Category:</label>
                                            <input type="text" v-model="categoryItems.item">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Available in Stock</th>
                                        <th scope="col">Sold in</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody v-if="categoryItems.items.length">
                                    <tr v-for="(item,index) in categoryItems.items" :key="index">
                                        <td scope="row">{{index+1}}</td>
                                        <td>
                                            <input type="text" v-model="item.name">
                                        </td>
                                        <td>
                                            <input type="number" v-model="item.amount">
                                        </td>
                                        <td>
                                            <input type="number" v-model="item.available_in_stock">
                                        </td>
                                        <td>
                                            <select v-model="item.sold_in">
                                                <option :value="item.sold_in" selected>{{item.sold_in}}</option>
                                                <option>{{item.sold_in == 'retail' ? 'wholeSale' : 'retail'}}</option>
                                            </select>
                                            
                                        </td>
                                        <td>
                                            <button @click="updateItem(item)" class="btn btn-sm btn-info">Update</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td>No items in this category!</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
					</div>
				</div>
				<div class="modal-footer">
			    	<button id="closeModal" @click="closeModal" class="btn btn-lonux text-uppercase">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import FadeLoader from 'vue-spinner/src/FadeLoader.vue'
export default { 

    name: 'Modal',
	props: ['categoryId'],

    data () {
    	return {
    		catId: null,
    		loader: {
    			loading: true,
    		},
            formdata: {},
            items: {},
            text: "item",
            categoryItems: [],
    	}
    },
    mounted(){
        console.log(this.$toasted)
    	this.loader.color = this.GlobalColor
    	if (this.categoryId) {
    		this.getItemCategoryItems(this.categoryId)
    		$('div.modal').modal({
    			show: true,
    			// backdrop: false,
    		})
    	}
    },
    methods: {
    	closeModal: function(){
    		$('div.modal').modal('hide')
            this.$emit('hideModal')
    	},
        getItemCategoryItems: function(id){
            let prop = id+this.text
            axios.get(this.pathOrigin+'/get_category_items/'+id)
                .then(response=>{
                    this.items[prop] = response.data
                    this.categoryItems = this.items[prop]
                    this.loader.loading = false
                })
                .catch(error=>{
                    console.log(error)
                })
        },
        updateItem: function(item){
            console.log(item)
            let toast = this.lotoaster("Updating Item...", "info","hourglass_empty")
            axios.post(this.pathOrigin+'/update_single_shop_item', item)
                .then(res=>{
                    toast.text('Item Updated!').goAway(1000);
                })
                .catch(err=>{
                    toast.text('Error Updating Item, Try again');
                })
        },
        lotoaster: function(message,type,icon){
            let toaster = this.$toasted.show(message, {
                            theme: "outline",
                            position: 'bottom-right',
                            iconPack: 'fontawesome',
                            type: type,
                            icon: icon,
                        });

            return toaster;
        }
    },
    watch: {
    	categoryId: function(newVal,oldVal){
            let prop = newVal+this.text
            if (typeof this.items[prop] !== "undefined") {
                this.categoryItems = this.items[prop]
            }else{
                this.loader.loading = true
                this.getItemCategoryItems(newVal)
            }
    		$('div.modal').modal({
    			show: true,
    			// backdrop: false,
    		})
    	}
    },
    components: {
    	FadeLoader: FadeLoader,
  	}
};
</script>

<style lang="css" scoped>
    input{
        background-color: transparent;
        border: none;
    }
    input:focus{
        outline: none;
    }
</style>