<template>
	<div>
        <div>
            <span v-if="manager"><strong>shop status:</strong></span>
	        <span>{{statusText}}</span>
            <label class="switch">
            <input v-model="shopIsOn" type="checkbox">
            <span class="slider round"></span>
            </label><br>
        </div>
	</div>
</template>

<script>
export default {
    props: ['shopKey','manager'],
	name: 'OnAndOff',

	data () {
	  return {
	  	shopIsOn: false,
	  	statusText: "Closed",
        formdata: {},
	  }
	},
    mounted(){
        this.getShopStatus();
    },
    methods: {
        getShopStatus: function(){
            let url = this.manager ? this.pathOrigin+'/m/get_shop_status/'+this.shopKey : this.pathOrigin+'/get_shop_status/'+this.shopKey
            axios.get(url)
                .then(res=>{
                    if (parseInt(res.data.data) == 1) {
                        this.shopIsOn = true
                    }else{
                        this.shopIsOn = false
                    }
                })
                .catch(err=>{
                    console.log(err)
                })
        },
        toggleStopStatus: function(status){
            let url = this.manager ? this.pathOrigin+'/m/update_shop_status/'+this.shopKey : this.pathOrigin+'/update_shop_status/'+this.shopKey
            this.formdata.status = status;
            axios.post(url, this.formdata)
                .then(response=>{
                    console.log(response)
                })
                .catch(error=>{
                    console.log(error)
                })
        }
    },
    watch: {
    	shopIsOn: function(val){
    		if (val) {
                this.toggleStopStatus(1);
    			this.statusText = "Open"
    		}else{
                this.toggleStopStatus(0);
    			this.statusText = "Closed"
    		}
    	}
    }
};
</script>

<style lang="css" scoped>
/* The switch - the box around the slider */

</style>