<template>
    <div class="row">
        <div class="search-form-field position-relative" autocomplete="off">
            <div class="form-group m-0">
                <input type="text" id="search-input-field" class="form-control border" placeholder="search for item">
                <p class="algolia-autocomplete aa-hint aa-dropdown-menu aa-suggestion algolia-results algolia-thumb" style="display:none"></p>
            </div>
        </div>
    </div>
</template>

<script>
    import { lonuxbus } from '../../app.js'
    export default{
        data(){
            return {
                searchQuery: '',
                searchSuggestion: [],
                
            }
        },
        mounted(){            
            var client = algoliasearch('KXTSLO4TQ3', 'f13957d8159b58bc968b20b97c1c1a45')
            var index = client.initIndex('Lonux_items');
            // var index = client.initIndex('devitems');
            const vue = this

            $('input#search-input-field').autocomplete({
                hint: false
            }, [{
                source: $.fn.autocomplete.sources.hits(index, {
                    hitsPerPage: 5
                }),
                displayKey: 'item_name',
                templates: {
                    suggestion: function(suggestion) {
                        const markup = `<div class="algolia-results">
                            <div class="col-4">
                                <img src="${vue.getImage(suggestion.images)}" class="algolia-thumb">
                            </div>
                            <div class="col-8 text-left">
                                <h5>${suggestion.item_name} - ${suggestion.item_type == 'shop_item' ? 'item sale' : 'services'}</h5>
                                <p class="text-muted">${vue.formatPrice(suggestion.item_cost)}</p>
                            </div>
                        </div>`
                        return markup
                    },
                    empty: function(result) {
                        return `Sorry, lonux does not have <strong>${result.query}</strong> at this time`
                    }
                }
            }]).on('autocomplete:selected', function(event, suggestion, dataset, context) {
                window.location.href = `${window.location.origin}/search?q=${suggestion.item_name}&type=${suggestion.item_type}`
            });

        },
        methods: {
            formatPrice(value){
                const formatter = new Intl.NumberFormat('ja-JP', { style: 'currency', currency: 'NGN' });

                return formatter.format(value)
            },
            runSearch(){
			    window.location.href = `${this.pathOrigin}/search?q=${this.searchQuery}`
		    },
            triggerSuggestions: _.debounce((val) => {
			    lonuxbus.$emit('searchSuggestions')
		    },500),
            getSearchSuggestions(){
                if(this.searchQuery){
                    axios.get(this.pathOrigin+'/get_item_suggestions/'+this.searchQuery)
                    .then(res=>{
                        this.searchSuggestion = [];
                        this.highlightMatch(res.data.data)
                        
                    })
                    .catch(err=>{
                        console.log(err)
                    })
                }
                
            },
            highlightMatch: function(dataArray){
                let len = this.searchQuery.length
                dataArray.map( data =>{
                    let dataObj = {};
                    let match = data.substr(0, len)
                    let remTxt = data.substr(len, data.length)
                    dataObj.name = data
                    dataObj.match = match
                    dataObj.remTxt = remTxt
                    this.searchSuggestion.push(dataObj)
                })
                console.log(this.searchSuggestion)
            }
        }

    }
</script>

<style>
    .algolia-autocomplete {
        width: 100% !important;
    }

    .algolia-autocomplete .aa-input,
    .algolia-autocomplete .aa-hint {
        width: 100% !important;
    }

    .algolia-autocomplete .aa-hint {
        color: #999;
    }

    .algolia-autocomplete .aa-dropdown-menu {
        width: 100% !important;
        background-color: #fff;
        border: 1px solid #999;
        border-top: none;
        position: relative;
        padding: 0;
        top: 100%;
        left: 0;
    }

    .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
        cursor: pointer;
        padding: 5px 4px;
    }

    .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
        background-color: #B2D7FF;
    }

    .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
        font-weight: bold;
        font-style: normal;
    }

    .algolia-results{
        text-align: left !important;
        display: flex;
        justify-content: left !important;
        align-items: center !important;
    }
    .algolia-thumb{
        max-width: 100%;
        max-height: 55px;
    } 
</style>
