<template>
    <div class="sidebar" :class="{'opened': toggle == true}">
        <a href="/" class="navbar-brand sidebar-head">
            <img :src="pathOrigin + '/img/lonux-logo-01.svg'" alt="Lonux" height="33">
        </a>
         <span class="close" :class="{'d-inline-block': toggle == true}" @click="toggle = false">
            &times; 
        </span>
        <ul class="nav flex-column">
            <!-- home  -->
            <li class="nav-item">
                <a href="#" @click.prevent="routePage('business_home')" :class="{active: activeUrl == 'business_home'}">
                    <i class="material-icons">home</i>
                    Home
                </a>
            </li>

            <!-- Add shop -->
            <li class="nav-item">
                <a href="#" @click.prevent="routePage('add_new_shop')" :class="{active: activeUrl == 'add_new_shop', btn:true, disabled:navEnabled}">
                    <i class="material-icons">add</i>
                    Add Shop
                </a>
            </li>

            <!-- shops -->
            <li class="nav-item">
                <a href="#" @click.prevent="routePage('shops')" :class="{active: activeUrl == 'shops', btn:true, disabled:navEnabled}">
                    <i class="material-icons">shop</i>
                    Shops
                </a>
            </li>

            <!-- shops -->
            <li class="nav-item">
                <a href="#" @click.prevent="routePage('orders')" :class="{active: activeUrl == 'orders', btn:true, disabled:navEnabled}">
                    <i class="material-icons">star_border</i>
                    Orders
                </a>
            </li>

            <!-- managers -->
            <li class="nav-item">
                <a href="#" @click.prevent="routePage('shop_managers')" :class="{active: activeUrl == 'shop_managers', btn:true, disabled:navEnabled}">
                    <i class="material-icons">supervisor_account</i>
                    Managers
                </a>
            </li>

            <!-- business manager -->
            <!--<li class="nav-item">
                <a href="#" @click.prevent="navigatePage('Business Manager')" :class="{active: activeUrl == 'business_manager'}">
                    <i class="material-icons">account_circle</i>
                    Business manager
                </a>
            </li> -->
            <!-- statistics -->
            <li class="nav-item">
                <a href="#" @click.prevent="routePage('statistics')" :class="{active: activeUrl == 'statistics', btn:true, disabled:navEnabled}">
                    <i class="material-icons">insert_chart</i>
                    Statistics
                </a>
            </li>
            <!-- business settings -->
            <li class="nav-item">
                <a href="#" @click.prevent="routePage('manage_business')" :class="{active: activeUrl == 'manage_business', btn:true, disabled:navEnabled}">
                    <i class="material-icons">card_travel</i>
                    Business Settings
                </a>
            </li>
        </ul>

        <ul class="nav flex-column sidebar-extra">
            <li class="nav-item">
                <a href="https://manager.lonux.com.ng/" target="blank" :class="{btn:true, disabled:navEnabled, 'nav-link':true}">Managers Portal</a>
            </li>
            	<!-- logout form -->
                <form id="logout-form" :action="pathOrigin+'/logout'" method="POST" style="display: none;">
                    <input type="text" id="csrf" name="_token">
                </form>
            <li class="nav-item">
                <a href="#" @click.prevent="logout()" class="nav-link text-danger">Logout</a>
            </li>
        </ul>
    </div>
</template>

<script>
import {lonuxbus} from '../../app.js'
    export default {

        name: 'SidenavComponent',

        data () {
            return {
                csrf: window.lonux.csrf_token,
                toggle: false,
                activeUrl: 'business_home',
            }
        },
        methods:{
            logout: function(){
                $('form#logout-form').find('input#csrf').val(this.csrf)
                $('form#logout-form').submit()
            },
            navigatePage: function(str){
                this.toggle = false
                this.activeUrl = str === 'Business Manager' ? 'business_manager' : 'selling_statistics'
                this.$router.push({name: 'underconstruction', params: {pageTitle: str} })
            },
            routePage: function(path){
                this.toggle = false
                this.activeUrl = path
                this.$router.push(`/home/${path}`)
            }
        },
        computed: {
            pageTitle: function(){
                return this.$store.state.page.title
            },
            navEnabled: function(){
                return !this.hasShops
            }
        },
         created(){
            lonuxbus.$on('toggleSidebar', (data)=>{
                this.toggle = true;
                console.log('toggled');
            });
        }
    };
</script>