<template>
    <div class="topnav">

        <!-- display on mobile -->
         <a href="/" class="navbar-brand  topnav-logo" >
            <img :src="pathOrigin + '/img/lonux-icon.svg'" alt="Lonux" height="33"> | Dashboard
        </a>

        <button class="navbar-lonux-toggler ml-auto topnav-toggler" id="nav-toggle" type="button" @click.prevent="toggleSidebar">
            <span class="navbar-toggler-icon">
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 13H17M1 1H17H1ZM1 7H17H1Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </button>



        <!-- display on desktop -->
        <form @submit.prevent="searchForItem()">
            <div class="form-group">
                <input type="search" autocomplete="off" v-model="searchItem" name="search" id="search" class="form-control" placeholder="search for an item">
            </div>
        </form>

        <div class="topnav-info">
            <a href="#" class="notification-badge">
                <i class="material-icons">notifications</i>
            </a>

            <!-- <a href="#" class="img-profile-avatar img-profile-avatar-sm">
                <img src="https://api.adorable.io/avatars/269/abott@adorable.png" alt="avatar" >
            </a> -->

            <div class="dropdown">
                <a href="#" class="img-profile-avatar img-profile-avatar-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://api.adorable.io/avatars/269/abott@adorable.png" alt="avatar" >
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Profile setting</a>
                    <a class="dropdown-item text-danger" href="#">Logout</a>
                   
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {lonuxbus} from '../../app.js'
export default {
    name : 'topnavComponent' ,
    data(){
        return {
            searchItem: '',
        }
    },
    methods: {
        toggleSidebar(){
            lonuxbus.$emit('toggleSidebar', {
                toggle: ''
            });
        },
        searchForItem: function(){
            if (this.searchItem) {
                window.location.href = `${this.pathOrigin}/search?q=${this.searchItem}`
            }
        }
    }   
}
</script>